moloch-help {

  pre { padding: 16px 0 0 0; }

  .header-input { width:70%; }

  .container-help { margin-top: 72px; }

  hr {
    margin-top    : 32px;
    margin-bottom : 32px;
  }

  .dl-horizontal {
    dt { width: 85px; }
    dd { margin-left: 100px; }
  }

  ul {
    &.nav-pills { min-width: 200px; }

    li {
      a { padding: 5px 8px !important; }

      &.nested {
        margin-left : 2.4em;
        font-size   : 0.85em;

        a { padding: 2px 5px !important; }
      }
    }
  }

  table {
    tr {
      max-height: 100px;

      // animations for filtering table contents
      &.ng-move, &.ng-enter, &.ng-leave {
        -webkit-transition: all 400ms linear;
           -moz-transition: all 400ms linear;
                transition: all 400ms linear;
      }

      &.ng-move, &.ng-enter,
      &.ng-leave.ng-leave-active {
        opacity   : 0;
      }

      &.ng-enter.ng-enter-active,
      &.ng-leave, &.ng-move.ng-move-active {
        opacity   : 1;
      }
    }
  }

}
