moloch-settings .label-lg {
  padding     : .3em 1.2em .5em;
  font-size   : 100%;
  margin-left : 1em;
}

moloch-settings .label-md {
  font-size: 85%;
}

moloch-settings input.short-control,select.short-control {
  width   : 50%;
  display : inline-block;
}

moloch-settings form {
  min-height: 250px;
}


/* theme displays ----------------- */
moloch-settings .control-label {
  font-weight: bolder;
}

moloch-settings .theme-display {
  overflow      : hidden;
  border-radius : 6px;
  padding-bottom: 20px;
}

moloch-settings .navbar {
  min-height    : 20px;
  height        : 30px;
  border-radius : 6px 6px 0 0;
  z-index       : 999;

  -webkit-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
     -moz-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
          box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
}
moloch-settings .navbar-inverse {
  margin-bottom: 1px;
}
moloch-settings .navbar-inverse li.active a {
  font-weight : 500;
  height      : 38px;
}
moloch-settings .navbar-inverse .navbar-brand {
  height      : 30px;
  line-height : 0;
  color       : #CCCCCC;
}
moloch-settings .navbar-inverse .navbar-nav {
  height      : 30px;
  line-height : 0;
  color       : #CCCCCC;
  margin-top  : -10px;
}
moloch-settings .navbar-inverse .navbar-text {
  margin-top  : 3px;
  margin-right: 10px;
  color       : #00AA00;
}

moloch-settings .display-sub-navbar {
  height  : 40px;
  position: relative;

  -webkit-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
     -moz-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
          box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
}
moloch-settings .display-sub-navbar .input-group {
  padding-top : 4px;
}
moloch-settings .display-sub-navbar .display-sub-navbar-buttons {
  margin-top : -5px;
}

moloch-settings .display-sub-sub-navbar {
  border-radius : 0 0 6px 6px;
  margin-top: -6px;
  padding-top: 6px;
}

/* default */
moloch-settings .default-theme .navbar {
  background-color: #530763;
  border-color    : #360540;
}

moloch-settings .default-theme .navbar-inverse li.active a {
  color           : #FFFFFF;
  background-color: #360540 !important;
}

moloch-settings .default-theme .input-group-addon {
  color           : #333333;
  background-color: #EEEEEE;
  border-color    : #CCCCCC;
}

moloch-settings .default-theme .display-sub-navbar {
  background-color: #EDFCFF;
}
moloch-settings .default-theme .display-sub-navbar ul.dropdown-menu li.active a {
  background-color: #830B9C;
}

moloch-settings .default-theme .display-sub-sub-navbar {
  background-color: #FFF7E5;
}
moloch-settings .default-theme .display-sub-navbar .text-theme-accent,
moloch-settings .default-theme .display-sub-sub-navbar session-field .field a.value {
  color: #76207d;
}

moloch-settings .default-theme .display-sub-navbar .btn-theme-primary-display {
  color           : #FFFFFF;
  background-color: #830B9C;
  border-color    : #530763;
}
moloch-settings .default-theme .display-sub-navbar .btn-theme-secondary-display {
  color           : #FFFFFF;
  background-color: #1F1FA5;
  border-color    : #1A1A87;
}
moloch-settings .default-theme .display-sub-navbar .btn-theme-tertiary-display {
  color           : #FFFFFF;
  background-color: #079B72;
  border-color    : #077D5C;
}
moloch-settings .default-theme .display-sub-navbar .btn-theme-quaternary-display {
  color           : #FFFFFF;
  background-color: #ECB30A;
  border-color    : #CD9A09;
}

/* blue */
moloch-settings .blue-theme .navbar {
  background-color: #163254;
  border-color    : #000000;
}

moloch-settings .blue-theme .navbar-inverse li.active a {
  color           : #FFFFFF;
  background-color: #000000 !important;
}

moloch-settings .blue-theme .input-group-addon {
  color           : #333333;
  background-color: #EEEEEE;
  border-color    : #CCCCCC;
}

moloch-settings .blue-theme .display-sub-navbar {
  background-color: #DBECE7;
}
moloch-settings .blue-theme .display-sub-navbar ul.dropdown-menu li.active a {
  background-color: #214B78;
}

moloch-settings .blue-theme .display-sub-sub-navbar {
  background-color: #FFF7E5;
}
moloch-settings .blue-theme .display-sub-navbar .text-theme-accent,
moloch-settings .blue-theme .display-sub-sub-navbar session-field .field a.value {
  color: #9A4E93;
}

moloch-settings .blue-theme .display-sub-navbar .btn-theme-primary-display {
  color           : #FFFFFF;
  background-color: #214B78;
  border-color    : #530763;
}
moloch-settings .blue-theme .display-sub-navbar .btn-theme-secondary-display {
  color           : #FFFFFF;
  background-color: #3D7B7E;
  border-color    : #306264;
}
moloch-settings .blue-theme .display-sub-navbar .btn-theme-tertiary-display {
  color           : #FFFFFF;
  background-color: #42B7C5;
  border-color    : #33919b;
}
moloch-settings .blue-theme .display-sub-navbar .btn-theme-quaternary-display {
  color           : #FFFFFF;
  background-color: #ECB30A;
  border-color    : #CD9A09;
}

/* green */
moloch-settings .green-theme .navbar {
  background-color: #2A6E3d;
  border-color    : #235A32;
}

moloch-settings .green-theme .navbar-inverse li.active a {
  color           : #FFFFFF;
  background-color: #235A32 !important;
}

moloch-settings .green-theme .input-group-addon {
  color           : #333333;
  background-color: #EEEEEE;
  border-color    : #CCCCCC;
}

moloch-settings .green-theme .display-sub-navbar {
  background-color: #DBECE7;
}
moloch-settings .green-theme .display-sub-navbar ul.dropdown-menu li.active a {
  background-color: #2A7847;
}

moloch-settings .green-theme .display-sub-sub-navbar {
  background-color: #FDFFE2;
}
moloch-settings .green-theme .display-sub-navbar .text-theme-accent,
moloch-settings .green-theme .display-sub-sub-navbar session-field .field a.value {
  color: #38738d;
}

moloch-settings .green-theme .display-sub-navbar .btn-theme-primary-display {
  color           : #FFFFFF;
  background-color: #2A7847;
  border-color    : #2A6E3d;
}
moloch-settings .green-theme .display-sub-navbar .btn-theme-secondary-display {
  color           : #FFFFFF;
  background-color: #3D7B7E;
  border-color    : #306264;
}
moloch-settings .green-theme .display-sub-navbar .btn-theme-tertiary-display {
  color           : #FFFFFF;
  background-color: #91C563;
  border-color    : #7EAA57;
}
moloch-settings .green-theme .display-sub-navbar .btn-theme-quaternary-display {
  color           : #FFFFFF;
  background-color: #BECF14;
  border-color    : #ADBC12;
}

/* cotton candy */
moloch-settings .cotton-candy-theme .navbar {
  background-color: #B0346D;
  border-color    : #9B335A;
}

moloch-settings .cotton-candy-theme .navbar-inverse li.active a {
  color           : #FFFFFF;
  background-color: #9B335A !important;
}

moloch-settings .cotton-candy-theme .input-group-addon {
  color           : #333333;
  background-color: #EEEEEE;
  border-color    : #CCCCCC;
}

moloch-settings .cotton-candy-theme .display-sub-navbar {
  background-color: #D7F1FF;
}
moloch-settings .cotton-candy-theme .display-sub-navbar ul.dropdown-menu li.active a {
  background-color: #C43D75;
}

moloch-settings .cotton-candy-theme .display-sub-sub-navbar {
  background-color: #FFF8DD;
}
moloch-settings .cotton-candy-theme .display-sub-navbar .text-theme-accent,
moloch-settings .cotton-candy-theme .display-sub-sub-navbar session-field .field a.value {
  color: #9A4E93;
}

moloch-settings .cotton-candy-theme .display-sub-navbar .btn-theme-primary-display {
  color           : #FFFFFF;
  background-color: #C43D75;
  border-color    : #B0346D;
}
moloch-settings .cotton-candy-theme .display-sub-navbar .btn-theme-secondary-display {
  color           : #FFFFFF;
  background-color: #3CAED2;
  border-color    : #389BBE;
}
moloch-settings .cotton-candy-theme .display-sub-navbar .btn-theme-tertiary-display {
  color           : #FFFFFF;
  background-color: #079B72;
  border-color    : #077D5C;
}
moloch-settings .cotton-candy-theme .display-sub-navbar .btn-theme-quaternary-display {
  color           : #FFFFFF;
  background-color: #F39C12;
  border-color    : #D78A10;
}

/* green on black */
moloch-settings .dark-2-theme .navbar {
  background-color: #363A7D;
  border-color    : #2F2F5F;
}

moloch-settings .dark-2-theme .navbar-inverse li.active a {
  color           : #FFFFFF;
  background-color: #2F2F5F !important;
}

moloch-settings .dark-2-theme .display-sub-navbar {
  background-color: #0F2237;
}
moloch-settings .dark-2-theme .display-sub-navbar ul.dropdown-menu li.active a {
  background-color: #444A9B;
}

moloch-settings .dark-2-theme .display-sub-sub-navbar {
  background-color: #191919;
}
moloch-settings .dark-2-theme .display-sub-navbar .text-theme-accent,
moloch-settings .dark-2-theme .display-sub-sub-navbar session-field .field a.value {
  color: #00CA16;
}

moloch-settings .dark-2-theme .display-sub-navbar .btn-theme-primary-display {
  color           : #FFFFFF;
  background-color: #444A9B;
  border-color    : #363A7D;
}
moloch-settings .dark-2-theme .display-sub-navbar .btn-theme-secondary-display {
  color           : #FFFFFF;
  background-color: #2E5D9B;
  border-color    : #264B7E;
}
moloch-settings .dark-2-theme .display-sub-navbar .btn-theme-tertiary-display {
  color           : #FFFFFF;
  background-color: #00BB20;
  border-color    : #009D1D;
}
moloch-settings .dark-2-theme .display-sub-navbar .btn-theme-quaternary-display {
  color           : #FFFFFF;
  background-color: #686868;
  border-color    : #4B4B4B;
}

moloch-settings .dark-2-theme .input-group-addon {
  color           : #C7C7C7;
  background-color: #111111;
  border-color    : #AAAAAA;
}

moloch-settings .dark-2-theme .dropdown-menu {
  color           : #C7C7C7;
  background-color: #111111;
  border-color    : #555555;
}

moloch-settings .dark-2-theme session-field .field:hover {
  z-index         : 4;
  background-color: #333333;
  border          : 1px solid #555555;
}
moloch-settings .dark-2-theme session-field ul.session-field-dropdown {
  background-color: #333333;
  border          : 1px solid #555555;
}
moloch-settings .dark-2-theme session-field ul.session-field-dropdown div > li > a {
  color: #C7C7C7;
}
moloch-settings .dark-2-theme session-field ul.session-field-dropdown div > li > a:hover {
  text-decoration : none;
  color           : #EEEEEE;
  background-color: #444444;
}

/* Dark Blue */
moloch-settings .dark-3-theme .navbar {
  background-color: #23837b;
  border-color    : #1B655F;
}

moloch-settings .dark-3-theme .navbar-inverse li.active a {
  color           : #FFFFFF;
  background-color: #1B655F !important;
}

moloch-settings .dark-3-theme .display-sub-navbar {
  background-color: #154369;
}
moloch-settings .dark-3-theme .display-sub-navbar ul.dropdown-menu li.active a {
  background-color: #2AA198;
}

moloch-settings .dark-3-theme .display-sub-sub-navbar {
  background-color: #460C3A;
}
moloch-settings .dark-3-theme .display-sub-navbar .text-theme-accent,
moloch-settings .dark-3-theme .display-sub-sub-navbar session-field .field a.value {
  color: #A6A8E2;
}

moloch-settings .dark-3-theme .display-sub-navbar .btn-theme-primary-display {
  color           : #FFFFFF;
  background-color: #2AA198;
  border-color    : #23837b;
}
moloch-settings .dark-3-theme .display-sub-navbar .btn-theme-secondary-display {
  color           : #FFFFFF;
  background-color: #268BD2;
  border-color    : #1F76B4;
}
moloch-settings .dark-3-theme .display-sub-navbar .btn-theme-tertiary-display {
  color           : #FFFFFF;
  background-color: #FF6E67;
  border-color    : #D75F59;
}
moloch-settings .dark-3-theme .display-sub-navbar .btn-theme-quaternary-display {
  color           : #FFFFFF;
  background-color: #D33682;
  border-color    : #B42C72;
}

moloch-settings .dark-3-theme .input-group-addon {
  color           : #ADC1C3;
  background-color: #002833;
  border-color    : #AAAAAA;
}

moloch-settings .dark-3-theme .dropdown-menu {
  color           : #ADC1C3;
  background-color: #002833;
  border-color    : #555555;
}

moloch-settings .dark-3-theme session-field .field:hover {
  z-index         : 4;
  background-color: #333333;
  border          : 1px solid #555555;
}
moloch-settings .dark-3-theme session-field ul.session-field-dropdown {
  background-color: #333333;
  border          : 1px solid #555555;
}
moloch-settings .dark-3-theme session-field ul.session-field-dropdown div > li > a {
  color: #ADC1C3;
}
moloch-settings .dark-3-theme session-field ul.session-field-dropdown div > li > a:hover {
  text-decoration : none;
  color           : #EEEEEE;
  background-color: #444444;
}

/* Custom */
moloch-settings .custom-theme .navbar {
  background-color: var(--color-primary-dark);
  border-color    : var(--color-primary-darker);
}

moloch-settings .custom-theme .navbar-inverse li.active a {
  color           : #FFFFFF;
  background-color: var(--color-primary-darker) !important;
}

moloch-settings .custom-theme .display-sub-navbar {
  background-color: var(--color-secondary-lightest);
}
moloch-settings .custom-theme .display-sub-navbar ul.dropdown-menu li.active a {
  background-color: var(--color-primary);
}

moloch-settings .custom-theme .display-sub-sub-navbar {
  background-color: var(--color-quaternary-lightest);
}
moloch-settings .custom-theme .display-sub-sub-navbar session-field .field a.value {
  color: var(--color-foreground-accent);
}

moloch-settings .custom-theme .display-sub-navbar .btn-theme-primary-display {
  color           : #FFFFFF;
  background-color: var(--color-primary);
  border-color    : var(--color-primary-dark);
}
moloch-settings .custom-theme .display-sub-navbar .btn-theme-secondary-display {
  color           : #FFFFFF;
  background-color: var(--color-secondary);
  border-color    : var(--color-secondary-dark);
}
moloch-settings .custom-theme .display-sub-navbar .btn-theme-tertiary-display {
  color           : #FFFFFF;
  background-color: var(--color-tertiary);
  border-color    : var(--color-tertiary-dark);
}
moloch-settings .custom-theme .display-sub-navbar .btn-theme-quaternary-display {
  color           : #FFFFFF;
  background-color: var(--color-quaternary);
  border-color    : var(--color-quaternary-dark);
}

moloch-settings .custom-theme .dropdown-menu {
  color           : var(--color-foreground);
  background-color: var(--color-background);
  border-color    : var(--color-gray-light);
}

moloch-settings .custom-theme session-field .field:hover {
  z-index         : 4;
  background-color: var(--color-white);
  border          : 1px solid var(--color-gray-light);
}
moloch-settings .custom-theme session-field ul.session-field-dropdown {
  background-color: var(--color-white);
  border          : 1px solid var(--color-gray-light);
}
moloch-settings .custom-theme session-field ul.session-field-dropdown div > li > a {
  color: var(--color-foreground);
}
moloch-settings .custom-theme session-field ul.session-field-dropdown div > li > a:hover {
  text-decoration : none;
  color           : var(--color-black);
  background-color: var(--color-gray-lighter);
}

moloch-settings .custom-theme .session-detail-ts {
  color   : var(--color-foreground-accent);
  padding : 0 4px;
}
moloch-settings .custom-theme .sessionsrc > pre {
  color: var(--color-src, #CA0404);
}
moloch-settings .custom-theme .sessiondst > pre {
  color: var(--color-dst, #0000FF);
}
