moloch-settings {

  .container-settings { margin-top: 72px; }

  .label-lg {
    padding     : .3em 1.2em .5em;
    font-size   : 100%;
    margin-left : 1em;
  }

  input.short-control {
    width   : 50%;
    display : inline-block;
  }

  .toast-container { margin-bottom: -8px; }

}
