<div class="container-fluid container-settings margin-for-main-and-sub-navbar">

  <div class="sub-navbar">
    <span class="sub-navbar-title">
      <span class="fa-stack">
        <span class="fa fa-cogs fa-stack-1x"></span>
        <span class="fa fa-square-o fa-stack-2x"></span>
      </span>&nbsp;
      <span>
        Settings
        <span ng-if="$ctrl.displayName">
          for {{::$ctrl.displayName}}
        </span>
      </span>
    </span>
    <div class="pull-right small toast-container">
      <toast message="$ctrl.msg" type="$ctrl.msgType"
        done="$ctrl.messageDone()"></toast>
    </div>
  </div>

  <loading ng-if="$ctrl.loading"></loading>

  <error ng-if="$ctrl.error" message="$ctrl.error"></error>

  <div class="row" ng-if="!$ctrl.loading && !$ctrl.error">

    <!-- navigation -->
    <div class="col-md-2 col-sm-3">
      <ul class="nav nav-pills nav-stacked affix">
        <li role="presentation" ng-class="{'active':$ctrl.visibleTab === 'general'}">
          <a class="pointer-cursor" ng-click="$ctrl.openView('general')">
            <span class="fa fa-fw fa-cog"></span>&nbsp;
            General
          </a>
        </li>
        <li role="presentation" ng-class="{'active':$ctrl.visibleTab === 'views'}">
          <a class="pointer-cursor" ng-click="$ctrl.openView('views')">
            <span class="fa fa-fw fa-eye"></span>&nbsp;
            Views
          </a>
        </li>
        <li role="presentation" ng-class="{'active':$ctrl.visibleTab === 'cron'}">
          <a class="pointer-cursor" ng-click="$ctrl.openView('cron')">
            <span class="fa fa-fw fa-search"></span>&nbsp;
            Cron Queries
          </a>
        </li>
        <li role="presentation" ng-class="{'active':$ctrl.visibleTab === 'col'}">
          <a class="pointer-cursor" ng-click="$ctrl.openView('col')">
            <span class="fa fa-fw fa-columns"></span>&nbsp;
            Column Configs
          </a>
        </li>
        <li role="presentation" ng-class="{'active':$ctrl.visibleTab === 'spiview'}">
          <a class="pointer-cursor" ng-click="$ctrl.openView('spiview')">
            <span class="fa fa-fw fa-eyedropper"></span>&nbsp;
            SPI View Configs
          </a>
        </li>
        <li role="presentation" ng-class="{'active':$ctrl.visibleTab === 'theme'}">
          <a class="pointer-cursor" ng-click="$ctrl.openView('theme')">
            <span class="fa fa-fw fa-paint-brush"></span>&nbsp;
            Themes
          </a>
        </li>
        <li role="presentation" ng-class="{'active':$ctrl.visibleTab === 'password'}">
          <a class="pointer-cursor" ng-click="$ctrl.openView('password')">
            <span class="fa fa-fw fa-lock"></span>&nbsp;
            Password
          </a>
        </li>
      </ul>
    </div>

    <!-- content -->
    <div class="col-md-10 col-sm-9">

      <!-- general settings -->
      <form class="form-horizontal" ng-if="$ctrl.visibleTab === 'general'" id="general">

        <h3>General</h3>

        <hr>

        <!-- timezone -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Timezone Format</label>
          <div class="col-sm-9">
            <div class="btn-group">
              <label class="btn btn-radio" ng-model="$ctrl.settings.timezone"
                uib-btn-radio="'local'" ng-change="$ctrl.updateTime()">local</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.timezone"
                uib-btn-radio="'gmt'" ng-change="$ctrl.updateTime()">gmt</label>
            </div>
            <label class="margined-left-xxlg text-theme-primary">
              {{$ctrl.date | date : $ctrl.dateFormat : $ctrl.settings.timezone}}
            </label>
          </div>
        </div>

        <hr>

        <!-- session detail format -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Session Detail Format</label>
          <div class="col-sm-9">
            <div class="btn-group">
              <label class="btn btn-radio" ng-model="$ctrl.settings.detailFormat"
                uib-btn-radio="'last'" ng-change="$ctrl.update()">last used</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.detailFormat"
                uib-btn-radio="'natural'" ng-change="$ctrl.update()">natural</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.detailFormat"
                uib-btn-radio="'ascii'" ng-change="$ctrl.update()">ascii</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.detailFormat"
                uib-btn-radio="'utf8'" ng-change="$ctrl.update()">utf8</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.detailFormat"
                uib-btn-radio="'hex'" ng-change="$ctrl.update()">hex</label>
            </div>
          </div>
        </div>

        <hr>

        <!-- number of packets -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Number of Packets</label>
          <div class="col-sm-9">
            <div class="btn-group">
              <label class="btn btn-radio" ng-model="$ctrl.settings.numPackets"
                uib-btn-radio="'last'" ng-change="$ctrl.update()">last used</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.numPackets"
                uib-btn-radio="'50'" ng-change="$ctrl.update()">50</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.numPackets"
                uib-btn-radio="'200'" ng-change="$ctrl.update()">200</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.numPackets"
                uib-btn-radio="'500'" ng-change="$ctrl.update()">500</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.numPackets"
                uib-btn-radio="'1000'" ng-change="$ctrl.update()">1,000</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.numPackets"
                uib-btn-radio="'2000'" ng-change="$ctrl.update()">2,000</label>
            </div>
          </div>
        </div>

        <hr>

        <!-- show packet timestamps -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Show Packet Timestamps</label>
          <div class="col-sm-9">
            <div class="btn-group">
              <label class="btn btn-radio" ng-model="$ctrl.settings.showTimestamps"
                uib-btn-radio="'last'" ng-change="$ctrl.update()">last used</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.showTimestamps"
                uib-btn-radio="'on'" ng-change="$ctrl.update()">on</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.showTimestamps"
                uib-btn-radio="'off'" ng-change="$ctrl.update()">off</label>
            </div>
          </div>
        </div>

        <hr>

        <!-- issue query on initial page load -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Issue Query on Page Load</label>
          <div class="col-sm-9">
            <div class="btn-group">
              <label class="btn btn-radio" ng-model="$ctrl.settings.manualQuery"
                uib-btn-radio="" ng-change="$ctrl.update()">yes</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.manualQuery"
                uib-btn-radio="true" ng-change="$ctrl.update()">no</label>
            </div>
          </div>
        </div>

        <hr>

        <!-- session sort -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Sort Sessions By</label>
          <div class="col-sm-9">
            <select class="form-control short-control" ng-model="$ctrl.settings.sortColumn"
              ng-change="$ctrl.update();">
              <option value="last">Last Used</option>
              <option ng-repeat="field in ::$ctrl.columns"
                value="{{::field.dbField}}" ng-if="!field.unsortable">
                {{::field.friendlyName}}
              </option>
            </select>
            <div class="btn-group margined-left-xxlg" ng-if="$ctrl.settings.sortColumn !== 'last'">
              <label class="btn btn-radio" ng-model="$ctrl.settings.sortDirection"
                uib-btn-radio="'asc'" ng-change="$ctrl.update()">asc</label>
              <label class="btn btn-radio" ng-model="$ctrl.settings.sortDirection"
                uib-btn-radio="'desc'" ng-change="$ctrl.update()">desc</label>
            </div>
          </div>
        </div>

        <hr>

        <!-- default spi graph -->
        <div class="form-group" ng-if="$ctrl.fields">
          <label class="col-sm-3 control-label">Default SPI Graph</label>
          <div class="col-sm-9">
            <input type="text" ng-model="$ctrl.settings.spiGraph"
              class="form-control short-control field-typeahead"
              typeahead-on-select="$ctrl.update()"
              typeahead-input-formatter="$ctrl.formatField($model)"
              uib-typeahead="field.dbField as field.exp for field in $ctrl.fields | filter:{exp:$viewValue}">
            <label class="label label-lg label-info"
              uib-tooltip="{{$ctrl.getField($ctrl.settings.spiGraph).help}}">
              {{$ctrl.formatField($ctrl.settings.spiGraph) || 'unknown field'}}
            </label>
          </div>
        </div>

        <hr>

        <!-- connections src field -->
        <div class="form-group" ng-if="$ctrl.fields">
          <label class="col-sm-3 control-label">Connections Src Field</label>
          <div class="col-sm-9">
            <input type="text" ng-model="$ctrl.settings.connSrcField"
              class="form-control short-control field-typeahead"
              typeahead-on-select="$ctrl.update()"
              typeahead-input-formatter="$ctrl.formatField($model)"
              uib-typeahead="field.dbField as field.exp for field in $ctrl.fields | filter:{exp:$viewValue}">
            <label class="label label-lg label-info"
              uib-tooltip="{{$ctrl.getField($ctrl.settings.connSrcField).help}}">
              {{$ctrl.formatField($ctrl.settings.connSrcField) || 'unknown field'}}
            </label>
          </div>
        </div>

        <!-- connections dst field -->
        <div class="form-group" ng-if="$ctrl.fields">
          <label class="col-sm-3 control-label">Connections Dst Field</label>
          <div class="col-sm-9">
            <input type="text" ng-model="$ctrl.settings.connDstField"
              class="form-control short-control field-typeahead"
              typeahead-on-select="$ctrl.update()"
              typeahead-input-formatter="$ctrl.formatField($model)"
              uib-typeahead="field.dbField as field.exp for field in $ctrl.fieldsPlus | filter:{exp:$viewValue}">
            <label class="label label-lg label-info"
              uib-tooltip="{{$ctrl.getField($ctrl.settings.connDstField).help}}">
              {{$ctrl.formatField($ctrl.settings.connDstField) || 'unknown field'}}
            </label>
          </div>
        </div>

      </form> <!-- /general settings -->

      <!-- view settings -->
      <form class="form-horizontal" ng-if="$ctrl.visibleTab === 'views'" id="views">

        <h3>Views</h3>

        <p>
           Saved views provide an easier method to specify common base queries
           and can be activated in the search bar.
        </p>

        <hr>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Expression</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
            <!-- views -->
            <tr ng-repeat="(key, val) in $ctrl.views"
              enter-click="$ctrl.updateView(key)">
              <td>
                <input type="text" ng-model="val.name" maxlength="20"
                  class="form-control" ng-change="$ctrl.viewChanged(key);">
              </td>
              <td>
                <input type="text" ng-model="val.expression"
                  class="form-control" ng-change="$ctrl.viewChanged(key);">
              </td>
              <td>
                <div class="btn-group btn-group-sm pull-right" role="group"
                  ng-if="val.changed">
                  <a class="btn btn-theme-tertiary" tooltip-append-to-body="true"
                     uib-tooltip="Save changes to this view"
                     ng-click="$ctrl.updateView(key)">
                    <span class="fa fa-save"></span>
                  </a>
                  <a class="btn btn-warning" tooltip-append-to-body="true"
                     uib-tooltip="Undo changes to this view"
                     ng-click="$ctrl.cancelViewChange(key)">
                    <span class="fa fa-ban"></span>
                  </a>
                </div>
                <a class="btn btn-sm btn-danger pull-right"
                  ng-if="!val.changed"
                  ng-click="$ctrl.deleteView(key)">
                  <span class="fa fa-trash-o"></span>&nbsp;
                  Delete
                </a>
              </td>
            </tr> <!-- /views -->
            <!-- view list error -->
            <tr ng-if="$ctrl.viewListError">
              <td colspan="3">
                <p class="text-danger margined-bottom-none">
                  <span class="fa fa-exclamation-triangle"></span>&nbsp;
                  {{$ctrl.viewListError}}
                </p>
              </td>
            </tr> <!-- /view list error -->
            <!-- new view form -->
            <tr enter-click="$ctrl.createView()">
              <td>
                <input type="text" ng-model="$ctrl.newViewName"
                  class="form-control" maxlength="20"
                  placeholder="Enter a new view name">
              </td>
              <td>
                <input type="text" ng-model="$ctrl.newViewExpression"
                  class="form-control" placeholder="Enter a new view expression">
              </td>
              <td>
                <a class="btn btn-theme-tertiary btn-sm pull-right"
                  ng-click="$ctrl.createView()">
                  <span class="fa fa-plus-circle"></span>&nbsp;
                  Create
                </a>
              </td>
            </tr> <!-- /new view form -->
            <!-- view form error -->
            <tr ng-if="$ctrl.viewFormError">
              <td colspan="3">
                <p class="small text-danger margined-bottom-none">
                  <span class="fa fa-exclamation-triangle"></span>&nbsp;
                  {{$ctrl.viewFormError}}
                </p>
              </td>
            </tr> <!-- /view form error -->
          </tbody>
        </table>

      </form> <!-- /view settings -->

      <!-- cron query settings -->
      <form class="form-horizontal" ng-if="$ctrl.visibleTab === 'cron'" id="cron">

        <h3>Cron Queries</h3>

        <p>
          Allow queries to be run periodically that can perform actions on
          sessions that match the queries. The query runs against sessions
          delayed by 90 second to make sure all updates have been completed
          for that session.
        </p>

        <hr>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Enabled</th>
              <th>Processed</th>
              <th>Name</th>
              <th>Expression</th>
              <th>Action</th>
              <th>Tags</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <!-- cron queries -->
            <tr ng-repeat="(key, val) in $ctrl.cronQueries"
              enter-click="$ctrl.updateCronQuery(key)">
              <td>
                <input type="checkbox" ng-model="val.enabled"
                  ng-change="$ctrl.cronQueryChanged(key);">
              </td>
              <td>{{::val.count}}</td>
              <td>
                <input type="text" maxlength="20" ng-model="val.name"
                  class="form-control" ng-change="$ctrl.cronQueryChanged(key);">
              </td>
              <td>
                <input type="text" ng-model="val.query"
                  class="form-control" ng-change="$ctrl.cronQueryChanged(key);">
              </td>
              <td>
                <select class="form-control" ng-model="val.action"
                  ng-change="$ctrl.cronQueryChanged(key);">
                  <option value="tag">Tag</option>
                  <option ng-repeat="(key, value) in ::$ctrl.molochClusters"
                    value="forward:{{::key}}">
                    Tag & Export to {{::value.name}}
                  </option>
                </select>
              </td>
              <td>
                <input type="text" ng-model="val.tags"
                  class="form-control" ng-change="$ctrl.cronQueryChanged(key);">
              </td>
              <td>
                <div class="btn-group btn-group-sm pull-right" role="group" ng-if="val.changed">
                  <a class="btn btn-theme-tertiary" tooltip-append-to-body="true"
                    uib-tooltip="Save changes to this cron query"
                    ng-click="$ctrl.updateCronQuery(key)">
                    <span class="fa fa-save"></span>
                  </a>
                  <a class="btn btn-warning" tooltip-append-to-body="true"
                    uib-tooltip="Undo changes to this cron query"
                    ng-click="$ctrl.cancelCronQueryChange(key)">
                    <span class="fa fa-ban"></span>
                  </a>
                </div>
                <a class="btn btn-sm btn-danger pull-right"
                  ng-if="!val.changed"
                  ng-click="$ctrl.deleteCronQuery(key)">
                  <span class="fa fa-trash-o"></span>&nbsp;
                  Delete
                </a>
              </td>
            </tr> <!-- /cron queries -->
            <!-- cron query form error -->
            <tr ng-if="$ctrl.cronQueryListError">
              <td colspan="7">
                <p class="text-danger margined-bottom-none">
                  <span class="fa fa-exclamation-triangle"></span>&nbsp;
                  {{$ctrl.cronQueryListError}}
                </p>
              </td>
            </tr> <!-- /cron query form error -->
            <!-- new cron query form -->
            <tr enter-click="$ctrl.createCronQuery()">
              <td>&nbsp;</td>
              <td>
                <select class="form-control" ng-model="$ctrl.newCronQueryProcess"
                  convert-to-number uib-tooltip="Start processing cron query since">
                  <option value="0">Now</option>
                  <option value="1">1 hr ago</option>
                  <option value="6">6 hrs ago</option>
                  <option value="24">24 hrs ago</option>
                  <option value="48">48 hrs ago</option>
                  <option value="72">3 days ago</option>
                  <option value="168">1 week ago</option>
                  <option value="720">1 month ago</option>
                  <option value="4380">6 months ago</option>
                  <option value="-1">All (careful)</option>
                </select>
              </td>
              <td>
                <input type="text" ng-model="$ctrl.newCronQueryName"
                  class="form-control" maxlength="20"
                  uib-tooltip="Enter a new cron query name"
                  placeholder="Cron query name">
              </td>
              <td>
                <input type="text" ng-model="$ctrl.newCronQueryExpression" class="form-control"
                  uib-tooltip="Enter a new cron query expression"
                  placeholder="Cron query expression">
              </td>
              <td>
                <select class="form-control" ng-model="$ctrl.newCronQueryAction">
                  <option value="tag">Tag</option>
                  <option ng-repeat="(key, value) in ::$ctrl.molochClusters"
                    value="forward:{{::key}}">
                    Tag & Export to {{::value.name}}
                  </option>
                </select>
              </td>
              <td>
                <input type="text" ng-model="$ctrl.newCronQueryTags" class="form-control"
                  uib-tooltip="Enter a comma separated list of tags"
                  placeholder="Comma separated list of tags">
              </td>
              <td>
                <a class="btn btn-theme-tertiary btn-sm pull-right"
                  ng-click="$ctrl.createCronQuery()">
                  <span class="fa fa-plus-circle"></span>&nbsp;
                  Create
                </a>
              </td>
            </tr> <!-- /new cron query form -->
            <!-- cron query form error -->
            <tr ng-if="$ctrl.cronQueryFormError">
              <td colspan="7">
                <p class="small text-danger margined-bottom-none">
                  <span class="fa fa-exclamation-triangle"></span>&nbsp;
                  {{$ctrl.cronQueryFormError}}
                </p>
              </td>
            </tr> <!-- /cron query form error -->
          </tbody>
        </table>

      </form> <!-- /cron query settings -->

      <!-- col configs settings -->
      <form class="form-horizontal" ng-if="$ctrl.visibleTab === 'col'" id="col">

        <h3>Custom Column Configurations</h3>

        <p>
          Custom column configurations allow the user to save their session
          table's column layout for future use.
        </p>

        <hr>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Columns</th>
            <th>Order</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <!-- default col config -->
          <tr ng-if="$ctrl.defaultColConfig && $ctrl.fieldsMap">
            <td>Moloch Default</td>
            <td>
              <label class="label label-md label-default margined-right"
                uib-tooltip="{{::$ctrl.fieldsMap[col].help}}"
                ng-repeat="col in ::$ctrl.defaultColConfig.columns">
                {{::$ctrl.fieldsMap[col].friendlyName}}
              </label>
            </td>
            <td>
              <span ng-repeat="order in ::$ctrl.defaultColConfig.order">
                <label class="label label-md label-default margined-right"
                  uib-tooltip="{{::$ctrl.fieldsMap[order[0]].help}}">
                  {{::$ctrl.fieldsMap[order[0]].friendlyName}}&nbsp;
                  ({{::order[1]}})
                </label>
              </span>
            </td>
            <td>&nbsp;</td>
          </tr> <!-- /default col configs -->
          <!-- col configs -->
          <tr ng-if="$ctrl.fieldsMap" ng-repeat="config in $ctrl.colConfigs">
            <td>
              {{::config.name}}
            </td>
            <td>
              <label class="label label-md label-default margined-right"
                uib-tooltip="{{::$ctrl.fieldsMap[col].help}}"
                ng-repeat="col in ::config.columns">
                {{::$ctrl.fieldsMap[col].friendlyName}}
              </label>
            </td>
            <td>
                <span ng-repeat="order in ::config.order">
                  <label class="label label-md label-default margined-right"
                    uib-tooltip="{{::$ctrl.fieldsMap[order[0]].help}}">
                    {{::$ctrl.fieldsMap[order[0]].friendlyName}}&nbsp;
                    ({{::order[1]}})
                  </label>
                </span>
            </td>
            <td>
              <a class="btn btn-sm btn-danger pull-right"
                ng-click="$ctrl.deleteColConfig(config.name, $index)">
                <span class="fa fa-trash-o"></span>&nbsp;
                Delete
              </a>
            </td>
          </tr> <!-- /col configs -->
          <!-- col config list error -->
          <tr ng-if="$ctrl.colConfigError">
            <td colspan="3">
              <p class="text-danger margined-bottom-none">
                <span class="fa fa-exclamation-triangle"></span>&nbsp;
                {{$ctrl.colConfigError}}
              </p>
            </td>
          </tr> <!-- /col config list error -->
          </tbody>
        </table>

        <div ng-if="!$ctrl.colConfigs.length" class="alert alert-info">
          <span class="fa fa-info-circle fa-lg"></span>
          <strong>You have no custom column configurations.</strong>
          <br><br>
          To create one, go to the sessions page, rearrange the columns into
          your preferred configuration, and click the column configuration
          button ( <span class="fa fa-columns"></span> ) at the top left of the
          table. Name your new custom column configuration then click the save
          button. You can now switch to this column configuration anytime you
          want by clicking on its name in the dropdown!
        </div>

      </form> <!-- /col configs settings -->

      <!-- spiview field configs settings -->
      <form class="form-horizontal" ng-if="$ctrl.visibleTab === 'spiview'" id="spiview">

        <h3>Custom SPI View Configurations</h3>

        <p>
          Custom visible field configurations allow the user to save their
          visible fields on the SPI View page for future use.
        </p>

        <hr>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Fields</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <!-- default spiview field config -->
          <tr ng-if="$ctrl.defaultSpiviewConfig && $ctrl.fieldsMap">
            <td>Moloch Default</td>
            <td>
              <label class="label label-md label-default margined-right"
                uib-tooltip="{{::$ctrl.fieldsMap[field].help}}"
                ng-repeat="field in ::$ctrl.defaultSpiviewConfig.fields">
                {{::$ctrl.fieldsMap[field].friendlyName}} (100)
              </label>
            </td>
            <td>&nbsp;</td>
          </tr> <!-- /default spiview field confg -->
          <!-- spiview field configs -->
          <tr ng-if="$ctrl.fieldsMap" ng-repeat="config in $ctrl.spiviewConfigs">
            <td>
              {{::config.name}}
            </td>
            <td>
              <label class="label label-md label-default margined-right"
                uib-tooltip="{{::fieldObj.help}}"
                ng-repeat="fieldObj in ::config.fieldObjs">
                {{::fieldObj.friendlyName}} ({{::fieldObj.count}})
              </label>
            </td>
            <td>
              <a class="btn btn-sm btn-danger pull-right"
                ng-click="$ctrl.deleteSpiviewConfig(config.name, $index)">
                <span class="fa fa-trash-o"></span>&nbsp;
                Delete
              </a>
            </td>
          </tr> <!-- /spiview field configs -->
          <!-- spiview field config list error -->
          <tr ng-if="$ctrl.spiviewConfigError">
            <td colspan="3">
              <p class="text-danger margined-bottom-none">
                <span class="fa fa-exclamation-triangle"></span>&nbsp;
                {{$ctrl.spiviewConfigError}}
              </p>
            </td>
          </tr> <!-- /spview field config list error -->
          </tbody>
        </table>

        <div ng-if="!$ctrl.spiviewConfigs.length" class="alert alert-info">
          <span class="fa fa-info-circle fa-lg"></span>
          <strong>You have no custom SPI View field configurations.</strong>
          <br><br>
          To create one, go to the SPI View page, toggle fields to
          your preferred configuration, and click the field configuration
          button ( <span class="fa fa-columns"></span> ) at the top left of the
          page. Name your new custom field configuration then click the save
          button. You can now switch to this field configuration anytime you
          want by clicking on its name in the dropdown!
        </div>

      </form> <!-- /spiview field configs settings -->

      <!-- theme settings -->
      <form class="padded-bottom-lg" ng-if="$ctrl.visibleTab === 'theme'" id="theme">

        <h3>UI Themes</h3>

        <p>
          Pick from a preexisting theme below
        </p>

        <hr>

        <!-- theme picker -->
        <div class="row">
          <div class="col-sm-6"
            ng-repeat="theme in $ctrl.themeDisplays" ng-class="[theme.class]">
            <div class="theme-display">
              <div class="navbar navbar-inverse">
                <a class="navbar-brand">
                  Moloch
                </a>
                <ul class="nav navbar-nav">
                  <li class="cursor-pointer active">
                    <a>Active</a>
                  </li>
                  <li class="cursor-pointer">
                    <a>Not Active</a>
                  </li>
                </ul>
                <p class="navbar-text pull-right margined-right-none">
                  <span class="fa fa-info-circle fa-lg margined-left health-green"></span>
                </p>
              </div>
              <div class="display-sub-navbar">
                <div class="row">
                  <div class="col-sm-5">
                    <div class="input-group input-group-sm margined-left">
                      <span class="input-group-addon">
                        <span class="fa fa-search"></span>
                      </span>
                      <input type="text" placeholder="Search" class="form-control" />
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="margined-top display-inline">
                      <strong class="small text-theme-accent no-wrap">
                        Text
                      </strong>
                    </div>
                    <div class="pull-right display-sub-navbar-buttons margined-right">
                      <a class="btn btn-sm btn-default btn-theme-tertiary-display">
                        Search
                      </a>
                      <a class="btn btn-sm btn-default btn-theme-quaternary-display">
                        <span class="fa fa-cog fa-lg"></span>
                      </a>
                      <a class="btn btn-sm btn-default btn-theme-secondary-display">
                        <span class="fa fa-eye fa-lg"></span>
                      </a>
                      <div class="btn-group btn-group-sm pull-right margined-left"
                           uib-dropdown is-open="theme.isopen">
                        <button id="single-button" type="button"
                          class="btn btn-theme-primary-display" uib-dropdown-toggle>
                          <span class="fa fa-caret-down fa-lg"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right"
                            uib-dropdown-menu role="menu" aria-labelledby="single-button">
                          <li role="menuitem" class="cursor-pointer">
                            <a>Example</a>
                          </li>
                          <li role="menuitem" class="cursor-pointer active">
                            <a>Active Example</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="display-sub-sub-navbar">
                <div class="margined-left margined-top-lg padded-bottom-lg">
                  <session-field field="::{dbField:'test', exp:'test', type:'lotermfield', group:'general'}"
                    expr="test" value="example value" pull-left="true">
                  </session-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 margined-left">
                  <div class="radio">
                    <label class="control-label">
                      <input type="radio" ng-model="$ctrl.settings.theme"
                        ng-change="$ctrl.changeTheme()" value="{{::theme.class}}">
                      {{theme.name}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <p ng-if="!$ctrl.creatingCustom">
          Want to more control?
          <a class="cursor-pointer no-decoration"
            ng-click="$ctrl.creatingCustom = true">
            Create your own custom theme
          </a>
          <br><br>
        </p>

        <div ng-if="$ctrl.creatingCustom">

          <div class="row">
            <div class="col-md-4">
              <h3 class="margined-top-none margined-bottom-xxxxlg">
                Custom Theme
                <a class="btn btn-theme-tertiary pull-right"
                  ng-class="{'active':$ctrl.displayHelp}"
                  uib-tooltip="Toggle color theme help"
                  ng-click="$ctrl.displayHelp = !$ctrl.displayHelp">
                  <span class="fa fa-question-circle"></span>&nbsp;
                  Help
                </a>
              </h3>
              <div class="form-group">
                <div class="input-group input-group-sm">
                  <div class="input-group-addon">
                    Background
                  </div>
                  <input colorpicker ng-model="$ctrl.background"
                    ng-change="$ctrl.changeColor()"
                    ng-model-options="{debounce:400}"
                    colorpicker-position="top" type="text" class="form-control">
                  <div class="input-group-addon cursor-pointer"
                    colorpicker ng-model="$ctrl.background"
                    colorpicker-position="left"
                    ng-change="$ctrl.changeColor()"
                    ng-model-options="{debounce:400}"
                    ng-style="{'background-color':$ctrl.background}">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-sm">
                  <div class="input-group-addon">
                    Foreground
                  </div>
                  <input colorpicker ng-model="$ctrl.foreground"f
                    ng-change="$ctrl.changeColor()"
                    ng-model-options="{debounce:400}"
                    colorpicker-position="top" type="text" class="form-control">
                  <div class="input-group-addon cursor-pointer"
                    colorpicker ng-model="$ctrl.foreground"
                    colorpicker-position="left"
                    ng-change="$ctrl.changeColor()"
                    ng-model-options="{debounce:400}"
                    ng-style="{'background-color':$ctrl.foreground}">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-sm">
                  <div class="input-group-addon">
                    Foreground Accent
                  </div>
                  <input colorpicker ng-model="$ctrl.foregroundAccent"
                    ng-change="$ctrl.changeColor()"
                    ng-model-options="{debounce:400}"
                    colorpicker-position="top" type="text" class="form-control">
                  <div class="input-group-addon cursor-pointer"
                    colorpicker ng-model="$ctrl.foregroundAccent"
                    colorpicker-position="left"
                    ng-change="$ctrl.changeColor()"
                    ng-model-options="{debounce:400}"
                    ng-style="{'background-color':$ctrl.foregroundAccent}">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <p class="help-block small" ng-if="$ctrl.displayHelp">
                  Session values, important text in navbars
                </p>
              </div>
            </div>
            <div class="col-md-8">
              <div class="custom-theme pull-right" id="custom-theme-display">
                <div class="theme-display">
                  <div class="navbar navbar-inverse">
                    <a class="navbar-brand">
                      Moloch
                    </a>
                    <ul class="nav navbar-nav">
                      <li class="cursor-pointer active">
                        <a>Active</a>
                      </li>
                      <li class="cursor-pointer">
                        <a>Not Active</a>
                      </li>
                    </ul>
                    <p class="navbar-text pull-right margined-right-none">
                      <span class="fa fa-info-circle fa-lg margined-left health-green"></span>
                    </p>
                  </div>
                  <div class="display-sub-navbar">
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="input-group input-group-sm margined-left">
                          <span class="input-group-addon">
                            <span class="fa fa-search"></span>
                          </span>
                          <input type="text" placeholder="Search" class="form-control" />
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="margined-top display-inline">
                          <strong class="small text-theme-accent no-wrap">
                            Text
                          </strong>
                        </div>
                        <div class="pull-right display-sub-navbar-buttons margined-right">
                          <a class="btn btn-sm btn-default btn-theme-tertiary-display">
                            Search
                          </a>
                          <a class="btn btn-sm btn-default btn-theme-quaternary-display">
                            <span class="fa fa-cog fa-lg"></span>
                          </a>
                          <a class="btn btn-sm btn-default btn-theme-secondary-display">
                            <span class="fa fa-eye fa-lg"></span>
                          </a>
                          <div class="btn-group btn-group-sm pull-right margined-left"
                               uib-dropdown is-open="theme.isopen">
                            <button id="single-button" type="button"
                                    class="btn btn-theme-primary-display" uib-dropdown-toggle>
                              <span class="fa fa-caret-down fa-lg"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right"
                                uib-dropdown-menu role="menu" aria-labelledby="single-button">
                              <li role="menuitem" class="cursor-pointer">
                                <a>Example</a>
                              </li>
                              <li role="menuitem" class="cursor-pointer active">
                                <a>Active Example</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="display-sub-sub-navbar">
                    <div class="margined-left margined-right margined-top-lg padded-bottom-lg">
                      <session-field field="::{dbField:'test', exp:'test', type:'lotermfield', group:'general'}"
                        expr="test" value="example value" pull-left="true">
                      </session-field>
                      <br><br>
                      <div class="row">
                        <div class="col-md-6 sessionsrc">
                          <strong class="session-detail-ts small">
                            <em class="ts-value">2013/11/18 03:06:52.831</em>
                            <span class="pull-right">27 bytes</span>
                          </strong>
                          <pre>Source packet text looks like this</pre>
                        </div>
                        <div class="col-md-6 sessiondst">
                          <strong class="session-detail-ts small">
                            <em class="ts-value">2013/11/18 03:06:52.841</em>
                            <span class="pull-right">160 bytes</span>
                          </strong>
                          <pre>Destination packet text looks like this</pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="help-block" ng-if="$ctrl.displayHelp">
            Main theme colors are lightened/darkened programmatically to
            provide dark boarders, active buttons, hover colors, etc
          </p>

          <!-- main colors -->
          <div class="row form-group">
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Primary
                </div>
                <input colorpicker ng-model="$ctrl.primary"
                  ng-change="$ctrl.changeColor('--color-primary', $ctrl.primar)"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.primary"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.primary}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <p class="help-block small" ng-if="$ctrl.displayHelp">
                Primary navbar, buttons, active item(s) in lists
              </p>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Secondary
                </div>
                <input colorpicker ng-model="$ctrl.secondary"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.secondary"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.secondary}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <p class="help-block small" ng-if="$ctrl.displayHelp">
                Buttons
              </p>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Tertiary
                </div>
                <input colorpicker ng-model="$ctrl.tertiary"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.tertiary"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.tertiary}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <p class="help-block small" ng-if="$ctrl.displayHelp">
                Action buttons (search, apply, open, etc)
              </p>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Quaternary
                </div>
                <input colorpicker ng-model="$ctrl.quaternary"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.quaternary"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.quaternary}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <p class="help-block small" ng-if="$ctrl.displayHelp">
                Accent Buttons
              </p>
            </div>
          </div> <!-- /main colors -->

          <p class="help-block" ng-if="$ctrl.displayHelp">
            <em>Highlight colors should be similar to their parent color, above.</em>
            <br>
            For <strong>light themes</strong>, the highlight color should be <strong>lighter</strong> than the original.
            For <strong>dark themes</strong>, the highlight color should be <strong>darker</strong> than original.
          </p>

          <!-- main color highlights/backgrounds -->
          <div class="row form-group">
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Highlight
                </div>
                <input colorpicker ng-model="$ctrl.primaryLightest"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.primaryLightest"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.primaryLightest}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <p class="help-block small" ng-if="$ctrl.displayHelp">
                Backgrounds
              </p>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Highlight
                </div>
                <input colorpicker ng-model="$ctrl.secondaryLightest"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.secondaryLightest"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.secondaryLightest}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <p class="help-block small" ng-if="$ctrl.displayHelp">
                Search/Secondary navbar
              </p>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Highlight
                </div>
                <input colorpicker ng-model="$ctrl.tertiaryLightest"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.tertiaryLightest"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.tertiaryLightest}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <p class="help-block small" ng-if="$ctrl.displayHelp">
                Tertiary navbar, table hover
              </p>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Highlight
                </div>
                <input colorpicker ng-model="$ctrl.quaternaryLightest"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.quaternaryLightest"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.quaternaryLightest}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <p class="help-block small" ng-if="$ctrl.displayHelp">
                Session detail background
              </p>
            </div>
          </div> <!-- /main color highlights/backgrounds -->

          <br>

          <div class="row form-group">
            <!-- visualization colors -->
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Map Water
                </div>
                <input colorpicker ng-model="$ctrl.water"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.water"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.water}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Map Land
                </div>
                <input colorpicker ng-model="$ctrl.land"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.land"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.land}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
            </div> <!-- /visualization colors -->
            <!-- packet colors -->
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Src Packets
                </div>
                <input colorpicker ng-model="$ctrl.src"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.src"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.src}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">
                  Dst Packets
                </div>
                <input colorpicker ng-model="$ctrl.dst"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  colorpicker-position="top" type="text" class="form-control">
                <div class="input-group-addon cursor-pointer"
                  colorpicker ng-model="$ctrl.dst"
                  colorpicker-position="left"
                  ng-change="$ctrl.changeColor()"
                  ng-model-options="{debounce:400}"
                  ng-style="{'background-color':$ctrl.dst}">
                  &nbsp;&nbsp;&nbsp;
                </div>
              </div>
            </div> <!-- /packet colors -->
          </div>

          <br>

          <div class="row">
            <div class="col-md-12">
              <label>Share your theme with others:</label>
              <div class="input-group input-group-sm">
              <input type="text" class="form-control" ng-model="$ctrl.themeString">
                <span class="input-group-btn">
                  <button class="btn btn-theme-primary" type="button"
                    ng-click="$ctrl.updateThemeString()">
                    Apply
                  </button>
                </span>
              </div>
            </div>
          </div>

        </div>

      </form> <!-- /theme settings -->

      <!-- password settings -->
      <form class="form-horizontal margined-bottom-xxxxlg" ng-if="$ctrl.visibleTab === 'password'"
        enter-click="$ctrl.changePassword()" id="password">

        <h3>Change Password</h3>

        <hr>

        <!-- current password -->
        <div class="form-group" ng-if="!$ctrl.userId">
          <label class="col-sm-3 control-label">Current Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control short-control"
              ng-model="$ctrl.currentPassword"
              placeholder="Enter your current password">
          </div>
        </div>

        <!-- new password -->
        <div class="form-group">
          <label class="col-sm-3 control-label">New Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control short-control"
              ng-model="$ctrl.newPassword"
              placeholder="Enter a new password">
          </div>
        </div>

        <!-- confirm new password -->
        <div class="form-group">
          <label class="col-sm-3 control-label">New Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control short-control"
              ng-model="$ctrl.confirmNewPassword"
              placeholder="Confirm your new password">
          </div>
        </div>

        <!-- error -->
        <div class="row" ng-if="$ctrl.changePasswordError">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-9">
            <p class="small text-danger">
              <span class="fa fa-exclamation-triangle"></span>&nbsp;
              {{$ctrl.changePasswordError}}
            </p>
          </div>
        </div>

        <!-- button -->
        <div class="form-group">
          <label class="col-sm-3 control-label">&nbsp;</label>
          <div class="col-sm-9">
            <a class="btn btn-theme-tertiary"
              ng-click="$ctrl.changePassword()">
              Change Password
            </a>
          </div>
        </div>

      </form> <!-- /password settings -->

    </div> <!-- /content -->

  </div>

</div>
