/parliament/vueapp/build/
/parliament/vueapp/config/
/parliament/vueapp/dist/
/parliament/node_modules
/wiseService/vueapp/build/
/wiseService/vueapp/config/
/wiseService/vueapp/dist/
/wiseService/node_modules
/wiseService/sprintf.js
/viewer/vueapp/build/
/viewer/vueapp/config/
/viewer/vueapp/dist/
/viewer/arkimeparser.js
/viewer/node_modules
/viewer/public
/common/version.js
/cont3xt/vueapp/build/
/cont3xt/vueapp/config/
/cont3xt/vueapp/dist/
/cont3xt/node_modules
