*.so
*.o
*.dSYM
*.val
.*.swp
node_modules
viewer/version.js
Makefile
Makefile.in
aclocal.m4
config.guess
config.sub
config.log
config.status
missing
install-sh
compile
configure
capture/molochconfig.h
capture/molochconfig.h.in
capture/arkimeconfig.h
capture/arkimeconfig.h.in
capture/moloch-capture
capture/capture
GeoIP.dat
GeoIPASNum.dat
GeoIPASNumv6.dat
GeoIPv6.dat
ipv4-address-space.csv
autom4te.cache
stamp-h1
npm-debug.log*
config.dev.ini
.DS_Store
bundle/
.idea
.vscode
parliament/issues.json
tests/GeoLite2*
tests/oui.txt
viewer/public/CyberChef*.zip
