*.so
*.o
*.dSYM
*.val
.*.swp
node_modules
viewer/version.js
Makefile
config.log
config.status
molochconfig.h
GeoIP.dat
GeoIPASNum.dat
GeoIPASNumv6.dat
GeoIPv6.dat
ipv4-address-space.csv
autom4te.cache
moloch-capture
stamp-h1
npm-debug.log*
config.dev.ini
.DS_Store
bundle/
.idea
parliament/issues.json
tests/GeoLite2*
tests/oui.txt
