/*!
 *  Common CSS for all web apps (viewer, wise, parliament)
 */

/* remove lastpass icons from all inputs
   could also use 'data-lpignore="true"' on each individual input
   that we want to exclude */
div[id^=__lpform_] {
  display: none;
}
input {
  background-image: none !important;
  background-attachment: none !important;
}
