<div class="margined-top-lg">

  <div class="session-graph-btn-container" ng-if="primary">

      <div class="btn-group btn-group-xs">
        <label class="btn btn-default" ng-click="zoomOut()"
          uib-tooltip="Zoom&nbsp;out" tooltip-placement="bottom"
          tooltip-append-to-body="true">
          <span class="fa fa-search-minus"></span>
        </label>
        <label class="btn btn-default" ng-click="zoomIn()"
          uib-tooltip="Zoom&nbsp;in" tooltip-placement="bottom"
          tooltip-append-to-body="true">
          <span class="fa fa-search-plus"></span>
        </label>
      </div>

      <div class="btn-group btn-group-xs margined-left-lg">
        <label class="btn btn-default" ng-click="panLeft()"
          uib-tooltip="Pan&nbsp;left" tooltip-placement="bottom"
          tooltip-append-to-body="true">
          <span class="fa fa-chevron-left"></span>
        </label>
        <label class="btn btn-default" ng-click="panRight()"
          uib-tooltip="Pan&nbsp;right" tooltip-placement="bottom"
          tooltip-append-to-body="true">
          <span class="fa fa-chevron-right"></span>
        </label>
      </div>

      <div class="btn-group btn-group-xs margined-left-lg">
        <label class="btn btn-default" ng-model="$parent.type"
          uib-btn-radio="'lpHisto'" ng-click="changeHistoType()">
          Session
        </label>
        <label class="btn btn-default" ng-model="$parent.type"
          uib-btn-radio="'paHisto'" ng-click="changeHistoType()">
          Packets
        </label>
        <label class="btn btn-default" ng-model="$parent.type"
          uib-btn-radio="'dbHisto'" ng-click="changeHistoType()">
          Databytes
        </label>
      </div>

      <div class="btn-group btn-group-xs margined-left-lg">
        <label class="btn btn-default" ng-model="$parent.seriesType"
          uib-btn-radio="'lines'" ng-click="changeSeriesType()">
          Lines
        </label>
        <label class="btn btn-default" ng-model="$parent.seriesType"
          uib-btn-radio="'bars'" ng-click="changeSeriesType()">
          Bars
        </label>
      </div>

  </div>

  <div class="plot-area" style="width:100%;height:150px;"></div>

</div>
