<div>

  <div class="map-btn" ng-click="$ctrl.toggleMap()"
    ng-if="!$ctrl.showMap && $ctrl.primary" uib-tooltip="View map"
    tooltip-placement="left" tooltip-append-to-body="true">
    <span class="fa fa-fw fa-globe"></span>
  </div>

  <div class="margined-left-xxlg margined-right-xxlg">

    <div ng-class="{'inline-graph':$ctrl.showMap}">
      <div ng-if="::($ctrl.graphData)">
        <session-graph graph-data="$ctrl.graphData"
          type="{{::$ctrl.graphType || 'lpHisto'}}"
          timezone="{{::$ctrl.timezone}}" primary="{{::$ctrl.primary}}">
        </session-graph>
      </div>
    </div>

    <div ng-if="$ctrl.showMap" class="inline-map">
      <moloch-map ng-if="::($ctrl.mapData)" map-data="$ctrl.mapData"
        toggle-map="$ctrl.toggleMap()" primary="{{::$ctrl.primary}}">
      </moloch-map>
    </div>

  </div>

</div>
