<div class="moloch-map-container">

  <div id="moloch-map"></div>

  <a class="btn btn-xs btn-default btn-close-map btn-fw"
     ng-click="toggleMap()" tooltip-append-to-body="true"
     uib-tooltip="Close map" tooltip-placement="left">
    <span class="fa fa-close"></span>
  </a>

  <a class="btn btn-xs btn-default btn-expand-map btn-fw"
     ng-click="expandMap()" tooltip-append-to-body="true"
     uib-tooltip="Expand/Collapse Map" tooltip-placement="left"
     tooltip-popup-delay="500">
    <span ng-if="!status.expanded" class="fa fa-expand"></span>
    <span ng-if="status.expanded" class="fa fa-compress"></span>
  </a>

  <div class="btn-group-vertical btn-fw src-dst-btns">
    <a class="btn btn-xs btn-default"
      ng-click="toggleSrcDst('src')"
      ng-class="{'active':state.src}"
      uib-tooltip="Toggle source countries"
      tooltip-append-to-body="true" tooltip-placement="left">
      <strong>S</strong>
    </a>
    <a class="btn btn-xs btn-default"
      ng-click="toggleSrcDst('dst')"
      ng-class="{'active':state.dst}"
      uib-tooltip="Toggle destination countries"
      tooltip-append-to-body="true" tooltip-placement="left">
      <strong>D</strong>
    </a>
  </div>

  <div class="map-legend" ng-if="status.expanded && legend.length">
    <strong>Top 10</strong>&nbsp;
    <span ng-repeat="item in legend | limitTo:10 track by $index"
      class="legend-item" ng-style="{'background-color':item.color}">
      {{item.name}} ({{item.value | commaString}})
    </span>
  </div>

</div>
