/* use light text on tags for light and dark theme */
.tag {
    color: #EEE;
}

/* external link buttons fill their entire cell when in a table */
td .integration-external-link-button {
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

/* reorder list handle for link groups and overview fields */
.link-handle {
    top: -3px;
    left: -9px;
    z-index: 10;
    width: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
    border-radius: 14px;
    background: rgb(var(--v-theme-secondary));
}
