doctype html
html
  head
    base(href=basePath)
    title Page not found
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    style(type='text/css').
      body { background-color: #dadada; }
      a.no-decoration { text-decoration:none; }
      .info > img { z-index: 99; }
      .margined-bottom { margin-bottom: 8px; }
      .info {
        display         : flex;
        align-items     : center;
        justify-content : center;
        text-align      : center;
        flex-direction  : column;
        min-height      : 75vh;
      }
      .well {
        margin-top: -6px;
        min-width : 25%;
        box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.5);
      }
      .well > h2 {
        margin-top: 0;
        color     : purple;
      }

  body
    div.container-fluid
      div.info
        img(src="watching.gif")
        div.well.well-lg
          h2 404
          h4 Nothing to see here...
        br
        div.margined-bottom
          | Maybe you want to search for&nbsp;
          a.no-decoration(href="sessions") sessions
          | ?
        div
          | Or, maybe you need some&nbsp;
          a.no-decoration(href="help") help
          | ?
