extends layout

block content
  h1 Saved Files
  table#files(cellpadding="0",cellspacing="0",border="0",class="display",style="table { clear: both }")
    thead
      tr
        th File Number
        th Node
        th Name
        th Locked
        th First Date
        th File Size
    tbody
  br
  #files

  script(type='text/javascript').
    var filesTable;

    $(document).ready(function() {
      filesTable = $('#files').dataTable( {
        language: {
          processing: "<img src=\"watching.gif\"><div class='blink'>I'm Hootin' :D</div>",
          lengthMenu: "_MENU_",
          search: "Name filter: "
        },
        dom: '<"fg-toolbar ui-widget-header ui-helper-clearfix"lipfr>t<"fg-toolbar ui-widget-header ui-helper-clearfix"ipr>',
        pageLength: 500,
        lengthMenu: [100, 500, 1000, 5000],
        processing: true,
        serverSide: true,
        ajax: {
          url: "#{basePath}files.json",
          data: function (d) {
            neworder = [];
            for (var o in d.order) {
              neworder.push(d.columns[d.order[o].column].data + ":" + d.order[o].dir);
            }
            d.order = neworder.join(",");
            delete d.columns;
            if (d.search) {
              d.filter = d.search.value;
              delete d.search;
            }
          }
        },
        searching: true,
        scrollCollapse: true,
        autoWidth: false,
        paginationType: "full_numbers",
        columns: [
          {
            data: "num"
          },
          {
            data: "node"
          },
          {
            data: "name"
          },
          {
            data: "locked",
            createdCell: function (cell, cellData, rowData, rowIndex, colIndex) {
              $(cell).html(rowData.locked === 1?true:"false");
            }
          },
          {
            data: "first",
            createdCell: function (cell, cellData, rowData, rowIndex, colIndex) {
              $(cell).html(dateString(rowData.first, " "));
            }
          },
          {
            data: "filesize"
          }
        ],
        order: [[3, "desc"]]
      } );
    } );
