extends layout

block scripts
  script(src='jquery-jvectormap-1.2.2.min.js')
  script(src='jquery-jvectormap-world-en.js')
  script(src='jquery.autocomplete.js')
  script(src='jQuery-contextMenu/src/jquery.ui.position.js')
  script(src='jQuery-contextMenu/src/jquery.contextMenu.js')
  link(rel='stylesheet', type='text/css', href='jQuery-contextMenu/src/jquery.contextMenu.css')

block content
  div(style="margin-bottom: 12px")
  div#bsqErr
  div#sessionsInfo.sessionsInfo
    div#world-map-wrapper.world-map-wrapper
      div#world-map.world-map
    div#sessionGraph.sessionGraph
    select#sessionGraphSelect
      option(value="lpHisto") sessions
      option(value="paHisto") packets
      option(value="dbHisto") databytes
  table#sessions(cellpadding="0",cellspacing="0",border="0",class="display",style="table { clear: both }")
    thead
      tr
        th
        th Id
        th Start
        th Stop
        th#a1.context-menu-one Src IP
        th Src Port
        th#a2.context-menu-one Dst IP
        th Dst Port
        th Packets
        th Src Packets
        th Dst Packets
        th Bytes
        th Src Bytes
        th Dst Bytes
        th Src Databytes
        th Dst Databytes
        th Node
        th#info.context-menu-one
          div.infoColumn Info
    tbody
  br
  -if (!decodeItems) decodeItems = '{empty:{name:"None defined", disabled: true}}'
  script(type='text/javascript').
    var sessionsTable = null;
    var initialDisplayLength;
    var doPushState = 1;

    $(window).bind('popstate', function(e) {
      if (window.history.ready) {
        doPushState = 0;
        handleUrlParams();

        sessionsTable.fnLengthChange(initialDisplayLength);
        sessionsTable.fnDraw();
      }
    });

    $(document).ready(function() {
      var initialParams = handleUrlParams();

      $(document).on('click', '#sessions tbody td.infoColumn img', function () {
        var nTr = $(this).closest("tr")[0];
        var rowData = sessionsTable.fnGetData(nTr);
        if ( this.src.match('up-arrow') ) {
          rowData.infoAll = 0;
        } else {
          rowData.infoAll = 1;
        }
        rowData.isOpen = sessionsTable.fnIsOpen(nTr);
        sessionsTable.fnUpdate(rowData, nTr, 0, false, false);
      });

      function openRow(nTr) {
        $(nTr).addClass('opened');
        var aData = sessionsTable.fnGetData(nTr);
        $(nTr).find("td.sessionDetails img").attr("src", "DataTables-1.9.1/examples/examples_support/details_close.png");
        var data = [];

        var base = molochSettings.detailFormat; 
        var ts = molochSettings.showTimestamps;

        if (localStorage) {
          ["line", "image", "gzip"].forEach(function(key) {
            if (localStorage['moloch-' + key] !== undefined) {
              data.push({name: key, value: localStorage['moloch-' + key]});
            }
          });

          if (!base || base === "last") {
            base = localStorage['moloch-base'];
          }

          if (!ts || ts === "last") {
            ts = localStorage['moloch-ts'];
          }

          if (localStorage['moloch-decode']) {
            data.push({name: "decode", value: decodeParam(localStorage['moloch-decode'])});
          }
        }

        if (ts !== undefined) {
          data.push({name: "ts", value: ts});
        }

        if (base !== undefined) {
          data.push({name: "base", value: base});
        }

        $.ajax( {
            "dataType": 'html',
            "type": "GET",
            "url": '#{basePath}' + aData.no + '/' + aData.id + '/sessionDetail',
            "data": data,
            "success": function(data) {
              sessionsTable.fnOpen( nTr, data, 'details' );
            }
        } );
      }

      $(document).on('click', '#sessions tbody td.sessionDetails img', function () {
        var nTr = $(this).closest("tr")[0];
        if ( this.src.match('details_close') ) {
          this.src = "DataTables-1.9.1/examples/examples_support/details_open.png";

          $(nTr).removeClass('opened');
          unPinRow(nTr, true);

          /* This row is already open - close it */
          sessionsTable.fnClose( nTr );
        } else {
          openRow(nTr);
        }
      } );

      $('#searchForm').submit(function() {
        sessionsTable.fnDraw();
        return false;
      });

      var sortName2Col = {
        start: 2,
        stop: 3,
        srcip: 4,
        srcport: 5,
        dstip: 6,
        dstport: 7,
        packets: 8,
        srcpackets: 9,
        dstpackets: 10,
        bytes: 11,
        srcbytes: 12,
        dstbytes: 13,
        srcdatabytes: 14,
        dstdatabytes: 15,
        node: 16
      };

      var pinnedColWidths = {
        "plusminus":30,
        "fp":105,
        "lp":105,
        "a1":160,
        "p1":40,
        "a2":160,
        "p2":40,
        "pa":80,
        "pa1":80,
        "pa2":80,
        "bytes":150,
        "by1":80,
        "by2":80,
        "db1":80,
        "db2":80,
        "no":150
      };

      var visibleColumns = ["plusminus", "fp", "lp", "a1", "p1", "a2", "p2", "pa", "bytes", "no", "info"];
      if(molochSettings.visibleColumns){
        visibleColumns = ["plusminus", "fp", "lp"].concat(molochSettings.visibleColumns);
      }

      function visibleColumn(name) {
        return visibleColumns.indexOf(name)>=0;
      }

      sessionsTable = $('#sessions').dataTable( {
        "oLanguage": {
          "sProcessing": "<img src=\"watching.gif\"><div class='blink'>I'm Hootin' :D</div>",
          "sLengthMenu": "_MENU_"
        },
        "sDom": '<"fg-toolbar ui-widget-header ui-helper-clearfix"lipr>t',
        "iDisplayLength": initialDisplayLength,
        "aLengthMenu": [100, 500, 1000, 5000],
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "#{basePath}sessions.json",
        "bRetrieve": true,
        "bFilter": false,
        "bScrollCollapse": true,
        "bAutoWidth": false,
        "sPaginationType": "full_numbers",
        "aoColumns": [
          {
            "mDataProp" : null,
            "sWidth": "10px",
            "bSortable": false,
            "sClass": "sessionDetails",
            "sDefaultContent": "",
            "fnRender" : function(oObj) {
              var pr;
              switch (oObj.aData.pr) {
              case 1:
                pr = "icmp";
                break;
              case 6:
                pr = "tcp";
                break;
              case 17:
                pr =  "udp";
                break;
              }

              if (oObj.aData.isOpen) {
                return '<img src="DataTables-1.9.1/examples/examples_support/details_close.png"><div class="protocolText">' + pr + '</div>';
              } else {
                return '<img src="DataTables-1.9.1/examples/examples_support/details_open.png"><div class="protocolText">' + pr + '</div>';
              }
            }
          },
          {
            "mDataProp" : "id",
            "bVisible": false
          },
          { "mDataProp" : "fp",
            "sClass": "dateColumn",
            "sWidth": "50",
            "bUseRendered": false,
            "fnRender" : function(oObj) {
              return dateString(oObj.aData.fp, "<br>");
            }
          },
          { "mDataProp" : "lp",
            "sClass": "dateColumn",
            "sWidth": "50",
            "bUseRendered": false,
            "fnRender" : function(oObj) {
              return dateString(oObj.aData.lp, "<br>");
            }
          },
          { "mDataProp" : "a1",
            "bVisible": visibleColumn("a1"),
            "sWidth": "100",
            "bUseRendered": false,
            "fnRender" : function(oObj) {
              var result = "<span molochexpr='ip.src' class='moloch-right-click'> " + ipString(oObj.aData.a1) + "</span>";
              if (oObj.aData.g1) {
                result += "<br><span molochexpr='country.src' class='moloch-right-click'>" + oObj.aData.g1 + "</span>";
              }
              return result;
            }
          },
          { "mDataProp" : "p1",
            "bVisible": visibleColumn("p1"),
            "sClass": "context-menu-one",
            "sWidth": "55px"
          },
          { "mDataProp" : "a2",
            "bVisible": visibleColumn("a2"),
            "sWidth": "100",
            "bUseRendered": false,
            "fnRender" : function(oObj) {
              var result = "<span molochexpr='ip.dst' class='moloch-right-click'> " + ipString(oObj.aData.a2) + "</span>";
              if (oObj.aData.g2) {
                result += "<br><span molochexpr='country.dst' class='moloch-right-click'>" + oObj.aData.g2 + "</span>";
              }
              return result;
            }
          },
          { "mDataProp" : "p2",
            "bVisible": visibleColumn("p2"),
            "sClass": "context-menu-one",
            "sWidth": "55px"
          },
          { "mDataProp" : "pa",
            "bVisible": visibleColumn("pa"),
            "sWidth": "55px"
            },
          { "mDataProp" : "pa1",
            "bVisible": visibleColumn("pa1"),
            "sWidth": "55px"
            },
          { "mDataProp" : "pa2",
            "bVisible": visibleColumn("pa2"),
            "sWidth": "55px"
            },
          { "mDataProp" : "by",
            "bVisible": visibleColumn("bytes"),
            "sWidth": "80px",
            "bUseRendered": false,
            "fnRender" : function(oObj) {
              return "" + numberWithCommas(oObj.aData.db) + " /<br>" + numberWithCommas(oObj.aData.by);
            }
          },
          { "mDataProp" : "by1",
            "bVisible": visibleColumn("by1"),
            "sWidth": "80px",
          },
          { "mDataProp" : "by2",
            "bVisible": visibleColumn("by2"),
            "sWidth": "80px",
          },
          { "mDataProp" : "db1",
            "bVisible": visibleColumn("db1"),
            "sWidth": "80px",
          },
          { "mDataProp" : "db2",
            "bVisible": visibleColumn("db2"),
            "sWidth": "80px",
          },
          { "mDataProp" : "no",
            "bVisible": visibleColumn("no"),
            "sWidth": "100px",
            bUseRendered: false,
            "fnRender" : function(oObj) {
              return "<span molochexpr='node' class='moloch-right-click'> " + oObj.aData.no + "</span>";
            }
          },
          { "bSortable": false,
            "mDataProp" : null,
            "bVisible": visibleColumn("info"),
            "sDefaultContent": "",
            "sClass": "infoColumn",
            "bUseRendered": false,
            "fnRender" : function(oObj) {
              var data = "<div class=infoColumn>";
              if (oObj.aData.us) {
                if (oObj.aData.infoAll) {
                  oObj.aData.us.forEach(function(item) {
                    data += "<div molochexpr='http.uri' class=\"moloch-right-click\">" + safeStr(item) + "</div>";
                  });
                  data += '<img src="up-arrow.png">';
                } else {
                  oObj.aData.us.slice(0,5).forEach(function(item) {
                    data += "<div molochexpr='http.uri' class=\"moloch-right-click\">" + safeStr(item) + "</div>";
                  });
                  if (oObj.aData.us.length > 5) {
                    data += '<img src="down-arrow.png">';
                  }
                }
              } else if (oObj.aData.esrc) {
                data += "<b>From:</b> ";
                data += oObj.aData.esrc.join(", ");
                data += "<br>";
                if (oObj.aData.edst) {
                  data += "<b>To:</b> ";
                  data += oObj.aData.edst.join(", ");
                  data += "<br>";
                }
                if (oObj.aData.esub) {
                  data += "<b>Subject:</b> ";
                  data += oObj.aData.esub.join(", ");
                  data += "<br>";
                }
                if (oObj.aData.efn) {
                  data += "<b>Files:</b> ";
                  data += oObj.aData.efn.join(", ");
                  data += "<br>";
                }
              } else if (oObj.aData.dnsho) {
                if (oObj.aData.infoAll) {
                  oObj.aData.dnsho.forEach(function(item) {
                    data += "<div molochexpr='host.dns' class=\"moloch-right-click\">" + safeStr(item) + "</div>";
                  });
                  data += '<br><img src="up-arrow.png">';
                } else {
                  oObj.aData.dnsho.slice(0, 5).forEach(function(item) {
                    data += "<div molochexpr='host.dns' class=\"moloch-right-click\">" + safeStr(item) + "</div>";
                  });
                  if (oObj.aData.dnsho.length > 5) {
                    data += '<br><img src="down-arrow.png">';
                  }
                }
              } else if (oObj.aData.tls) {
                oObj.aData.tls.forEach(function(tls) {
                  data += "<span molochexpr='cert.alt' class='moloch-right-click'>" + tls.sCn + "</span>";
                  if (tls.alt) {
                    data += " [";
                    for(var i = 0, ilen = tls.alt.length; i < ilen; i++) {
                      if (i > 0) {
                        data += ", ";
                      }
                      data += "<span molochexpr='cert.alt' class='moloch-right-click'>" + tls.alt[i] + "</span>";
                    }
                    data += "]";
                  }
                  data += "<br>";
                });
              } else if (oObj.aData.ircch) {
                data += "<b>Channel:</b> ";
                data += oObj.aData.ircch.join(", ");
                data += "<br>";
              }

              data += "</div>";

              return data;
            }
          }
        ],
        "aaSorting": [[sortName2Col[molochSettings.sortColumn || "start"] || 2 , molochSettings.sortDirection || "asc"]],
        "fnServerData": function ( sSource, aoData, fnCallback ) {
          var params = buildParams();
          aoData = $.merge(aoData, params);
          aoData.push({name: "facets", value: "1"});

          if (this.fnSettings()._iDisplayLength !== 100) {
            params.push({name: "iDisplayLength", value: this.fnSettings()._iDisplayLength});
          }

          var state = $.param(params);
          if (doPushState && state !== window.location.search.substring(1) && 'pushState' in history) {
            history.pushState({}, this.title || '', '?' + state);
          } else {
            doPushState = 1;
          }

          startBlink();
          $.ajax( {
             "dataType": 'json',
              "type": "GET",
              "url": sSource,
              "data": aoData,
              "success": function (json) {
                updateHealth(json.health);

                if (json.lpHisto && json.lpHisto[0]) {
                  if ($("#startDate").val() === "") {
                    $("#startDate").val(dateString(json.lpHisto[0][0]/1000, ' '));
                  }
                  if ($("#stopDate").val() === "") {
                    $("#stopDate").val(dateString(json.lpHisto[json.lpHisto.length-1][0]/1000) + 59, ' ');
                  }
                }

                updateGraph(json.graph);
                updateMap(json.map);
                updateString("#bsqErr", json.bsqErr);

                fnCallback(json);
                $("#actionsForm").data("moloch-visible", sessionsTable.fnSettings().aiDisplay.length)
                                 .data("moloch-all", sessionsTable.fnSettings().fnRecordsDisplay());
                if (initialParams.openAll) {
                  nNodes = sessionsTable.fnGetNodes();
                  for (var i = 0, ilen = nNodes.length; i < ilen; i++) {
                    openRow(nNodes[i]);
                  }
                }
                initialParams.openAll = 0;
                stopBlink();
              },
              "error": function (jqXHR, textStatus, errorThrown) {
                if ($('#sessions').data('unloading') !== true) {
                  alert("Sessions: Error fetching session data, maybe network error or need to reload page?");
                }
              }
          } );
        }
      } );

      $('#sessions').unload(function() {
        $('#sessions').data('unloading', true);
      });

      setupGraph();
      expressionResize();

      setupMap();

      $.contextMenu({
          selector: '.context-menu-one',
          build: function($trigger, e) {
            var items = {};

            var id = $(e.target).closest(".context-menu-one").attr("id");
            if (id === "a1" || id === "a2" || id === 'info') {
              if (id === 'info') {
                items = {
                  usitems: {name: "Export Unique URLs", counts:0, field: 'rawus'},
                  usitemcounts: {name: "Export Unique URLs with Counts", counts:1, field: 'rawus'},
                  esubitems: {name: "Export Unique Email Subjects", counts:0, field: 'rawesub'},
                  esubitemcounts: {name: "Export Unique Email Subjects with Counts", counts:1, field: 'rawesub'},
                  esrcitems: {name: "Export Unique Email Source", counts:0, field: 'esrc'},
                  esrcitemcounts: {name: "Export Unique Email Source with Counts", counts:1, field: 'esrc'},
                  edstitems: {name: "Export Unique Email Destination", counts:0, field: 'edst'},
                  edstitemcounts: {name: "Export Unique Email Destination with Counts", counts:1, field: 'edst'},
                  efnitems: {name: "Export Unique Email Files", counts:0, field: 'efn'},
                  efnitemcounts: {name: "Export Unique Email Files with Counts", counts:1, field: 'efn'},
                  ircchitems: {name: "Export Unique IRC Channels", counts:0, field: 'ircch'},
                  ircchitemcounts: {name: "Export Unique IRC Channels with Counts", counts:1, field: 'ircch'}
                };
              } else {
                items = {
                  items: {name: "Export Unique IPs", counts:0, field: e.target.id},
                  itemcounts: {name: "Export Unique IPs with Counts", counts:1, field: e.target.id}
                };
              }
              return {
                callback: function(key, options) {
                  var data = sessionsTable.fnSettings().oApi._fnAjaxParameters(sessionsTable.fnSettings());
                  var params = buildParams();
                  params = $.merge(data, params);

                  params.push({name:'field', value:items[key].field});
                  params.push({name:'counts', value:items[key].counts});
                  var url = "unique.txt?" + $.param(params);

                  window.open(url);
                },
                items: items
              };
            }

            var rowData = sessionsTable.fnGetData($(e.target).closest("tr")[0]);
            if (rowData === null) {
              return false;
            }
            var sPos = sessionsTable.fnGetPosition( e.target );
            var ip, country, port, suffix;
            if (sPos[1] === 4 || sPos[1] === 6) {
              if (sPos[1] === 4) {
                ip = ipString(rowData.a1);
                port = rowData.p1;
                suffix = ".src";
              } else {
                ip = ipString(rowData.a2);
                port = rowData.p2;
                suffix = ".dst";
              }
              items = {
                andport: {name: "and Port " + port, exp: "port" + suffix + "==" + port},
                andnotport: {name: "and NOT Port " + port, exp: "port" + suffix + "!=" + port},
                andipport: {name: "and " + ip + ":" + port, exp: "ip" + suffix + "==" + ip + ":" + port},
                andnotipport: {name: "and NOT " + ip + ":" + port, exp: "ip" + suffix + "!=" + ip + ":" + port}
              };
            } else {
              return false;
            }

            return {
              callback: function(key, options) {
                addExpression(items[key].exp);
              },
              items: items
            };
          }
      });

      var searchStuffOffset = $('#searchStuff').offset().top;
      var headerOffset = $('.ui-widget-header').offset().top - $('#searchStuff').height();

      $(window).scroll(function () {
        var scrollTop = $(window).scrollTop(); // check the visible top of the browser

        if (searchStuffOffset < scrollTop) {
          $('#searchStuff').addClass('fixedsearch');
          $('#logo').hide();
        } else {
          $('#searchStuff').removeClass('fixedsearch');
          $('#logo').show();
        }

        if (!$('.ui-widget-header').hasClass('fixedheader')) {
          if (headerOffset < scrollTop) {
            $('.ui-widget-header').css("top", $('#searchStuff').height()-1);
            $('.ui-widget-header').addClass('fixedheader');
            $(window).scrollTop(headerOffset - $('.ui-widget-header').height());
          }
        } else {
          if (headerOffset - $('.ui-widget-header').height() > scrollTop) {
            $('.ui-widget-header').removeClass('fixedheader');
            $(window).scrollTop(headerOffset);
          }
        }

        var height = $('#searchStuff').height() + $('.ui-widget-header').height();
        $(".opened").each(function(a1, nTr) {
          var hasClass = $(nTr).hasClass("fixedrow");

          if (!hasClass) {
            if ($(nTr).offset().top - height < scrollTop) {
              $(nTr).data('savedTopOffset', $(nTr).offset().top - height);

              $(nTr).css("top", height-1);
              $(nTr).addClass('fixedrow');
              var td = $(nTr).children("td");
              $(td).each(function(i, e) {
                $(e).html($(e).html().replace("<br>", "&nbsp;"));
                $(e).width(pinnedColWidths[visibleColumns[i]]);
              });
              $($(nTr).find(".infoColumn")).hide();
              $($(nTr).find(".protocolText")).hide();
            }
          } else {
            if ($(nTr).data('savedTopOffset') - $(nTr).height() > scrollTop) {
              unPinRow(nTr, false);
            }
          }
          height += $(nTr).height();
        });
      });

      $.contextMenu({
        selector: ".format-other",
        trigger: "hover",
        items: !{decodeItems},
        events: {
          show: function(opt) {
            var sessionDetail = this.closest(".sessionDetail");
            if (sessionDetail.parent().data("decodeOptions")) {
              $.contextMenu.setInputValues(opt, sessionDetail.parent().data("decodeOptions"));
            } else if (localStorage && localStorage['moloch-decode']) {
              $.contextMenu.setInputValues(opt, JSON.parse(localStorage['moloch-decode']));
            }
          },
          hide: function(opt) {
            var sessionDetail = this.closest(".sessionDetail");
            var decode = $.contextMenu.getInputValues(opt);
            sessionDetail.parent().data("decodeOptions", decode);
            if (localStorage) {
              localStorage['moloch-decode'] = JSON.stringify(decode);
            }
            this.change();
          }
        }
      });



      $(document).on('click', '[molochexpr]', addExpressionClick);
    }); // document ready

    function unPinRow(nTr, updateRows) {
      $($(nTr).find(".infoColumn")).show();
      $($(nTr).find(".protocolText")).show();
      $($(nTr).children("td")[10]).show();
      $(nTr).removeClass('fixedrow');
      $($(nTr).children("td")).each(function(i, e) {
        $(e).html($(e).html().replace("&nbsp;", "<br>"));
      });

      if (updateRows) {
        var height = $('#searchStuff').height() + $('.ui-widget-header').height();
        $(".opened.fixedrow").each(function(a1, a2) {
          $(a2).css("top", height-1);
          height += $(a2).height();
        });
      }
    }

    setTimeout(function () {window.history.ready = true;}, 500);

    $(window).resize(function(e) {
      if (e.target.id === "sessionGraph" || e.target.id === "world-map") {
        return;
      }
      expressionResize();
    });
