<h2> Change password for #{puser.userId} (#{puser.userName})</h2>
form#changePassword
  - if (currentPassword)
    label(for='currentPassword') Current Password:
    input(type='password', id='currentPassword', name='currentPassword', size='30')
    p
  label(for='newPassword') New Password:
  input(type='password', id='newPassword', name='newPassword', size='30')
  p
  label(for='newPassword2') New Password:
  input(type='password', id='newPassword2', name='newPassword2', size='30')
  input(type='hidden', id='token', name='token', value='#{token}')
  p
  button#change Change

script(type='text/javascript')
  $('#changePassword').submit(function() {
    if ($("#newPassword").val() != $("#newPassword2").val()) {
      alert("New passwords don't match");
      return false;
    }

    $.ajax( {
      "dataType": 'json',
      "type": "POST",
      "url": "#{basePath}changePassword",
      "data": $("#changePassword").serialize(),
      "success": function(data) {
        if (!data.success) {
          alert(data.text);
        } else {
          alert("Password changed.");
          history.back();
        }
      }
    });
    return false;
  });
