<h2> Change password for #{user.userId}</h2>
form#changePassword
  label(for='currentPassword') Current Password:
  input(type='password', id='currentPassword', name='currentPassword', size='30')
  p
  label(for='newPassword') New Password:
  input(type='password', id='newPassword', name='newPassword', size='30')
  p
  button#change Change

script(type='text/javascript')
  $('#changePassword').submit(function() {
    $.ajax( {
      "dataType": 'json',
      "type": "POST",
      "url": "/changePassword",
      "data": $("#changePassword").serialize(),
      "success": function(data) {
        if (!data.success) {
          alert(data.text);
        } else {
          alert("Password changed.");
        }
      }
    });
    return false;
  });
