div.arkime-pcap-toolbar.me-1.ms-1.mt-2.mb-2.session-options
  if (session.rootId)
    v-btn.session-options-btn(variant="text" size="small" @click='allSessions(' + '"' + session.rootId + '"' + ', ' + session.firstPacket + ')')
      v-icon.me-1(icon="mdi-source-branch")
      | All Sessions
  v-btn.session-options-btn(variant="text" size="small" :href="permalink")
    v-icon.me-1(icon="mdi-link")
    | {{ $t('sessions.link') }}
  if (session.packetPos && session.packetPos.length > 0)
    if (session.rootId)
      v-btn.session-options-btn(variant="text" size="small" :href="'api/session/' + session.node + '/' + session.id + '/pcap'" :download="session.id + '-segment.pcap'")
        v-icon.me-1(icon="mdi-download")
        | {{ $t('sessions.downloadSegmentPCAP') }}
      v-btn.session-options-btn(variant="text" size="small" :href="'api/session/entire/' + session.node + '/' + session.rootId + '/pcap'" :download="(session.network && session.network.community_id ? session.network.community_id : session.rootId) + '.pcap'")
        v-icon.me-1(icon="mdi-download")
        | {{ $t('sessions.downloadEntirePCAP') }}
    else
      v-btn.session-options-btn(variant="text" size="small" v-has-permission="'!disablePcapDownload'" :href="'api/session/' + session.node + '/' + session.id + '/pcap'" :download="session.id + '.pcap'")
        v-icon.me-1(icon="mdi-download")
        | {{ $t('sessions.downloadPCAP') }}
    v-btn.session-options-btn(variant="text" size="small" :href="'api/session/raw/' + session.node + '/' + session.id + '?type=src'" :download="session.id + '-src-raw'")
      v-icon.me-1(icon="mdi-arrow-up-circle")
      | {{ $t('sessions.sourceRaw') }}
    v-btn.session-options-btn(variant="text" size="small" :href="'api/session/raw/' + session.node + '/' + session.id + '?type=dst'" :download="session.id + '-dst-raw'")
      v-icon.me-1(icon="mdi-arrow-down-circle")
      | {{ $t('sessions.destinationRaw') }}
  v-menu
    template(#activator="{ props: activatorProps }")
      v-btn.session-options-btn.ms-auto(v-bind="activatorProps" variant="text" size="small")
        v-icon.me-1(icon="mdi-view-column")
        | {{ $t('sessions.columns') }}
        v-icon.ms-1(icon="mdi-menu-down")
    v-list(density="compact")
      v-list-item(@click="toggleLayout(1)" prepend-icon="mdi-view-sequential")
        | {{ $t('sessions.oneColumn') }}
      v-list-item(@click="toggleLayout(2)" prepend-icon="mdi-view-column")
        | {{ $t('sessions.twoColumn') }}
      v-list-item(@click="toggleLayout(3)" prepend-icon="mdi-view-grid")
        | {{ $t('sessions.threeColumn') }}
  v-menu
    template(#activator="{ props: activatorProps }")
      v-btn.session-options-btn(v-bind="activatorProps" variant="text" size="small")
        v-icon.me-1(icon="mdi-cog")
        | {{ $t('sessions.actions') }}
        v-icon.ms-1(icon="mdi-menu-down")
    v-list(density="compact")
      if (session.packetPos && session.packetPos.length > 0)
        v-list-item(@click="exportPCAP", v-has-permission="'!disablePcapDownload'" prepend-icon="mdi-download")
          | {{ $t('sessions.exports.exportPCAP') }}
      v-list-item(@click="addTags" prepend-icon="mdi-tag-plus")
        | {{ $t('sessions.tag.addTags') }}
      v-list-item(@click="removeTags", v-has-permission="'removeEnabled'" prepend-icon="mdi-tag-minus")
        | {{ $t('sessions.tag.removeTags') }}
      v-list-item(@click="removeData()", v-has-permission="'removeEnabled'" prepend-icon="mdi-delete")
        | {{ $t('search.removeData') }}
      v-list-item(v-for="(value, key) in remoteclusters", :key="key", @click="sendSession(key)" prepend-icon="mdi-send")
        | {{ $t('search.sendSession', { name: value.name }) }}

div.mb-2
  arkime-toast(:message="message", :type="messageType", :done="messageDone")

div.mb-2.me-5
  - var sessions = [{id: session.id}];
  div(v-if="form === 'add:tags'")
    arkime-tag-sessions(:sessions=sessions, :add="true", @done="actionFormDone", :single="true")
  div(v-if="form === 'remove:tags'")
    arkime-tag-sessions(:sessions=sessions, :add="false", @done="actionFormDone", :single="true")
  div(v-if="form === 'export:pcap'")
    arkime-export-pcap(:sessions=sessions, @done="actionFormDone")
  div(v-if="form === 'remove:data'")
    arkime-remove-data(:sessions=sessions, @done="actionFormDone", :single="true")
  div(v-if="form === 'send:session'")
    arkime-send-sessions(:sessions=sessions, @done="actionFormDone", :cluster="cluster")
