// general
body
  margin: 0 auto
  font-family: Arial, sans-serif

.qtip-moloch
  font-size 14px

.qtip
  max-width:300px

.bold
  font-weight: bold

.red
  color: red

.ulist-nav li
  display:inline
  font-size:1em
  border-right:1px solid black
  margin-right:8px
  padding-right:8px

.ulist-nav li.last
  border-right:none
  margin-right:0px

.ulist-nav li a
  text-decoration:none
  color:rgb(160,167,214)

.ulist-nav li a:hover
  color:rgb(193,198,228)

.fixedsearch
  position: fixed
  top: 0px
  right: 0px
  left: 0px
  background-color: #0f0 ! important;
  background: #162758; /* Old browsers */
  background: -moz-linear-gradient(top,  #162758 0%, #445b9a 50%, #445b9a 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#162758), color-stop(50%,#445b9a), color-stop(100%,#445b9a)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #162758 0%,#445b9a 50%,#445b9a 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #162758 0%,#445b9a 50%,#445b9a 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #162758 0%,#445b9a 50%,#445b9a 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #162758 0%,#445b9a 50%,#445b9a 100%) /* W3C */

.fixedheader
  position: fixed
  right: 0px
  left: 0px
  background-color: #0f0 ! important

.fixedrow
  position: fixed
  right: 0px
  left: 0px
  z-index: 0

#sessions_processing
  z-index: 10

#processing
  text-align: center
  max-width: 100%
  max-height: 100%
  position: absolute
  top:0 
  left:0 
  right:0 
  bottom:0
  margin:auto
  border: 0px
  color: red
  font-size: 24px
  height: 140px
  width: 180px
  background-color: rgba(255, 255, 255, 0)
  z-index: 5

// Data Tables

tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


// layout.jade
#headers
  font-family: Arial, sans-serif
  color:white
  text-shadow: black 0.1em 0.1em 0.2em

#header
  margin-bottom:0px
  line-height: 0px
  height: 70px
  position: relative
  background: #162758; /* Old browsers */
  background: -moz-linear-gradient(top,  #162758 0%, #445b9a 50%, #445b9a 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#162758), color-stop(50%,#445b9a), color-stop(100%,#445b9a)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #162758 0%,#445b9a 50%,#445b9a 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #162758 0%,#445b9a 50%,#445b9a 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #162758 0%,#445b9a 50%,#445b9a 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #162758 0%,#445b9a 50%,#445b9a 100%) /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162758', endColorstr='#445b9a',GradientType=0 ); /* IE6-9 */

#logo
  position: absolute
  display: inline
  bottom: -5px
  left: 10px
  width: 61px

#esstatus
  padding-top: 1px
  width: 10px
  height: 10px
  display: inline-block
  margin-top: -10px;

#viewsArrow
  margin-top: -10px;
  width: 10px
  height: 10px
  margin-right: 5px

#nav-right
  overflow: visible
  top: 0px
  right: 0px
  float: right
  padding:5px 0px
  margin:0 auto
  font-size: 12px

#nav-right ul
  height: 0px
  padding-left: 5px

#nav-right li
  display:inline
  margin-right:2px
  padding-right:1px

#nav-right li.last
  border-right:none

#nav-right li a
  text-decoration:none
  color:rgb(160,167,214)

#nav-right li a:hover
  color:rgb(193,198,228)

#searchStuff
  clear: both
  padding-left: 65px
  z-index: 4

#searchStuffRight
  display: inline-block

#nav 
  top: 0
  padding:5px 0px
  padding-left: 25px
  margin:0 auto

#nav h3
  position:absolute
  left:-100000em

#qtip-exportDialog
  min-width: 350px
  max-width: 500px

// index
.dataTables_length
  padding-top: 4px
  width: auto
  padding-right: 10px

.dataTables_info
  font-size: 14px
  padding-top: 6px
  width: auto

.dataTables_paginate
  padding-top: 4px
  padding-bottom: 2px

.dataTables_filter
  padding-top: 4px
  width: auto

.paging_full_numbers
  font-size: 14px
  width: auto

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_button:hover
  text-shadow: none
  background-color: #C7CAE2

.paginate_disabled_previous, .paginate_enabled_previous
  background-color: none

.paginate_disabled_next, .paginate_enabled_next
  background-color: none

.paginate_enabled_next, .paginate_enabled_previous
  color: white !important

.paging_full_numbers a.paginate_button.current 
  text-shadow: none
  background-color: white

#searchButton, #exportButton, #exportCSVButton, #tagButton
  height: auto

#actionsButton
  font-size: 14px
  padding-left: 5px

#actionsButtonArrow
  width: 15px
  position: relative
  top: 2px

#actionsMenu ul
  display: inline
  list-style: none
  font-size: 14px
  line-height: 18px
  padding: 0px
  cursor: pointer

#actionsMenu li a:hover
  text-decoration:underline; 

#sessionActionsMenu ul, #viewsMenu ul
  display: inline
  list-style: none
  font-size: 14px
  line-height: 18px
  padding: 0px
  cursor: pointer

#sessionActionsMenu li a:hover, #viewsMenu li a:hover
  text-decoration:underline; 

//From http://stackoverflow.com/a/248013
#bsqErr
  clear: both
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

#customDate
  display: none
  clear: both
  padding-left: 65px
  z-index: 4
  font-family: Arial, sans-serif
  text-shadow: black 0.1em 0.1em 0.2em
  font-weight: normal
  font-size: 12px
  color:white
  background: #16285a /* Old browsers */
  background: -moz-linear-gradient(top,  #16285a 0%, #435b99 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16285a), color-stop(100%,#435b99)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #16285a 0%,#435b99 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #16285a 0%,#435b99 100%) /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16285a',endColorstr='#435b99',GradientType=0 ) /* IE6-9 */

.dataTables_processing
  position: fixed
  top: 40%
  border: 0px
  color: red
  font-size: 24px
  height: 140px
  width: 180px
  background-color: rgba(255, 255, 255, 0)

#sessions
  word-wrap:break-word
  table-layout:fixed
  font-family: Arial, sans-serif

table#sessions th
  font-size: 80%

table#sessions td
  padding: 2px 2px
  font-size: 14px

table#sessions td.infoColumn
  font-size: 12px

.infoColumn
  min-width: 200px

table#sessions td.dateColumn
  font-size: 12px

.sessionDetails
  text-align: center

#textpacket
  width:90%
  border: 1px
  padding-left:10px
  table-layout:fixed
  word-wrap:break-word

.box
  display: inline

.protocolText
  padding-top:0px
  font-size: 12px


.sessionsInfo
  padding-bottom: 10px
  position: relative
  height: 150px

#sessionGraphSelect
  position: absolute
  top: -10px
  left: 40%
  font-size: xx-small
  z-index: 0

.sessionGraph
  position: absolute
  top: 0
  left: 10px
  right: 270px
  height: 150px
  z-index: 0
  font-family: Arial, sans-serif

.sessionGraph .button
  position: absolute
  cursor: pointer

.sessionGraph div.button
  font-size: smaller
  color: #999
  background-color: #eee
  padding: 2px

.world-map-wrapper
  position: absolute
  width: 250px
  height: 150px
  top: 0
  right: 0
  z-index: 2

.world-map
  width: 250px
  height: 150px

.jvectormap-label
  z-index: 4

.ui-widget-header a
  color:white

.ui-widget-header
  border: 0
  font-family: Arial, sans-serif
  text-shadow: black 0.1em 0.1em 0.2em
  font-weight: normal
  color:white
  padding-left: 10px
  padding-bottom: 2px
  background: #16285a /* Old browsers */
  background: -moz-linear-gradient(top,  #16285a 0%, #435b99 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16285a), color-stop(100%,#435b99)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #16285a 0%,#435b99 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #16285a 0%,#435b99 100%) /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16285a',endColorstr='#435b99',GradientType=0 ) /* IE6-9 */


.acInput
  width: 200px

.acResults
  padding: 0px
  border: 1px solid WindowFrame
  background-color: Window
  overflow: hidden
  max-height: 200px
  overflow-y: auto
  overflow-x: hidden
  padding-right: 20px
  z-index: 3

.acResults ul
  margin: 0px
  padding: 0px
  list-style-position: outside
  list-style: none

.acResults ul li
  margin: 0px
  padding: 2px 5px
  cursor: pointer
  display: block
  font: menu
  font-size: 12px

.acLoading
  background : url('indicator.gif') right center no-repeat

.acSelect
  background-color: Highlight
  color: HighlightText

// sessionDetail

.textcol
  width: 45%

.sessionsrc
  color: rgb(202, 4, 4)

.sessiondst
  color: blue

.sessionln
  color: darkgreen

.sessionDetail
  font-family: Arial, sans-serif
  font-size: 18px
  background-color: rgb(240, 240, 240)

.sessionDetail a
  text-decoration:none
  font-size: 14px

.sessionDetailSmall
  font-size: 14px

.sessionDetail a:hover
  text-decoration:underline

.sessionDetail hr
  margin-top: 0px
  margin-bottom: 0px

.sessionDetailMeta
  background-color: rgb(210, 210, 210)
  padding-left: 10px
  padding-bottom: 5px
  padding-top: 5px
  margin-bottom: 0px
  margin-top: 0px

.sessionDetailMeta dt
  float: left
  clear: left
  width: 160px
  text-align: right

.sessionDetailMeta dt:after
  content: ":"

.sessionDetailMeta dd
  margin: 0 0 0 165px
  padding: 0 0 1px 0

.sessionDetailTS
  display: none
  color: black

.sessionDetailToolbar
  height: 30px
  line-height: 30px
  border-top:1px solid black
  border-bottom:1px solid black
  padding-left: 10px
  background: #ffffff
  background: -moz-linear-gradient(top,  #ffffff 0%, #b0b0b0 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#b0b0b0)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#b0b0b0 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#b0b0b0 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#b0b0b0 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#b0b0b0 100%) /* W3C */

.sessionDetailToolbar input, .sessionDetailToolbar select
  vertical-align: middle
  margin-bottom: 0px
  margin-top: 0px

.sessionDetailToolbar li
  display:inline-block
  font-size:1em
  border-right:1px solid black
  margin-right:1em
  padding-right:1em

.sessionDetailToolbar a
  font-size:1em

.sessionDetailToolbar li.last
  border-right:none

.addTagsAction
  height: 15px

// Files

#pageBody-filesLink
  margin: 10px

// Upload

#pageBody-uploadLink
  margin: 10px

// Stats

#pageBody-statsLink
  margin: 5px

#statsGraph
  margin-bottom: 5px

#statsGraphSelect
  position: relative
  top: -10px
  left: 45%
  margin: 0px
  font-size: xx-small
  z-index: 1

#stats.display td
  padding: 3px 0px
  border: 0px

.axis path, .axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.axis
  font: 10px sans-serif

.axis text
  -webkit-transition: fill-opacity 250ms linear

.axis path
  display: none

.axis line
  stroke: #000
  shape-rendering: crispEdges

.horizon
  border-bottom: solid 1px #000
  overflow: hidden
  position: relative

.horizon + .horizon
  border-top: none

.horizon canvas
  display: block

.horizon .title, .horizon .value
  bottom: 0
  line-height: 30px
  margin: 0 6px
  position: absolute
  text-shadow: 0 1px 0 rgba(255,255,255,.5)
  white-space: nowrap

.horizon .title
  left: 0

.horizon .value
  right: 0

.line
  background: #000
  opacity: .2
  z-index: 2
  right: 0

#stats td.right
  text-align: right

#stats tfoot th
  padding: 3px 0px
  text-align: right

#esstats td.right
  text-align: right

#esstats tfoot th
  padding: 3px 10px
  text-align: right

// Settings

#pageBody-settingsLink
  margin: 10px

#pageBody-settingsLink form label
  display: inline-block
  width: 14em
  text-align: right

#changePasswordForm, #createViewForm
  display: inline-block

#pageBody-settingsLink h3
  margin: 1px 0px 1px 20px

#pageBody-settingsLink #views
  margin-left: 30px
  padding-right: 60px
  text-align: left
  

// map

.jvectormap-label
  position: absolute
  display: none
  border: solid 1px #CDCDCD
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: #292929
  color: white
  font-family: Arial, sans-serif
  font-size: smaller
  padding: 3px

.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-src, .jvectormap-dst
  position: absolute
  left: 10px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: #292929
  padding: 3px
  color: white
  width: 10px
  height: 10px
  cursor: pointer
  line-height: 10px
  text-align: center

.jvectormap-zoomin
  top: 10px

.jvectormap-zoomout
  top: 30px

.jvectormap-src
  bottom: 10px

.jvectormap-dst
  bottom: 30px

.jvectormap-sel
  color: green

// Connections
.link
  stroke: #ccc

.node circle
  stroke: #333
  stroke-width: 2px

.node text
  pointer-events: none
  font: 10px sans-serif

.connshadow
  stroke-width: 2px
  stroke: #fff

#networkLabel
  position: absolute
  display: none
  border: solid 1px #CDCDCD
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: lightblue
  color: black
  font-family: Arial, sans-serif
  font-size: smaller
  padding: 3px
  width: 200px

#connectionsMenu
  clear: both
  padding-left: 65px
  z-index: 4
  font-family: Arial, sans-serif
  text-shadow: black 0.1em 0.1em 0.2em
  font-weight: normal
  font-size: 12px
  color:white
  background: #16285a /* Old browsers */
  background: -moz-linear-gradient(top,  #16285a 0%, #435b99 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16285a), color-stop(100%,#435b99)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #16285a 0%,#435b99 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #16285a 0%,#435b99 100%) /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16285a',endColorstr='#435b99',GradientType=0 ) /* IE6-9 */

// spiview

#spiview
  font-family: Arial, sans-serif
  background-color: rgb(220, 220, 220)

#spiview a
  text-decoration: none
  font-size: 0.75em

#spiview a:hover
  text-decoration:underline

#spiViewInfo
  clear: both
  padding-left: 65px
  z-index: 4
  font-family: Arial, sans-serif
  text-shadow: black 0.1em 0.1em 0.2em
  font-weight: normal
  font-size: 14px
  min-height: 22px;
  color:white
  background: #16285a /* Old browsers */
  background: -moz-linear-gradient(top,  #16285a 0%, #435b99 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16285a), color-stop(100%,#435b99)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #16285a 0%,#435b99 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #16285a 0%,#435b99 100%) /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16285a',endColorstr='#435b99',GradientType=0 ) /* IE6-9 */

.spicount
  font-size: 0.50em
  vertical-align: text-top

#spiview .info
  margin-left: 20px
  margin-top: 5px
  font-size: 0.65em
  float:right

#spiview .info span
  padding: 2px

#spiview input[type="checkbox"]
  vertical-align: middle

#spiViewInfo span
  vertical-align: middle

// http://www.the-art-of-web.com/css/format-dl
#spiview dl
  padding-top: 0.5em
  padding-right: 0px

#spiview dt
  float: left
  clear: left
  width: 215px
  text-align: right
  font-weight: bold
  color: #666666

#spiview dt:after
  content: ":"

#spiview dd
  margin: 0 0 0 215px
  padding: 0 0 0.5em 0;

#spiview h1
  margin-top: 0px
  margin-bottom: 3px
  padding-left: 10px

#spiview .collapsible,
#spiview .collapse-close
  background: #ccc
  color: #000;

#spiview .collapse-open
  background:#000;
  color: #fff;

#spiview .collapse-open .collapse-display
  display:block
  float:right
  padding:18px
  background:url(minus.png) center center no-repeat

#spiview .collapse-close .collapse-display
  display:block
  float:right
  padding:18px
  background:url(plus.png) center center no-repeat

#spiview .hidden
  display:none

#spiview dt.hidden-show
  text-decoration: line-through


// SPI Graph
#sessionGraphs
  background-color: rgb(220, 220, 220)
  font-family: Arial, sans-serif

#sessionGraphs h3
  margin-top: 0px
  margin-left: 10px

#spiGraphSelect
  clear: both
  padding-left: 65px
  z-index: 4
  font-family: Arial, sans-serif
  text-shadow: black 0.1em 0.1em 0.2em
  font-weight: normal
  font-size: 12px
  min-height: 22px;
  color:white
  background: #16285a /* Old browsers */
  background: -moz-linear-gradient(top,  #16285a 0%, #435b99 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16285a), color-stop(100%,#435b99)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #16285a 0%,#435b99 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #16285a 0%,#435b99 100%) /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16285a',endColorstr='#435b99',GradientType=0 ) /* IE6-9 */

// Users

#pageBody-usersLink
  margin: 10px

#addUser label
  width: 14em
  text-align: right
  display: inline-block

[contenteditable]:not(:focus)
  outline: 1px dotted #aaa
  min-height: 20px
  
