// general
body
  margin: 0 auto

.bold
  font-weight: bold

.ulist-nav li
  display:inline
  font-size:1em
  border-right:1px solid black
  margin-right:1em
  padding-right:1em

.ulist-nav li.last
  border-right:none

.ulist-nav li a
  text-decoration:none
  color:white

.ulist-nav li a:hover
  text-decoration:underline

.ulist-side li
  list-style:none
  font-size:1em
  margin-right:1em
  padding-right:1em

.ulist-side li a
  text-decoration:none
  color:black

.ulist-side li a:hover
  text-decoration:underline

// layout.jade
#header
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif
  margin-bottom:10px
  line-height: 0px
  text-shadow: black 0.1em 0.1em 0.2em
  color:white
  height: 70px
  position: relative
  background: #16285a /* Old browsers */
  background: -moz-linear-gradient(top,  #16285a 0%, #435b99 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16285a), color-stop(100%,#435b99)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #16285a 0%,#435b99 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #16285a 0%,#435b99 100%) /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16285a',endColorstr='#435b99',GradientType=0 ) /* IE6-9 */

#logo
  position: absolute
  display: inline
  bottom: -5px
  left: 10px

#version
  position: absolute
  right:0
  top: 0
  padding:5px 0px
  padding-right:10px
  margin:0 auto
  
#searchStuff
  clear: both
  padding-left: 65px


#nav 
  top: 0
  padding:5px 0px
  padding-left: 25px
  margin:0 auto

#nav h3
  position:absolute
  left:-100000em

// SESSIONS
.dataTables_length
  padding-top: 4px
  width: 10%

.dataTables_info
  font-size: 14px
  padding-top: 6px
  width: auto

.dataTables_paginate
  padding-top: 4px
  padding-bottom: 2px

.paging_full_numbers
  font-size: 14px

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_button:hover
  text-shadow: none
  background-color: #C7CAE2

.paginate_disabled_previous, .paginate_enabled_previous
  background-color: none

.paginate_disabled_next, .paginate_enabled_next
  background-color: none

.paginate_enabled_next, .paginate_enabled_previous
  color: white !important

.paging_full_numbers a.paginate_active 
  text-shadow: none
  background-color: white


#bsqErr
  clean: both

.dataTables_processing
  color: red
  font-size: 24px

#sessions
  word-wrap:break-word
  table-layout:fixed

#textpacket
  width:90%
  border: 1px
  padding-left:10px
  table-layout:fixed
  word-wrap:break-word

.textcol
  width: 45%

.box
  display: inline


#sessionsInfo
  width: 100%
  padding-left: 10px

#sessionGraph
  width: 80%
  height: 150px
  float: left
  z-index: 0

#sessionGraph .button
  position: absolute
  cursor: pointer

#sessionGraph div.button
  font-size: smaller
  color: #999
  background-color: #eee
  padding: 2px

#world-map
  width: 250px
  height: 150px
  float: right
  z-index: 2

.jvectormap-label
  z-index: 3

.ui-widget-header a
  color:white

.ui-widget-header
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif
  text-shadow: black 0.1em 0.1em 0.2em
  font-weight: normal
  color:white
  padding-left: 10px
  padding-bottom: 2px
  background: #16285a /* Old browsers */
  background: -moz-linear-gradient(top,  #16285a 0%, #435b99 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16285a), color-stop(100%,#435b99)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #16285a 0%,#435b99 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #16285a 0%,#435b99 100%) /* IE10+ */
  background: linear-gradient(to bottom,  #16285a 0%,#435b99 100%) /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16285a',endColorstr='#435b99',GradientType=0 ) /* IE6-9 */

// stats

.axis path, .axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.axis
  font: 10px sans-serif

.axis text
  -webkit-transition: fill-opacity 250ms linear

.axis path
  display: none

.axis line
  stroke: #000
  shape-rendering: crispEdges

.horizon
  border-bottom: solid 1px #000
  overflow: hidden
  position: relative

.horizon + .horizon
  border-top: none

.horizon canvas
  display: block

.horizon .title, .horizon .value
  bottom: 0
  line-height: 30px
  margin: 0 6px
  position: absolute
  text-shadow: 0 1px 0 rgba(255,255,255,.5)
  white-space: nowrap

.horizon .title
  left: 0

.horizon .value
  right: 0

.line
  background: #000
  opacity: .2
  z-index: 2
  right: 0

#stats td.right
  text-align: right

#stats th
  padding: 3px 10px
  text-align: right

// map

.jvectormap-label
  position: absolute
  display: none
  border: solid 1px #CDCDCD
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: #292929
  color: white
  font-family: sans-serif, Verdana
  font-size: smaller
  padding: 3px

.jvectormap-zoomin, .jvectormap-zoomout
  position: absolute
  left: 10px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: #292929
  padding: 3px
  color: white
  width: 10px
  height: 10px
  cursor: pointer
  line-height: 10px
  text-align: center

.jvectormap-zoomin
  top: 10px

.jvectormap-zoomout
  top: 30px
