extends layout

block scripts

block content
  div(style="margin-bottom: 12px")
  h1 Experimental PCAP Upload
  form(action="upload",method="post", enctype="multipart/form-data")
    input(type="file", name="file",style="width:100%")
    br
    label(for='tag') Tags
    input(type='text', id='tag', name='tag', size='100')
    label (Comma Seperated)
    br
    button(type="submit")  Upload
