body.dark-2-theme {
  /* basic colors */
  --color-background        : #282828;
  --color-foreground        : #33FF00;
  --color-foreground-accent : #FFCC00;

  --color-white       : #333333;
  --color-gray        : #AAAAAA;
  --color-gray-dark   : #CCCCCC;
  --color-gray-darker : #DDDDDD;
  --color-gray-light  : #555555;
  --color-gray-lighter: #444444;
  --color-black       : #EEEEEE;
  --color-inputs      : #111111;

  --color-primary          : #555555;
  --color-primary-dark     : #222222;
  --color-primary-darker   : #000000;
  --color-primary-light    : #444444;
  --color-primary-lighter  : #777777;
  --color-primary-lightest : #000000;

  --color-secondary          : #00BB20;
  --color-secondary-dark     : #009D1D;
  --color-secondary-darker   : #007F12;
  --color-secondary-light    : #00CF20;
  --color-secondary-lighter  : #00E326;
  --color-secondary-lightest : #1e1e1e;

  --color-tertiary          : #222222;
  --color-tertiary-dark     : #131313;
  --color-tertiary-darker   : #000000;
  --color-tertiary-light    : #444444;
  --color-tertiary-lighter  : #555555;
  --color-tertiary-lightest : #777777;

  --color-quaternary          : #400078;
  --color-quaternary-dark     : #2f0058;
  --color-quaternary-darker   : #22003f;
  --color-quaternary-light    : #4a008b;
  --color-quaternary-lighter  : #5a01a8;
  --color-quaternary-lightest : #000000;


  /* visualization colors */
  --color-water     : #333333;
  --color-land      : #00A517;
  --color-land-dark : #006911;
  --color-land-light: #00E116;


  /* src/dst packet colors */
  --color-src: #ff0073;
  --color-dst: #00ffb3;
}
