body.dark-3-theme {
  /* basic colors */
  --color-background        : #002833;
  --color-foreground        : #ADC1C3;
  --color-foreground-accent : #A6A8E2;

  --color-white       : #333333;
  --color-gray        : #AAAAAA;
  --color-gray-dark   : #CCCCCC;
  --color-gray-darker : #DDDDDD;
  --color-gray-light  : #555555;
  --color-gray-lighter: #444444;
  --color-black       : #EEEEEE;


  /* theme colors */
  --color-primary         : #666666;
  --color-primary-dark    : #7D7D7D;
  --color-primary-darker  : #999999;
  --color-primary-light   : #4F4F4F;
  --color-primary-lighter : #424242;
  --color-primary-lightest: #383838;

  --color-secondary         : #2AA198;
  --color-secondary-dark    : #23837B;
  --color-secondary-darker  : #1B655F;
  --color-secondary-light   : #32BFB4;
  --color-secondary-lighter : #38DDD1;
  --color-secondary-lightest: #124B47;

  --color-tertiary         : #268BD2;
  --color-tertiary-dark    : #1F76B4;
  --color-tertiary-darker  : #1B6396;
  --color-tertiary-light   : #2BA2F0;
  --color-tertiary-lighter : #4AB6FF;
  --color-tertiary-lightest: #154369;

  --color-quaternary          : #D33682;
  --color-quaternary-dark     : #B42C72;
  --color-quaternary-darker   : #96285C;
  --color-quaternary-light    : #E73697;
  --color-quaternary-lighter  : #F14195;
  --color-quaternary-lightest : #460C3A;


  /* visualization colors */
  --color-water     : #5F7C82;
  --color-land      : #179B96;
  --color-land-dark : #124B47;
  --color-land-light: #32BFB4;


  /* src/dst packet colors */
  --color-src: #F34545;
  --color-dst: #6C95E6;
}
