colheader {

  white-space :nowrap;
  overflow    :visible;

  th.active & { color: $color-purple-dark; }

  .fa-sort { visibility: hidden; }

  &:hover {
    .fa-sort { visibility: visible; }
  }

}

session {
  // packet timestamps
  .session-detail-ts { display: none; }
  .show-ts {
    .session-detail-ts { display: block; }
  }

  .session-detail-row {
    background-color: lighten($color-yellow-light, 36%);
  }

  .btn-tag { margin: 4px; }

  dt {
    font-size   : 16px;
    float       : left;
    clear       : left;
    width       : 160px;
    text-align  : right;
    margin-right: 6px;
  }

  dd {
    margin: 0 0 0 165px;

    strong { font-size: 16px; }
  }

  .show-more-items {
    margin-left : 20px;
    font-size   : 16px;
  }

  .nav-pills {
    border-bottom : 1px solid $color-gray-light;
    padding-bottom: 4px;

    li {
      a:hover {
        background-color: lighten($color-yellow-light, 28%);
      }
    }
  }

  .packet-options {
    padding   : 8px 0;
    border-top: 1px solid $color-gray-light;
  }


  /* session detail shortcuts ---------------- */
  .sticky-session-detail-container {
    position      : fixed;
    z-index       : 998;
    top           : 145px;
    right         : 0;
    opacity       : .5;
    width         : 400px;
    overflow      : hidden;
    white-space   : nowrap;
    padding-bottom: 100px;

    &:hover {
      opacity: 1;

      .sticky-session-detail {
        margin-left: 20px;
      }
    }

    div { display: inline-block; }

    .sticky-session-detail {
      display       : block;
      position      : relative;
      z-index       : 999;
      width         : 380px;
      margin-left   : 360px;
      margin-bottom : 4px;
      overflow      : hidden;
      text-align    : right;
      padding       : 2px 15px 2px 0;
      border-radius : 8px 0 0 8px;
      background-color: lighten($color-yellow-light, 26%);

      -webkit-transition: margin-left 300ms linear, opacity 400ms linear;
         -moz-transition: margin-left 300ms linear, opacity 400ms linear;
              transition: margin-left 300ms linear, opacity 400ms linear;
    }
  }


  /* session table --------------------------- */
  table {
    table-layout: fixed;
    border-top  : $color-gray-light solid 1px;
  }

  .table {
    tbody {
      tr {

        // color every fourth row
        &:nth-of-type(4n-1) {
          background-color: lighten($color-gray-light, 5%);
          td {
            &.active {
              background-color: $color-gray-light;
            }
          }
        }

        &:not(.session-detail-row) {
          &:hover {
            background-color: lighten($color-green-light, 55%);
            td {
              &.active {
                background-color: lighten($color-green-light, 50%);
              }
            }
          }
        }

      }
    }
  }


  /* moloch menu items ------------------------- */
  .hover-menu {

    word-break    : break-all;
    overflow-wrap : break-word;

    .moloch-clickable { // clickable value
      margin  : 4px;
      display : inline;
    }

    // display the menu underneath the value
    .moloch-menu {
      display : inherit;
      margin  : 0;
    }

    // hide button and dropdown when not hovered
    .btn, ul.dropdown-menu {
      opacity           : 0;
      visibility        : hidden;

      -webkit-transition: visibility 0s linear 400ms, opacity 400ms;
         -moz-transition: visibility 0s linear 400ms, opacity 400ms;
              transition: visibility 0s linear 400ms, opacity 400ms;
    }

    .btn {
      margin-top: -3px;
      padding   : 0 4px;
    }

    ul.dropdown-menu {
      min-width: 200px;
      max-width: 100%;

      > li {
        > a { // truncate long values
          overflow      : hidden;
          text-overflow : ellipsis;
        }
      }
    }

    .label { // clickable value container
      z-index     : 3;
      font-size   : 14px;
      font-weight : normal;
      white-space : normal;
      text-align  : left;
      padding     : 3px;
      margin      : 0 -20px 0 0;
      position    : relative;
      border      : 1px solid rgba(0, 0, 0, 0);
      color       : lighten($color-blue-light, 16%);

      -webkit-transition: background 400ms linear, border-color 400ms;
         -moz-transition: background 400ms linear, border-color 400ms;
              transition: background 400ms linear, border-color 400ms;
    }

    &:hover {
      // show button and menu (if opened) on hover
      .btn, ul.dropdown-menu {;
        opacity           : 1;
        visibility        : visible;

        -webkit-transition: visibility 0s linear 0s, opacity 400ms;
           -moz-transition: visibility 0s linear 0s, opacity 400ms;
                transition: visibility 0s linear 0s, opacity 400ms;
      }

      .label {
        background-color: $color-white;
        border          : 1px solid darken($color-gray, 13%);
        z-index         : 4;
      }
    }

  }

}
