<nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" routerLink="">
    <img src="public/header_logo.png" alt="">
  </a>
  <ul class="navbar-nav mr-auto ml-4">
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Parliament
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/issues" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Issues
      </a>
    </li>
    <li class="nav-item"
      *ngIf="(auth.hasAuth && authService.loggedIn) || !auth.hasAuth">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Settings
      </a>
    </li>
  </ul>
  <form class="form-inline">
    <!-- refresh interval select -->
    <span class="form-group mr-2" *ngIf="!showLoginInput">
      <div class="input-group">
        <span class="input-group-addon cursor-help"
          placement="left" ngbTooltip="Refresh Interval">
          <span class="fa fa-refresh"></span>
        </span>
        <select class="form-control refresh-interval-control"
          name="refreshInterval" tabindex="1"
          [(ngModel)]="refreshInterval"
          (ngModelChange)="changeRefreshInterval()">
          <option value="">Never</option>
          <option value="15000">15 seconds</option>
          <option value="30000">30 seconds</option>
          <option value="45000">45 seconds</option>
          <option value="60000">1 minute</option>
          <option value="300000">5 minutes</option>
        </select>
      </div>
    </span> <!-- /refresh interval select -->
    <!-- password input -->
    <input class="form-control" type="password"
      (keyup.enter)="login()" tabindex="2"
      [appAutofocus]="focusOnPasswordInput" [(ngModel)]="password"
      [ngClass]="{'hide-login':!showLoginInput,'show-login':showLoginInput}"
      placeholder="password please" name="password">
    <!-- /password input -->
    <!-- login button -->
    <a class="btn btn-outline-success cursor-pointer ml-1"
      (click)="login()" *ngIf="!authService.loggedIn && auth.hasAuth"
      tabindex="3">
      <span class="fa fa-unlock"></span>&nbsp;
      Login
    </a> <!-- /login button -->
    <!-- logged in -->
    <a class="btn btn-outline-danger cursor-pointer"
      (click)="logout()" *ngIf="authService.loggedIn"
      tabindex="4">
      <span class="fa fa-lock"></span>&nbsp;
      Logout
    </a> <!-- /logged in -->
  </form>
</nav>

<div class="container-fluid mt-3">

  <!-- login error -->
  <div class="alert alert-danger" *ngIf="error" style="cursor: auto !important;">
    <span class="fa fa-exclamation-triangle"></span>&nbsp;
    {{ error }}
    <button type="button" class="close cursor-pointer"
      (click)="error = false">
      <span>&times;</span>
    </button>
  </div> <!-- /login error -->

  <router-outlet></router-outlet>

</div>
