navbar .navbar {
  max-height: 36px;
  min-height: 36px;
}

navbar .navbar-nav {
  margin-left: 40px;
}

navbar .navbar-nav > li {
  line-height: 24px;
}

navbar .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.5) !important;
  padding: 0.65rem 0.75rem;
}

navbar .navbar-text {
  margin-top    : 6px;
  margin-bottom : 8px;
}

navbar .navbar-text > small {
  color: rgba(255, 255, 255, 0.5);
  font-size: 80%;
  font-weight: 400;
}

navbar .navbar-inverse {
  background-color  : var(--color-primary-dark);
  border-color      : var(--color-primary-darker);
}

navbar .navbar-inverse .navbar-brand {
  color       : var(--color-gray);
  margin-left : 36px !important;
}

navbar .navbar-inverse li.active a {
  background-color: var(--color-primary-dark) !important;
  color: #fff !important;
}

navbar .moloch-logo {
  position: absolute;
  height  : 46px;
  top     : 2px;
  z-index : 5;
}
