<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <a ng-click="$ctrl.navTabClick('help')" class="cursor-pointer">
      <img ng-src="header_logo.png" class="moloch-logo">
    </a>

    <p class="navbar-text pull-right margined-right-none">
      <small>v{{::$ctrl.molochVersion}}</small>
      <es-health></es-health>
    </p>

    <div class="navbar-header">
      <button class="navbar-toggle" type="button"
        ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-click="$ctrl.navTabClick('app')"
        class="navbar-brand cursor-pointer">
        Moloch
      </a>
    </div>

    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" class="cursor-pointer"
          ng-class="{active: $ctrl.isActive(item.link)}">
            <a ng-if="!item.permission"
              ng-click="$ctrl.navTabClick(item.link)">{{item.title}}</a>
            <a ng-if="item.permission" has-permission="{{item.permission}}"
              ng-click="$ctrl.navTabClick(item.link)">{{item.title}}</a>
        </li>
      </ul>
    </div>

  </div>
</div>
