navbar {

  .navbar {
    max-height: 36px;
    min-height: 36px;
  }

  .navbar-nav > li > a {
    padding-top   : 8px;
    padding-bottom: 8px;
  }

  .navbar-brand {
    height : 36px;
    padding: 8px 15px;
  }

  .navbar-text {
    margin-top   : 6px;
    margin-bottom: 8px;
  }

  .navbar-inverse {
    background-color  : darken($color-purple-dark, 8%);
    -webkit-box-shadow: $px-none $px-none $px-xlg $px-sm darken($color-purple-dark, 16%);
    -moz-box-shadow   : $px-none $px-none $px-xlg $px-sm darken($color-purple-dark, 16%);
    box-shadow        : $px-none $px-none $px-xlg $px-sm darken($color-purple-dark, 16%);

    .navbar-brand {
      color       : $color-gray-light;
      margin-left : 36px !important;
    }

    li {
      a {
        color: $color-gray-light !important;
      }

      &.active {
        a {
          background-color: darken($color-purple-dark, 16%) !important;
          color           : $color-white !important;
          font-weight     : 500;
        }
      }
    }
  }

  .moloch-logo {
    position: absolute;
    height  : 46px;
    top     : 2px;
  }

}
