expression-typeahead {

  .clear-input {
    z-index : 3;
    position: absolute;
    right   : 10px;
    top     : 8px;
  }

  .typeahead-results {
    top       : initial;
    left      : initial;
    display   : block;
    overflow  : scroll;
    max-height: 500px;

    @media screen and (max-height: 600px) {
      max-height: 250px;
    }
  }

}
