expression-typeahead .clear-input {
  z-index : 3;
  position: absolute;
  right   : 10px;
  top     : 8px;
}

expression-typeahead .typeahead-results {
  top       : initial;
  left      : initial;
  display   : block;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}

/* make sure corners are rounded even
 * when the clear input button is present */
expression-typeahead input.search-control {
  border-radius: 0 3px 3px 0 !important;
}

@media screen and (max-height: 600px) {
  expression-typeahead .typeahead-results {
    max-height: 250px;
  }
}
