moloch-search {
  position: fixed;
  right   : 0;
  left    : 0;
  z-index : 1029;
}

moloch-search form {
  border          : none;
  padding         : var(--px-xlg) var(--px-lg) var(--px-md) var(--px-lg);
  background-color: var(--color-secondary-lightest);

  -webkit-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
     -moz-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
          box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
}

moloch-search form .time-range-control {
  -webkit-appearance: none;
}

moloch-search .action-form-separator {
  margin    : 7px 15px;
  border-top: 1px solid var(--color-gray-light);
}


/* dropdown menus in search bar */
moloch-search .dropdown-menu {
  min-width : 200px;
  max-height: 320px;
  overflow-y: auto;
}

moloch-search .dropdown-menu > li > div {
  display     : block;
  padding     : 2px 8px;
  white-space : nowrap;
  margin-left : 0;
  margin-right: 0;
}

moloch-search .dropdown-menu > li > div > div {
  padding-left : 0;
  padding-right: 0;
}

moloch-search .dropdown-menu > li > div a {
  color           : var(--color-black);
  text-decoration : none;
}


/* make sure action menu dropdown is above all the things
 * but specifically above the sticky sessions button */
.action-menu-dropdown { z-index: 1030; }
