moloch-search {
  position: fixed;
  right   : 0;
  left    : 0;
  z-index : 1029; // under primary navbar

  form {
    border            : none;
    padding           : $px-xlg $px-lg $px-md $px-lg;
    background-color  : lighten($color-blue-light, 50%);
    -webkit-box-shadow: $px-none $px-none $px-xlg $px-sm $color-gray;
    -moz-box-shadow   : $px-none $px-none $px-xlg $px-sm $color-gray;
    box-shadow        : $px-none $px-none $px-xlg $px-sm $color-gray;

    .time-range-control { -webkit-appearance: none; }
  }

  @media (max-width: 768px) {
    position    : relative;
    margin-left : -15px;
    margin-right: -15px;
  }
}
