moloch-graph-map .inline-graph {
  position: relative;
  display : inline-block;
  width   : calc(100% - 425px);
}
moloch-graph-map .whole-graph {
  position: relative;
  width   : 99%;
}

moloch-graph-map .inline-map {
  width   : 400px;
  float   : right;
  position: relative;
}

/* fixed width buttons are the same width regardless of content */
moloch-graph-map .btn-fw {
  width: 26px;
}

moloch-graph-map .map-btn {
  display         : block;
  position        : absolute;
  top             : 157px;
  right           : 8px;
  z-index         : 997;
  margin-top      : 6px;
  overflow        : hidden;
  padding         : 2px 8px 3px 8px;;
  border-radius   : 4px;
  cursor          : pointer;
  background-color: var(--color-primary);
  color           : #FFFFFF;
}

moloch-graph-map .btn-close-map {
  position: absolute;
  top     : 2px;
  right   : 2px;
  z-index : 997;
}

moloch-graph-map .btn-expand-map {
  position: absolute;
  top     : 26px;
  right   : 2px;
  z-index : 997;
}

moloch-graph-map .src-dst-btns {
  position: absolute;
  top     : 54px;
  right   : 2px;
  z-index : 997;
}

/* show the buttons on top of the map */
moloch-graph-map.expanded .src-dst-btns,
moloch-graph-map.expanded .btn-close-map,
moloch-graph-map.expanded .btn-expand-map {
  z-index : 999;
  position: fixed;
}

moloch-graph-map.expanded .btn-close-map {
  top   : 168px;
  right : 17px;
}
moloch-graph-map.expanded .btn-expand-map {
  top   : 192px;
  right : 17px;
}
moloch-graph-map.expanded .src-dst-btns {
  top   : 220px;
  right : 17px;
}
