moloch-map {

  .moloch-map-container {
    #moloch-map {
      z-index       : 996;
      height        : 180px;
      width         : 100%;
      margin-bottom : -25px;
    }
  }

  .jvectormap-container {
    border: 1px solid $color-water-dark;
    border-radius : 4px;
    height        : 100%;
    width         : 100%;
  }

  .jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-src, .jvectormap-dst {
    position        : absolute;
    left            : 10px;
    width           : 18px;
    height          : 20px;
    cursor          : pointer;
    line-height     : 16px;
    text-align      : center;
    border-radius   : 3px;
    color           : #333;
    border-color    : #ccc;
    background-color: #fff;

    &:hover {
      color           : #333;
      border-color    : #adadad;
      background-color: #e6e6e6;
    }
  }

  .jvectormap-zoomin  { top: 10px; }

  .jvectormap-zoomout { top: 32px; }

}


/* labels added to body by jvectormap */
.jvectormap-label {
  z-index       : 999;
  position      : absolute;
  display       : none;
  border        : solid 1px $color-gray-light;
  background    : lighten($color-black, 10%);
  color         : $color-white;
  font-size     : $px-xlg + $px-sm;
  padding       : 0 $px-sm;
  border-radius : 3px;
}
