moloch-map .moloch-map-container #moloch-map {
  z-index       : 996;
  height        : 160px;
  width         : 100%;
  margin-bottom : -25px;
}

moloch-map .jvectormap-container {
  border        : 1px solid var(--color-gray-light);
  border-radius : 4px;
  height        : 100%;
  width         : 100%;
}

moloch-map .jvectormap-zoomin, moloch-map .jvectormap-zoomout {
  position        : absolute;
  left            : 2px;
  width           : 18px;
  height          : 20px;
  cursor          : pointer;
  line-height     : 16px;
  text-align      : center;
  border-radius   : 3px;
  color           : var(--color-gray-darker);
  border-color    : var(--color-gray);
  background-color: var(--color-white);
  font-weight     : bolder;
}

moloch-map .jvectormap-zoomin:hover, moloch-map .jvectormap-zoomout:hover {
  color           : var(--color-gray-darker);
  border-color    : var(--color-gray-dark);
  background-color: var(--color-gray-light);
}

moloch-map .jvectormap-zoomin {
  top: 2px;
}

moloch-map .jvectormap-zoomout {
  top: 24px;
}

/* labels added to body by jvectormap */
.jvectormap-label {
  z-index       : 999;
  position      : absolute;
  display       : none;
  border        : solid 1px var(--color-gray-light);
  background    : var(--color-gray-darker);
  color         : var(--color-white);
  font-size     : smaller;
  padding       : var(--px-none) var(--px-sm);
  border-radius : 3px;
}

/* legend (top 10) */
.moloch-map-container .map-legend {
  max-width       : 94%;
  margin-left     : 4px;
  font-size       : 1.3rem;
  position        : fixed;
  bottom          : 14px;
  right           : 20px;
  z-index         : 999;
  padding         : 0 0 2px 4px;
  border-radius   : 4px;
  background-color: #fff;
}

.moloch-map-container .map-legend .legend-item {
  display       : inline-block;
  margin-right  : 4px;
  margin-top    : 2px;
  border-radius : 2px;
  padding       : 2px 4px;
  color         : #fff;
  text-shadow   : 1px 1px 0 #333,
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 3px rgba(0,0,0,0.65);
}

.moloch-map-container .map-legend strong {
  color: #000;
}
