<div dnd-sortable-container [dropZones]="['groups']" [sortableData]="parliament.groups">

  <!-- all the style="cursor: x !important;" are because of: https://github.com/akserg/ng2-dnd/issues/135 -->
  <!-- page error -->
  <div class="alert alert-danger" *ngIf="error" style="cursor: auto !important;">
    <span class="fa fa-exclamation-triangle"></span>&nbsp;
    {{ error }}
    <button type="button" class="close cursor-pointer"
      (click)="error = false">
      <span>&times;</span>
    </button>
  </div> <!-- /page error -->

  <!-- search & create group -->
  <div class="row" style="cursor: auto !important;">
    <!-- search -->
    <div class="col-md-8">
      <div class="input-group">
        <span class="input-group-addon">
          <span class="fa fa-search"></span>
        </span>
        <input type="text" class="form-control" placeholder="Search clusters"
          [(ngModel)]="searchTerm" (keyup)="debounceSearch()" tabindex="8" />
      </div>
    </div> <!-- /search -->
    <!-- create group -->
    <div class="col-md-4" *ngIf="authService.loggedIn">
      <a class="btn btn-outline-primary cursor-pointer pull-right"
        *ngIf="!showNewGroupForm"
        (click)="showNewGroupForm = true;">
        <span class="fa fa-plus-circle"></span>&nbsp;
        New Group
      </a>
      <a class="btn btn-outline-success cursor-pointer pull-right"
        *ngIf="showNewGroupForm"
        (click)="createNewGroup()">
        <span class="fa fa-plus-circle"></span>&nbsp;
        Create
      </a>
      <a class="btn btn-outline-warning cursor-pointer pull-right mr-1"
        *ngIf="showNewGroupForm"
        (click)="showNewGroupForm = false">
        <span class="fa fa-ban"></span>&nbsp;
        Cancel
      </a>
    </div> <!-- /create group -->
  </div> <!-- /search & create group -->

  <hr>

  <!-- new group form -->
  <div *ngIf="showNewGroupForm && authService.loggedIn" class="row" style="cursor: auto !important;">
    <div class="col-md-12">
      <form>
        <div class="form-group row">
          <label for="newGroupTitle" class="col-sm-2 col-form-label">
            Title<sup class="text-danger">*</sup>
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
              id="newGroupTitle" name="newGroupTitle"
              placeholder="Group title" [(ngModel)]="newGroupTitle">
          </div>
        </div>
        <div class="form-group row">
          <label for="newGroupDescription" class="col-sm-2 col-form-label">
            Description
          </label>
          <div class="col-sm-10">
            <textarea rows="3" class="form-control" name="newGroupDescription"
              id="newGroupDescription" placeholder="Group description"
              [(ngModel)]="newGroupDescription"></textarea>
          </div>
        </div>
      </form>
      <hr>
    </div>
  </div> <!-- /new group form -->

  <!-- no results for searchTerm filter -->
  <div *ngIf="searchTerm && !numFilteredClusters && parliament.groups.length"
    class="info-area vertical-center" style="cursor: auto !important;">
    <div class="text-muted">
      <span class="fa fa-3x fa-folder-open text-muted-more"></span>
      No clusters match your search
    </div>
  </div> <!-- /no results for searchTerm filter -->

  <!-- no groups -->
  <div *ngIf="!parliament.groups.length && !showNewGroupForm"
    class="info-area vertical-center" style="cursor: auto !important;">
    <div class="text-muted">
      <span class="fa fa-3x fa-folder-open text-muted-more"></span>
      No groups in your cluster.
      <a (click)="showNewGroupForm = true" *ngIf="authService.loggedIn"
        class="cursor-pointer no-href no-decoration">Create one</a>
    </div>
  </div> <!-- /no groups -->

  <!-- groups -->
  <div *ngFor="let group of parliament.groups; trackBy:getTrackingId; let i = index;"
    class="mb-4" dnd-sortable [sortableIndex]="i" [dragEnabled]="!searchTerm && authService.loggedIn && dragGroups"
    [dragData]="group" (onDropSuccess)="onDrop($event)" (onDragStart)="onGroupDragStart()">

    <!-- group title/description -->
    <div class="row" [ngClass]="{'cursor-move':!searchTerm && authService.loggedIn && dragGroups}" style="cursor:auto;"
      *ngIf="group.filteredClusters.length > 0 || (!group.clusters.length && !searchTerm) || !dragGroups">
      <div class="col-md-12">
        <h5 class="mb-1">
          <!-- group action buttons -->
          <span *ngIf="authService.loggedIn">
            <a *ngIf="!group.showNewClusterForm && !group.showEditGroupForm"
              (click)="group.showNewClusterForm = true;"
              class="btn btn-sm btn-outline-info pull-right cursor-pointer mb-1">
              <span class="fa fa-plus-circle"></span>&nbsp;
              New Cluster
            </a>
            <a class="btn btn-sm btn-outline-success cursor-pointer pull-right mb-1"
              *ngIf="group.showNewClusterForm"
              (click)="createNewCluster(group)">
              <span class="fa fa-plus-circle"></span>&nbsp;
              Create
            </a>
            <a *ngIf="group.showEditGroupForm"
              (click)="editGroup(group)"
              class="btn btn-sm btn-outline-success pull-right cursor-pointer mr-1 mb-1">
              <span class="fa fa-save"></span>&nbsp;
              Save
            </a>
            <a class="btn btn-sm btn-outline-warning cursor-pointer pull-right mr-1 mb-1"
              *ngIf="group.showNewClusterForm || group.showEditGroupForm"
              (click)="group.showNewClusterForm = false; group.showEditGroupForm = false;">
              <span class="fa fa-ban"></span>&nbsp;
              Cancel
            </a>
            <a *ngIf="!group.showEditGroupForm && !group.showNewClusterForm"
              (click)="displayEditGroupForm(group)"
              class="btn btn-sm btn-outline-warning pull-right cursor-pointer mr-1 mb-1">
              <span class="fa fa-pencil"></span>&nbsp;
              Edit Group
            </a>
          </span> <!-- /group action buttons -->
          {{ group.title }}&nbsp;
          <a *ngIf="!group.showNewClusterForm && group.showEditGroupForm && authService.loggedIn"
            (click)="deleteGroup(group)" placement="top" ngbTooltip="Delete Group"
            class="btn btn-sm btn-outline-danger cursor-pointer ml-2">
            <span class="fa fa-trash-o"></span>
          </a>
        </h5>
        <p class="lead mb-2" style="font-size:1rem;">
          {{ group.description }}
        </p>
        <div class="alert alert-danger alert-sm" *ngIf="group.error">
          <span class="fa fa-exclamation-triangle"></span>&nbsp;
          {{ group.error }}
          <button type="button" class="close cursor-pointer"
            (click)="group.error = false">
            <span>&times;</span>
          </button>
        </div>
      </div>
    </div> <!-- /group title/description -->

    <!-- edit group form -->
    <div *ngIf="group.showEditGroupForm && authService.loggedIn" class="row" style="cursor: auto !important;">
      <div class="col-md-12">
        <form>
          <div class="form-group row">
            <label for="editGroupTitle" class="col-sm-2 col-form-label">
              Title<sup class="text-danger">*</sup>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                id="editGroupTitle" name="editGroupTitle"
                placeholder="Group title" [(ngModel)]="group.newTitle">
            </div>
          </div>
          <div class="form-group row">
            <label for="editGroupDescription" class="col-sm-2 col-form-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea rows="3" class="form-control" id="editGroupDescription"
                name="editGroupDescription" placeholder="Group description"
                [(ngModel)]="group.newDescription"></textarea>
            </div>
          </div>
        </form>
        <hr>
      </div>
    </div> <!-- /edit group form -->

    <!-- create cluster form -->
    <div *ngIf="group.showNewClusterForm && authService.loggedIn" style="cursor: auto !important;">
      <div class="col-md-12">
        <hr>
        <form>
          <div class="form-group row">
            <label for="newClusterTitle" class="col-sm-2 col-form-label">
              Title<sup class="text-danger">*</sup>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="newClusterTitle"
                name="newClusterTitle" placeholder="Cluster title"
                [(ngModel)]="group.newClusterTitle">
            </div>
          </div>
          <div class="form-group row">
            <label for="newClusterDescription" class="col-sm-2 col-form-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea rows="3" class="form-control" id="newClusterDescription"
                name="newClusterDescription" placeholder="Cluster description"
                [(ngModel)]="group.newClusterDescription"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="newClusterUrl" class="col-sm-2 col-form-label">
              Url<sup class="text-danger">*</sup>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="newClusterUrl"
                name="newClusterUrl" placeholder="Cluster url"
                [(ngModel)]="group.newClusterUrl">
            </div>
          </div>
          <div class="form-group row">
            <label for="newClusterLocalUrl" class="col-sm-2 col-form-label">
              Local Url
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="newClusterLocalUrl"
                name="newClusterLocalUrl" placeholder="Cluster local url"
                [(ngModel)]="group.newClusterLocalUrl">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 offset-sm-2">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox"
                  id="newClusterMultiviewer" name="newClusterMultiviewer"
                  [(ngModel)]="group.newClusterMultiviewer"> Multiviewer
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox"
                    id="newClusterDisabled" name="newClusterDisabled"
                    [(ngModel)]="group.newClusterDisabled"> Disabled
                </label>
              </div>
            </div>
          </div>
        </form>
        <hr>
      </div>
    </div> <!-- /create cluster form -->

    <!-- clusters -->
    <ul class="cluster-group d-flex flex-wrap row mb-4"
      [@clusters]="group.filteredClusters.length" dnd-sortable-container
      [sortableData]="group.filteredClusters" [dropZones]="['clusters']">
      <li *ngFor="let cluster of group.filteredClusters; trackBy:getTrackingId; let i = index;"
        dnd-sortable [dragEnabled]="!searchTerm && authService.loggedIn && dragClusters" [sortableIndex]="i"
        [dragData]="cluster" (onDropSuccess)="onDrop($event)"
        (onDragStart)="onClusterDragStart()" (onDragStop)="onClusterDragStop()"
        class="cluster col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-1">
        <div class="card bg-light" [ngClass]="{'cursor-move':!searchTerm && authService.loggedIn && dragClusters}" style="cursor:auto;">
          <div class="card-body">
            <div> <!-- card title -->
              <h6 style="display:inline-block">
                <span class="fa fa-sitemap text-muted cursor-help" *ngIf="cluster.multiviewer"
                  placement="top" ngbTooltip="Mutiviewer cluster"></span>
                <span class="text-muted fa fa-eye-slash cursor-help" *ngIf="cluster.disabled"
                  placement="top" ngbTooltip="Disabled cluster"></span>
                <a *ngIf="!cluster.disabled"
                  class="no-decoration" href="{{ cluster.url }}/sessions">
                  {{ cluster.title }}
                </a>
                <span *ngIf="cluster.disabled">{{ cluster.title }}</span>
                <a href="{{ cluster.url }}/stats?statsTab=0" class="no-decoration ml-2"
                  placement="top" ngbTooltip="Go to the Stats page of this cluster">
                  <span class="fa fa-bar-chart"></span>
                </a>
              </h6>
              <span *ngIf="!cluster.disabled" style="display:inline-table;"
                class="badge badge-pill badge-secondary cursor-help pull-right"
                [ngClass]="{'badge-success':cluster.status === 'green','badge-warning':cluster.status === 'yellow','badge-danger':cluster.status === 'red'}"
                placement="left" ngbTooltip="Moloch ES Status {{ cluster.healthError }}">
                <span *ngIf="cluster.status">{{ cluster.status }}</span>
                <span *ngIf="cluster.healthError" class="fa fa-exclamation-triangle"></span>
                <span *ngIf="!cluster.status && !cluster.healthError">????</span>
              </span>
            </div> <!-- /card title -->
            <hr>
            <p class="text-muted small mb-2">{{ cluster.description }}</p>
            <!-- cluster error -->
            <div class="alert alert-danger alert-sm" *ngIf="cluster.error">
              <button type="button" class="close cursor-pointer"
                (click)="cluster.error = false">
                <span>&times;</span>
              </button>
              <span class="fa fa-exclamation-triangle"></span>&nbsp;
              {{ cluster.error }}
            </div> <!-- /cluster error -->
            <!-- cluster stats -->
            <small *ngIf="(!cluster.statsError && !cluster.showEditClusterForm && !cluster.disabled && !cluster.multiviewer) || (cluster.showEditClusterForm && !cluster.newDisabled && !cluster.newMultiviewer)">
              <div class="row">
                <div class="col-6" *ngIf="cluster.showEditClusterForm || !cluster.hideDeltaBPS">
                  <label [ngClass]="{'form-check-label':cluster.showEditClusterForm}">
                    <input class="form-check-input" type="checkbox"
                      [checked]="!cluster.hideDeltaBPS"
                      *ngIf="cluster.showEditClusterForm && authService.loggedIn"
                      (change)="cluster.hideDeltaBPS = !cluster.hideDeltaBPS" />
                    <strong style="display:inline-block;">{{ cluster.deltaBPS | commaString: '' }}</strong>
                    <span style="display:inline-block;font-size:90%;">Bytes/Sec</span>
                  </label>
                </div>
                <div class="col-6" *ngIf="cluster.showEditClusterForm || !cluster.hideDeltaTDPS">
                  <label [ngClass]="{'form-check-label':cluster.showEditClusterForm}">
                    <input class="form-check-input" type="checkbox"
                      [checked]="!cluster.hideDeltaTDPS"
                      *ngIf="cluster.showEditClusterForm && authService.loggedIn"
                      (change)="cluster.hideDeltaTDPS = !cluster.hideDeltaTDPS" />
                    <strong style="display:inline-block;">{{ cluster.deltaTDPS | commaString: '' }}</strong>
                    <span style="display:inline-block;font-size:90%;">Packet Drops/Sec</span>
                  </label>
                </div>
                <div class="col-6" *ngIf="cluster.showEditClusterForm || !cluster.hideDataNodes">
                  <label [ngClass]="{'form-check-label':cluster.showEditClusterForm}">
                    <input class="form-check-input" type="checkbox"
                      [checked]="!cluster.hideDataNodes"
                      *ngIf="cluster.showEditClusterForm && authService.loggedIn"
                      (change)="cluster.hideDataNodes = !cluster.hideDataNodes" />
                    <strong style="display:inline-block;">{{ cluster.dataNodes | commaString: '' }}</strong>
                    <span style="display:inline-block;font-size:90%;">Data Nodes</span>
                  </label>
                </div>
                <div class="col-6" *ngIf="cluster.showEditClusterForm || !cluster.hideTotalNodes">
                  <label [ngClass]="{'form-check-label':cluster.showEditClusterForm}">
                    <input class="form-check-input" type="checkbox"
                      [checked]="!cluster.hideTotalNodes"
                      *ngIf="cluster.showEditClusterForm && authService.loggedIn"
                      (change)="cluster.hideTotalNodes = !cluster.hideTotalNodes" />
                    <strong style="display:inline-block;">{{ cluster.totalNodes | commaString: '' }}</strong>
                    <span style="display:inline-block;font-size:90%;">Total Nodes</span>
                  </label>
                </div>
              </div>
            </small> <!-- /cluster stats -->
            <!-- cluster issues -->
            <small *ngIf="cluster.issues">
              <span *ngFor="let issue of cluster.issues; trackBy:getIssueTrackingId;">
                <div *ngIf="!issue.dismissed && !issue.ignoreUntil" class="alert alert-sm"
                  [ngClass]="{'alert-warning':issue.severity==='yellow','alert-danger':issue.severity==='red'}">
                  <app-issue-actions *ngIf="authService.loggedIn" class="issue-btns"
                    [issue]="issue" [groupId]="group.id" [clusterId]="cluster.id"
                    (change)="issueChange($event)"></app-issue-actions>
                  {{ issue.message }}
                  <br>
                  <ng-template #dateTooltip>
                    <div>
                      <strong>Last</strong> noticed at
                      <strong>{{ issue.lastNoticed | date: 'yyyy/MM/dd HH:mm:ss' }}</strong>
                    </div>
                    <div>
                      <strong>First</strong> noticed at
                      <strong>{{ issue.firstNoticed | date: 'yyyy/MM/dd HH:mm:ss' }}</strong>
                    </div>
                  </ng-template>
                  <small class="cursor-help issue-date"
                    [ngbTooltip]="dateTooltip"
                    placement="top-left">
                    {{ issue.lastNoticed | date: 'MM/dd HH:mm:ss' }}
                  </small>
                </div>
              </span>
            </small> <!-- /cluster issues -->
            <!-- edit cluster -->
            <div *ngIf="cluster.showEditClusterForm && authService.loggedIn" class="small">
              <hr class="mt-2">
              <form class="edit-cluster">
                <div class="form-group">
                  <label for="newClusterTitle">Title<sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control form-control-sm"
                    id="newClusterTitle" name="newClusterTitle"
                    placeholder="Cluster title" [(ngModel)]="cluster.newTitle">
                </div>
                <div class="form-group">
                  <label for="newClusterDescription">Description</label>
                  <textarea rows="3" class="form-control form-control-sm"
                    id="newClusterDescription" name="newClusterDescription"
                    placeholder="Cluster description" [(ngModel)]="cluster.newDescription"></textarea>
                </div>
                <div class="form-group">
                  <label for="newClusterUrl">Url<sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control form-control-sm"
                    id="newClusterUrl" name="newClusterUrl"
                    placeholder="Cluster url" [(ngModel)]="cluster.newUrl">
                </div>
                <div class="form-group">
                  <label for="newClusterLocalUrl">Local Url</label>
                  <input type="text" class="form-control form-control-sm"
                    id="newClusterLocalUrl" name="newClusterLocalUrl"
                    placeholder="Cluster local url" [(ngModel)]="cluster.newLocalUrl">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"
                      id="newMultiviewer" name="newrMultiviewer"
                      [(ngModel)]="cluster.newMultiviewer"> Multiviewer
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"
                      id="newDisabled" name="newDisabled"
                      [(ngModel)]="cluster.newDisabled"> Disabled
                  </label>
                </div>
              </form>
            </div> <!-- /edit cluster -->
          </div>
          <!-- edit cluster buttons -->
          <div class="card-footer small" *ngIf="authService.loggedIn">
            <a *ngIf="!cluster.showEditClusterForm"
              class="btn btn-sm btn-outline-danger pull-right cursor-pointer"
              (click)="dismissAll(group.id, cluster)"
              placement="left" ngbTooltip="Dismiss all isues for this cluster">
              <span class="fa fa-check"></span>
            </a>
            <a *ngIf="!cluster.showEditClusterForm"
              class="btn btn-sm btn-outline-warning cursor-pointer"
              (click)="displayEditClusterForm(cluster)"
              placement="right" ngbTooltip="Edit cluster">
              <span class="fa fa-pencil"></span>
            </a>
            <a *ngIf="cluster.showEditClusterForm"
              class="btn btn-sm btn-outline-success pull-right cursor-pointer"
              (click)="editCluster(group, cluster)"
              placement="top" ngbTooltip="Save cluster">
              <span class="fa fa-save"></span>&nbsp;
              Save
            </a>
            <a *ngIf="cluster.showEditClusterForm"
              class="btn btn-sm btn-outline-warning pull-right cursor-pointer mr-1"
              (click)="cluster.showEditClusterForm = false;"
              placement="top" ngbTooltip="Cancel">
              <span class="fa fa-ban"></span>
            </a>
            <a *ngIf="cluster.showEditClusterForm"
              class="btn btn-sm btn-outline-danger cursor-pointer mr-1"
              (click)="deleteCluster(group, cluster)"
              placement="top" ngbTooltip="Delete cluster">
              <span class="fa fa-trash-o"></span>
            </a>
          </div> <!-- /edit cluster buttons -->
        </div>
      </li>
    </ul> <!-- /clusters -->

    <!-- no clusters -->
    <div dnd-sortable-container [sortableData]="group.filteredClusters" [dropZones]="['clusters']"
      style="margin-top:-1rem;">
      <span *ngIf="!group.clusters.length && !searchTerm && !group.showNewClusterForm">
        No clusters in this group.
        <a (click)="group.showNewClusterForm = true"
          *ngIf="authService.loggedIn"
          class="no-decoration cursor-pointer no-href">Create one</a>
      </span>
    </div> <!-- no clusters -->

  </div> <!-- groups -->

</div>
