<!-- page error -->
<div class="alert alert-danger" *ngIf="error">
  <span class="fa fa-exclamation-triangle"></span>&nbsp;
  {{ error }}
  <button type="button" class="close cursor-pointer"
    (click)="error = ''">
    <span>&times;</span>
  </button>
</div> <!-- /page error -->

<!-- password set but user is not logged in -->
<div class="alert alert-danger"
  *ngIf="!error && auth.hasAuth && !authService.loggedIn">
  <span class="fa fa-exclamation-triangle"></span>&nbsp;
  This page requires admin privileges. Please login.
</div> <!-- /password set but user is not logged in -->

<div class="container-fluid">

  <!-- create/update password -->
  <div *ngIf="(auth.hasAuth && authService.loggedIn) || !auth.hasAuth">
    <h3 class="mb-3">
      Password
      <span class="pull-right" [hidden]="!passwordChanged">
        <!-- cancel password update button -->
        <a (click)="cancelChangePassword()"
          class="btn btn-outline-warning cursor-pointer">
          <span class="fa fa-ban"></span>&nbsp;
          Cancel
        </a> <!-- /cancel password update button -->
        <!-- update/create password button -->
        <a class="btn btn-outline-success cursor-pointer mr-1 ml-1"
          (click)="updatePassword()"
          *ngIf="(auth.hasAuth && authService.loggedIn) || !auth.hasAuth">
          <span class="fa fa-key"></span>
          <span *ngIf="auth.hasAuth && authService.loggedIn">Update</span>
          <span *ngIf="!auth.hasAuth">Create</span>
          Password
        </a> <!-- /update/create password button -->
      </span>
    </h3>
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="input-group mb-2"
            *ngIf="auth.hasAuth && authService.loggedIn">
            <span class="input-group-addon">
              Current Password
            </span>
            <input class="form-control"
              (keyup.enter)="updatePassword()"
              name="currentPassword"
              (change)="passwordChanged = true"
              [(ngModel)]="currentPassword"
              type="password">
          </div>
          <div class="input-group mb-2">
            <span class="input-group-addon">
              New Password
            </span>
            <input class="form-control"
              name="newPassword"
              (keyup.enter)="updatePassword()"
              (change)="passwordChanged = true"
              [(ngModel)]="newPassword"
              type="password">
          </div>
          <div class="input-group mb-2">
            <span class="input-group-addon">
              Confirm New Password
            </span>
            <input class="form-control"
              name="newPasswordConfirm"
              (keyup.enter)="updatePassword()"
              (change)="passwordChanged = true"
              [(ngModel)]="newPasswordConfirm"
              type="password">
          </div>
        </form>
      </div>
    </div>
  </div> <!-- /create/update password -->

  <!-- notifiers -->
  <div *ngIf="authService.loggedIn">
    <hr>
    <h3>
      Notifiers
      <span class="pull-right" [hidden]="!changed">
        <a (click)="loadData()"
          class="btn btn-outline-warning cursor-pointer">
          <span class="fa fa-ban"></span>&nbsp;
          Cancel
        </a>
        <a (click)="saveSettings()"
          class="btn btn-outline-success cursor-pointer">
          <span class="fa fa-save"></span>&nbsp;
          Save Notifiers
        </a>
      </span>
    </h3>
    <div class="row">

      <div class="col-12 col-sm-6 col-md-6 col-lg-4"
        *ngFor="let notifier of settings.notifiers; trackBy:trackByName;">
        <div class="card bg-light mb-3">
          <div class="card-body">

            <!-- notifier title -->
            <h4 class="mb-3">
              {{ notifier.name }}
              <span *ngIf="!notifier.on" (click)="toggleNotifier(notifier)"
                class="fa fa-toggle-off fa-lg pull-right cursor-pointer"
                placement="bottom-right" ngbTooltip="Turn this notifier on">
              </span>
              <span *ngIf="notifier.on" (click)="toggleNotifier(notifier)"
                class="fa fa-toggle-on fa-lg pull-right cursor-pointer text-success"
                placement="bottom-right" ngbTooltip="Turn this notifier off">
              </span>
            </h4> <!-- /notifier title -->

            <!-- notifier fields -->
            <div class="input-group mb-2"
              *ngFor="let field of notifier.fields; trackBy:trackByName;">
              <span class="input-group-addon cursor-help"
                placement="bottom-left" ngbTooltip="{{ field.description }}">
                {{ field.name }}
                <sup *ngIf="field.required">*</sup>
              </span>
              <input class="form-control"
                [(ngModel)]="field.value"
                (keydown)="changed = true"
                [attr.type]="getFieldInputType(field)">
              <span *ngIf="field.secret"
                class="input-group-addon cursor-pointer"
                (click)="field.showValue = !field.showValue">
                <span class="fa" [ngClass]="{'fa-eye':field.secret && !field.showValue, 'fa-eye-slash':field.secret && field.showValue}">
                </span>
              </span>
            </div> <!-- /notifier fields -->

            <!-- notifier actions -->
            <div class="row mt-3">
              <div class="col-12">
                <a class="btn btn-sm btn-outline-warning cursor-pointer"
                  (click)="clearNotifierFields(notifier)">
                  <span class="fa fa-ban"></span>&nbsp;
                  Clear fields
                </a>
                <a class="btn btn-sm btn-outline-success cursor-pointer pull-right"
                  (click)="testNotifier(notifier)">
                  <span class="fa fa-bell"></span>&nbsp;
                  Test Notifier
                </a>
              </div>
            </div> <!-- /notifier actions -->

            <hr>

            <!-- notifier alerts -->
            <h5>Notify on</h5>
            <div class="row">
              <div class="col-12">
                <div *ngFor="let alert of notifier.alerts; trackBy:trackByName;"
                  class="form-check form-check-inline"
                  (click)="changed = true;"
                  placement="top"
                  ngbTooltip="Notify if {{ alert.description }}">
                  <label class="form-check-label">
                    <input class="form-check-input"
                    type="checkbox"
                    [id]="alert.id"
                    [name]="alert.id"
                    [(ngModel)]="alert.on">
                    {{ alert.name }}
                  </label>
                </div>
              </div>
            </div> <!-- /notifier alerts -->

          </div>
        </div>
      </div>

    </div>
  </div> <!-- /notifiers -->

</div>
