/* loading */
loading {
  .loading {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    z-index : 1001;

    .loader {
      display       : flex;
      z-index       : 1500;
      position      : relative;
      top           : 42%;
      left          : 50%;
      border-radius : 50%;

      &.planets {
        width             : 20px;
        height            : 20px;
        margin            : -20px;
        background-color  : $color-purple-light;
        animation         : rot 2s infinite linear;
        -webkit-animation : rot 2s infinite linear;

        &:before {
          width           : 14px;
          height          : 14px;
          top             : 2px;
          left            : 2px;
          right           : 2px;
          bottom          : 2px;
          animation       : rot 3s infinite linear;
          background-color: $color-green-light;
        }

        &:after {
          animation       : rot 1.5s infinite linear;
          width           : 26px;
          height          : 26px;
          background-color: $color-yellow-light;
        }
      }

      &.circles {
        width             : 100px;
        height            : 100px;
        margin            : -50px 0 0 -50px;
        border            : $px-md solid transparent;
        border-top-color  : $color-purple-light;
        animation         : spin 2s linear infinite;
        -webkit-animation : spin 2s linear infinite;

        &:before {
          top               : 5px;
          left              : 5px;
          right             : 5px;
          bottom            : 5px;
          border            : $px-md solid transparent;
          border-top-color  : $color-green-light;
          animation         : spin 3s linear infinite;
          -webkit-animation : spin 3s linear infinite;
        }

        &:after {
          border            : $px-md solid transparent;
          border-top-color  : $color-yellow-light;
          animation         : spin 1.5s linear infinite;
          -webkit-animation : spin 1.5s linear infinite;
        }
      }

      &:before {
        content       : "";
        border-radius : 50%;
        position      : fixed;
      }

      &:after {
        content       : "";
        position      : fixed;
        top           : 15px;
        left          : 15px;
        right         : 15px;
        bottom        : 15px;
        border-radius : 50%;
      }
    }

    .loader-section {
      position  : fixed;
      top       : 42%;
      left      : 50%;
      z-index   : 1000;
      background: rgba(34,34,34,0.1);

      &.circle {
        width             : 260px;
        height            : 260px;
        margin            : -130px 0 0 -130px;
        border-radius     : 50%;
        -webkit-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.2);
        -moz-box-shadow   : 0px 0px 16px 2px rgba(0,0,0,0.2);
        box-shadow        : 0px 0px 16px 2px rgba(0,0,0,0.2);
      }

      &.square {
        width         : 150px;
        height        : 150px;
        margin        : -75px 0 0 -75px;
        border-radius : 32px;
      }
    }
  }

  @-webkit-keyframes spin {
      0%   {
          -webkit-transform : rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          transform         : rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform : rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          transform         : rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform : rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          transform         : rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform : rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          transform         : rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }



  @keyframes rot {
  	from {
  		transform: rotate(0deg)
  		           translate(-50px)
  		           rotate(0deg);
  	}
  	to {
  		transform: rotate(360deg)
  		           translate(-50px)
  		           rotate(-360deg);
  	}
  }
}
