session {

  session-detail {

    .sessiondst { color: blue !important; }

    .sessionsrc { color: rgb(202, 4, 4) !important; }

    // packet timestamps
    .session-detail-ts {
      display     : none;
      color       : $color-purple-light;
      font-weight : bold;
      padding     : 0 4px;
      margin-left : 2px;
      margin-right: 2px;
      border-bottom: 1px solid $color-gray;

      + pre {
        color: inherit;
        margin-top: -1px;

        .sessionln { color: darkgreen; }
      }
    }

    .show-ts {
      .session-detail-ts { display: block; }
    }


    dt {
      font-size   : 16px;
      float       : left;
      clear       : left;
      width       : 160px;
      text-align  : right;
      margin-right: 6px;
    }

    dd {
      margin: 0 0 0 165px;

      strong { font-size: 16px; }
    }

    .show-more-items {
      margin-left : 20px;
      font-size   : 16px;
    }

    .nav-pills {
      border-bottom : 1px solid $color-gray-light;
      padding-bottom: 4px;

      li {
        a:hover {
          background-color: lighten($color-yellow-light, 28%);
        }
      }
    }

    .packet-options {
      padding   : 8px 0;
      border-top: 1px solid $color-gray-light;
    }


    /* moloch menu items ------------------------- */
    .hover-menu {

      word-break    : break-all;
      overflow-wrap : break-word;

      .moloch-clickable { // clickable value
        margin  : 4px;
        display : inline;
      }

      // display the menu underneath the value
      .moloch-menu {
        display : inherit;
        margin  : 0;
      }

      // hide button and dropdown when not hovered
      .btn, ul.dropdown-menu {
        opacity           : 0;
        visibility        : hidden;

        -webkit-transition: visibility 0s linear 400ms, opacity 400ms;
           -moz-transition: visibility 0s linear 400ms, opacity 400ms;
                transition: visibility 0s linear 400ms, opacity 400ms;
      }

      .btn {
        margin-top: -3px;
        padding   : 0 4px;
      }

      ul.dropdown-menu {
        min-width: 200px;
        max-width: 100%;

        > li {
          > a { // truncate long values
            overflow      : hidden;
            text-overflow : ellipsis;
          }
        }
      }

      .label { // clickable value container
        z-index     : 3;
        font-size   : 14px;
        font-weight : normal;
        white-space : normal;
        text-align  : left;
        padding     : 3px;
        margin      : 0 -20px 0 0;
        position    : relative;
        border      : 1px solid rgba(0, 0, 0, 0);
        color       : lighten($color-blue-light, 16%);

        -webkit-transition: background 400ms linear, border-color 400ms;
           -moz-transition: background 400ms linear, border-color 400ms;
                transition: background 400ms linear, border-color 400ms;
      }

      &:hover {
        // show button and menu (if opened) on hover
        .btn, ul.dropdown-menu {;
          opacity           : 1;
          visibility        : visible;

          -webkit-transition: visibility 0s linear 0s, opacity 400ms;
             -moz-transition: visibility 0s linear 0s, opacity 400ms;
                  transition: visibility 0s linear 0s, opacity 400ms;
        }

        .label {
          background-color: $color-white;
          border          : 1px solid darken($color-gray, 13%);
          z-index         : 4;
        }
      }

    }

  }

}
