session {

  /* sessions table -------------------------- */
  .table {
    table-layout: fixed;
    border-top  : $color-gray-light solid 1px;

    tbody {
      tr {
        td { word-break: break-word; }

        // color every fourth row
        &:nth-of-type(4n-1) {
          background-color: lighten($color-gray-light, 5%);
          td {
            &.active {
              background-color: $color-gray-light;
            }
          }
        }

        &:not(.session-detail-row) {
          &:hover {
            background-color: lighten($color-green-light, 55%);
            td {
              &.active {
                background-color: lighten($color-green-light, 50%);
              }
            }
          }
        }

        &.session-detail-row {
          background-color: lighten($color-yellow-light, 36%);
        }

      }
    }
  }

  /* table column headers -------------------- */
  .moloch-col-header {
    font-size   : 1.4rem;
    font-weight : 500;

    &.active { color: $color-purple-dark; }
  }

}

/* column visibility menu ------------------ */
.col-vis-menu {
  max-height: 300px;
  overflow  : auto;

  .dropdown-typehead {
    margin: 0 6px;
    width : 200px;
  }

  // display nested (grouped) dropdown list like normal dropdown list
  div {
    // dropdown list group header
    .group-header {
      padding       : 8px 0 2px 0;
      margin-left   : 6px;
      margin-right  : 6px;
      font-weight   : 500;
      color         : $color-gray-dark;
      border-bottom : $color-gray-light 1px solid;
    }

    li {
      &:hover { background-color: $color-gray-light; }

      &.active {
        background-color: #337ab7;

        a { color: $color-white !important; }
      }

      a {
        display     : block;
        padding     : 2px 10px;
        clear       : both;
        font-weight : normal;
        line-height : 1.42857143;
        color       : darken($color-gray-dark, 10%);
        white-space : nowrap;
        cursor      : pointer;
        text-decoration: none;
      }
    }
  }
}
