/* navbar with pagination */
session form.sessions-nav {
  z-index         : 999;
  position        : fixed;
  top             : 115px;
  left            : 0;
  right           : 0;
  height          : 42px;
  padding         : var(--px-xlg) var(--px-lg) var(--px-md) var(--px-lg);
  background-color: var(--color-quaternary-lightest);

  -webkit-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
     -moz-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
          box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
}

session form.sessions-nav .form-inline {
  margin-top: -3px;
}

/* sessions table -------------------------- */
session table.sessions-table {
  table-layout  : fixed;
  border-top    : var(--color-gray-light) solid 1px;
  margin-bottom : 20px;
}

session table.sessions-table thead tr th {
  vertical-align: top;
  border-bottom : 2px solid var(--color-gray);
  border-right  : 1px dotted var(--color-gray);
}
session table.sessions-table thead tr th:first-child {
  border-right: none;
}

session table.sessions-table thead tr th:first-child {
  padding       : 0;
  vertical-align: middle;
}

session table.sessions-table tbody tr:not(.session-detail-row):hover {
  background-color: var(--color-tertiary-lightest);
}

session table.sessions-table tbody tr:not(.session-detail-row):hover td.active {
  background-color: var(--color-tertiary-light);
}

session table.sessions-table tbody tr.session-detail-row {
  background-color: var(--color-quaternary-lightest) !important;
}

session table.sessions-table tbody tr td {
  padding       : 0 2px;
  line-height   : 1.42857143;
  vertical-align: top;
  border-top    : 1px solid #ddd;
}

/*!* table.sessions-table column reorder *!*/
.JColResizer > tbody > tr > td, .JColResizer > tbody > tr > th {
  overflow: visible !important; /* show overflow for clickable fields */
}

/* table column headers -------------------- */
session .moloch-col-header {
  font-size   : 1.4rem;
  font-weight : 500;
}

session .moloch-col-header.active {
  color: var(--color-foreground-accent);
}

session .moloch-col-header:hover .btn-group {
  visibility: visible;
}

session .moloch-col-header .btn-group {
  visibility : hidden;
  margin-left: -8px;
}

session .moloch-col-header .header-text {
  display : inline-block;
  width   : calc(100% - 24px);
}

session .moloch-col-header .header-sort {
  display       : inline-block;
  width         : 8px;
  vertical-align: top;
}

session .moloch-col-header ul.dropdown-menu {
  max-height: 250px;
  overflow  : auto;
}


/* draggable table column headers ---------- */
session [ng-drag] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

session [ng-drag].dragging {
  opacity: 0.7;
}

session [ng-drag].drag-over {
  border-left : var(--color-gray-light) solid 1px !important;
  border-right: var(--color-gray-light) solid 1px !important;
}

session [ng-drop].drag-enter {
  background-color: var(--color-quaternary-lightest) !important;
}


/* column visibility menu -------------------- */
.col-vis-menu {
  max-height: 300px;
  overflow  : auto;
}

.col-vis-menu .dropdown-typeahead {
  margin: 0 6px;
  width : 200px;
}


/* custom column configurations menu --------- */
.col-config-menu {
  max-width: 280px;
}


/* table fit button -------------------------- */
.fit-btn {
  position: absolute;
  top     : 310px;
  left    : 16px;
}


/* grouped dropdown menu --------------------- */
ul.dropdown-menu div .group-header {
  padding       : 8px 0 2px 0;
  margin-left   : 6px;
  margin-right  : 6px;
  font-weight   : 500;
  color         : var(--color-gray-dark);
  border-bottom : var(--color-gray-light) 1px solid;
}

ul.dropdown-menu div li a {
  display         : block;
  padding         : 2px 10px;
  clear           : both;
  font-weight     : normal;
  line-height     : 1.42857143;
  color           : var(--color-gray-darker);
  white-space     : nowrap;
  cursor          : pointer;
  text-decoration : none;
}
