session {

  /* sessions table -------------------------- */
  .table-responsive { overflow: visible; }

  .table {
    table-layout: fixed;
    border-top  : $color-gray-light solid 1px;

    thead {
      tr {
        th {
          vertical-align: top;
        }
      }
    }

    tbody {
      tr {

        &:not(.session-detail-row) {
          &:hover {
            background-color: lighten($color-green-light, 55%);
            td {
              &.active {
                background-color: lighten($color-green-light, 50%);
              }
            }
          }
        }

        &.session-detail-row {
          background-color: lighten($color-yellow-light, 36%);
        }

      }
    }
  }

  /* table column headers -------------------- */
  .moloch-col-header {
    font-size   : 1.4rem;
    font-weight : 500;

    &.active { color: $color-purple-dark; }

    &:hover {
      .btn-group { visibility: visible; }
    }

    .btn-group {
      visibility  : hidden;
      margin-left : -8px;
    }
  }

  /* draggable table column headers ---------- */
  [ng-drag] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    &.dragging { opacity: 0.7; }

    &.drag-over {
      border-left : $color-gray-light solid 1px !important;
      border-right: $color-gray-light solid 1px !important;
    }
  }

  [ng-drop] {
    &.drag-enter {
      background-color: lighten($color-yellow-light, 34%) !important;
    }
  }

}


/* column visibility menu -------------------- */
.col-vis-menu {
  max-height: 300px;
  overflow  : auto;

  .dropdown-typeahead {
    margin: 0 6px;
    width : 200px;
  }
}


/* custom column configurations menu --------- */
.col-config-menu {
  max-width: 280px;
}


/* grouped dropdown menu --------------------- */
ul.dropdown-menu {
  // display nested (grouped) dropdown list like normal dropdown list
  div {
    // dropdown list group header
    .group-header {
      padding       : 8px 0 2px 0;
      margin-left   : 6px;
      margin-right  : 6px;
      font-weight   : 500;
      color         : $color-gray-dark;
      border-bottom : $color-gray-light 1px solid;
    }

    li {
      &:hover {
        background-color: $color-gray-light;
      }

      &.active {
        background-color: #337ab7;

        a { color: $color-white !important; }
      }

      a {
        display         : block;
        padding         : 2px 10px;
        clear           : both;
        font-weight     : normal;
        line-height     : 1.42857143;
        color           : darken($color-gray-dark, 15%);
        white-space     : nowrap;
        cursor          : pointer;
        text-decoration : none;
      }
    }
  }
}
