@import "~font-awesome/css/font-awesome.css";


/* general styles -------------------------------------- */
html, body { background-color: #f0f0f0; }

.cursor-pointer { cursor: pointer; }
.pointer-cursor { cursor: pointer; }
.cursor-help    { cursor: help; }
.help-cursor    { cursor: help; }

.no-decoration  { text-decoration: none !important; }

a.no-href       { color: #007bff; }
a.no-href:hover { color: #0056b3; }

.text-muted-more{ color: #dddddd; }

.alert.alert-sm  {
  font-size: .85rem;
  padding: .25rem .5rem;
  margin-bottom: .5rem;
}
.alert.alert-sm > .close {
  line-height: .75;
}
