@import "../../node_modules/font-awesome/css/font-awesome.css";


/* general styles -------------------------------------- */
html, body { background-color: #f0f0f0; }

.cursor-pointer { cursor: pointer; }
.pointer-cursor { cursor: pointer; }
.cursor-help    { cursor: help; }
.help-cursor    { cursor: help; }
.cursor-move    { cursor: move !important; }
.move-cursor    { cursor: move !important; }

.no-decoration  { text-decoration: none !important; }

a.no-href       { color: #007bff !important; }
a.no-href:hover { color: #0056b3 !important; }

.text-muted-more{ color: #dddddd; }

.alert.alert-sm  {
  font-size: .85rem;
  padding: .25rem .4rem;
  margin-bottom: .5rem;
}
.alert.alert-sm > .close {
  line-height: .75;
}

.btn-xs {
  padding: .1rem .2rem;
  font-size: .9rem;
  border-radius: .2rem;
}

.dropdown.dropdown-sm .dropdown-menu {
  padding: 0;
}
.dropdown.dropdown-sm .dropdown-item {
  padding: .25rem .5rem;
  font-size: .9rem;
  font-weight: normal;
}

/* info display ------------------------------ */
/* displays large text for important information
 * note: must contain an inner div with the text
 * example:
 * <div class="info-area">
 *   <div>Some important text!</div>
 * </div>
 */
.info-area {
  font-size : 1.5rem;
  color     : #777777;
}

.info-area div {
  padding         : 2rem;
  border-radius   : .25rem;
  background-color: #FFFFFF;
}

.info-area span.fa {
  display         : flex;
  justify-content : center;
}

.vertical-center {
  min-height      : 30vh;
  display         : flex;
  align-items     : center;
  justify-content : center;
  flex-direction  : column;
}

/* media queries ----------------------------- */
@media (min-width: 1600px) {
  .col-xxl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

/* dnd styles -------------------------------- */
/* https://github.com/akserg/ng2-dnd/issues/80 */
.dnd-drag-start {
  opacity :0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity: 0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  opacity: 0.7;
  border: 1px dashed #000;
}
