@import "~font-awesome/css/font-awesome.css";


/* general styles -------------------------------------- */
html, body { background-color: #f0f0f0; }

.cursor-pointer { cursor: pointer; }
.pointer-cursor { cursor: pointer; }
.cursor-help    { cursor: help; }
.help-cursor    { cursor: help; }
.cursor-move    { cursor: move !important; }
.move-cursor    { cursor: move !important; }

.no-decoration  { text-decoration: none !important; }

a.no-href       { color: #007bff !important; }
a.no-href:hover { color: #0056b3 !important; }

.text-muted-more{ color: #dddddd; }

.alert.alert-sm  {
  font-size: .85rem;
  padding: .25rem .5rem;
  margin-bottom: .5rem;
}
.alert.alert-sm > .close {
  line-height: .75;
}


/* media queries ----------------------------- */
@media (min-width: 1600px) {
  .col-xxl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

/* dnd styles -------------------------------- */
/* https://github.com/akserg/ng2-dnd/issues/80 */
.dnd-drag-start {
  opacity :0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity: 0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  opacity: 0.7;
  border: 1px dashed #000;
}
