<span>
  <!-- dismiss issue button -->
  <button type="button" class="btn btn-outline-danger btn-xs pull-right cursor-pointer ml-2"
    placement="bottom-right" ngbTooltip="Dismiss this issue for 24 hours"
    (click)="dismissIssue()" *ngIf="!issue.dismissed">
    <span class="fa fa-check fa-fw"></span>
  </button> <!-- /dismiss issue button -->
  <!-- (un)ignore until dropdown -->
  <div ngbDropdown placement="bottom-right" class="dropdown-sm pull-right">
    <button class="btn btn-outline-dark btn-xs cursor-pointer" ngbDropdownToggle>
      <span class="fa fa-eye fa-fw" *ngIf="!issue.ignoreUntil"></span>
      <span class="fa fa-eye-slash fa-fw" *ngIf="issue.ignoreUntil"></span>
    </button>
    <div ngbDropdownMenu>
      <span *ngIf="issue.ignoreUntil">
        <button class="dropdown-item cursor-pointer"
          (click)="removeIgnore()">
          Remove Ignore
        </button>
        <div class="dropdown-divider"></div>
      </span>
      <button class="dropdown-item cursor-pointer"
        (click)="ignoreIssue(3600000)">
        Ignore for 1 hour
      </button>
      <button class="dropdown-item cursor-pointer"
        (click)="ignoreIssue(21600000)">
        Ignore for 6 hours
      </button>
      <button class="dropdown-item cursor-pointer"
        (click)="ignoreIssue(43200000)">
        Ignore for 12 hours
      </button>
      <button class="dropdown-item cursor-pointer"
        (click)="ignoreIssue(86400000)">
        Ignore for 1 day
      </button>
      <button class="dropdown-item cursor-pointer"
        (click)="ignoreIssue(604800000)">
        Ignore for 1 week
      </button>
      <button class="dropdown-item cursor-pointer"
        (click)="ignoreIssue(2592000000)">
        Ignore for 1 month
      </button>
      <button class="dropdown-item cursor-pointer"
        (click)="ignoreIssue(-1)">
        Ignore forever
      </button>
    </div>
  </div> <!-- /(un)ignore until dropdown -->
</span>
