<div>

  <!-- page error -->
  <div class="alert alert-danger" *ngIf="error">
    <span class="fa fa-exclamation-triangle"></span>&nbsp;
    {{ error }}
    <button type="button" class="close cursor-pointer"
      (click)="error = false">
      <span>&times;</span>
    </button>
  </div> <!-- /page error -->

  <table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col" class="cursor-pointer" (click)="sortBy('cluster');">
        Cluster
        <span class="fa fa-sort fa-fw" *ngIf="sort !== 'cluster'"></span>
        <span class="fa fa-sort-asc fa-fw" *ngIf="sort === 'cluster' && order === 'asc'"></span>
        <span class="fa fa-sort-desc fa-fw" *ngIf="sort === 'cluster' && order === 'desc'"></span>
      </th>
      <th scope="col" class="cursor-pointer" (click)="sortBy('title');">
        Issue
        <span class="fa fa-sort fa-fw" *ngIf="sort !== 'title'"></span>
        <span class="fa fa-sort-asc fa-fw" *ngIf="sort === 'title' && order === 'asc'"></span>
        <span class="fa fa-sort-desc fa-fw" *ngIf="sort === 'title' && order === 'desc'"></span>
      </th>
      <th scope="col" class="cursor-pointer" (click)="sortBy('firstNoticed');">
        First Noticed
        <span class="fa fa-sort fa-fw" *ngIf="sort !== 'firstNoticed'"></span>
        <span class="fa fa-sort-asc fa-fw" *ngIf="sort === 'firstNoticed' && order === 'asc'"></span>
        <span class="fa fa-sort-desc fa-fw" *ngIf="sort === 'firstNoticed' && order === 'desc'"></span>
      </th>
      <th scope="col" class="cursor-pointer" (click)="sortBy('lastNoticed');">
        Last Noticed
        <span class="fa fa-sort fa-fw" *ngIf="sort !== 'lastNoticed'"></span>
        <span class="fa fa-sort-asc fa-fw" *ngIf="sort === 'lastNoticed' && order === 'asc'"></span>
        <span class="fa fa-sort-desc fa-fw" *ngIf="sort === 'lastNoticed' && order === 'desc'"></span>
      </th>
      <th scope="col">Value</th>
      <th scope="col" class="cursor-pointer" (click)="sortBy('node');">
        Node
        <span class="fa fa-sort fa-fw" *ngIf="sort !== 'node'"></span>
        <span class="fa fa-sort-asc fa-fw" *ngIf="sort === 'node' && order === 'asc'"></span>
        <span class="fa fa-sort-desc fa-fw" *ngIf="sort === 'node' && order === 'desc'"></span>
      </th>
      <th scope="col" class="cursor-pointer" (click)="sortBy('ignoreUntil');">
        Ignored Until
        <span class="fa fa-sort fa-fw" *ngIf="sort !== 'ignoreUntil'"></span>
        <span class="fa fa-sort-asc fa-fw" *ngIf="sort === 'ignoreUntil' && order === 'asc'"></span>
        <span class="fa fa-sort-desc fa-fw" *ngIf="sort === 'ignoreUntil' && order === 'desc'"></span>
      </th>
      <th scope="col" width="100px" *ngIf="authService.loggedIn">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let issue of issues; trackBy:getIssueTrackingId;">
      <tr *ngIf="!issue.dismissed" [ngClass]="getIssueRowClass(issue)">
        <td>{{ issue.cluster }}</td>
        <td>{{ issue.title }}</td>
        <td>
          {{ issue.firstNoticed | date: 'yyyy/MM/dd HH:mm:ss' }}
        </td>
        <td>
          {{ issue.lastNoticed | date: 'yyyy/MM/dd HH:mm:ss' }}
        </td>
        <td>{{ issue.value | issueValue: issue.type }}</td>
        <td>{{ issue.node }}</td>
        <td>
          <span *ngIf="issue.ignoreUntil > -1">
            {{ issue.ignoreUntil | date: 'yyyy/MM/dd HH:mm:ss' }}
          </span>
          <span *ngIf="issue.ignoreUntil === -1">
            Forever
          </span>
        </td>
        <td *ngIf="authService.loggedIn">
          <app-issue-actions [issue]="issue" (change)="issueChange($event)">
          </app-issue-actions>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<!-- no issues -->
<div *ngIf="!issues || !issues.length"
  class="info-area vertical-center text-center">
  <div class="text-muted">
    <span class="fa fa-3x fa-folder-open text-muted-more"></span>
    No issues in your Parliament
  </div>
</div> <!-- no clusters -->

</div>
