<div>

  <!-- page error -->
  <div class="alert alert-danger" *ngIf="error">
    <span class="fa fa-exclamation-triangle"></span>&nbsp;
    {{ error }}
    <button type="button" class="close cursor-pointer"
      (click)="error = false">
      <span>&times;</span>
    </button>
  </div> <!-- /page error -->

  <table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Cluster</th>
      <th scope="col">Issue</th>
      <th scope="col">Value</th>
      <th scope="col">Node</th>
      <th scope="col">Ignore Until</th>
      <th scope="col" width="100px" *ngIf="authService.loggedIn">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let issue of issues; trackBy:getIssueTrackingId;" [ngClass]="getIssueRowClass(issue)">
      <td>{{ issue.cluster }}</td>
      <td>{{ issue.title }}</td>
      <td>{{ issue.value | issueValue: issue.type }}</td>
      <td>{{ issue.node }}</td>
      <td>
        <span *ngIf="issue.ignoreUntil > -1">
          {{ issue.ignoreUntil | date: 'yyyy/MM/dd HH:mm:ss' }}
        </span>
        <span *ngIf="issue.ignoreUntil === -1">
          Forever
        </span>
      </td>
      <td *ngIf="authService.loggedIn">
        <app-issue-actions [issue]="issue" (change)="issueChange($event)">
        </app-issue-actions>
      </td>
    </tr>
  </tbody>
</table>

</div>
