moloch-files table tr {
  max-height: 100px;
}

moloch-files table tr.ng-move,
moloch-files table tr.ng-enter,
moloch-files table tr.ng-leave {
  -webkit-transition: all 400ms linear;
     -moz-transition: all 400ms linear;
          transition: all 400ms linear;
}

moloch-files table tr.ng-move,
moloch-files table tr.ng-enter,
moloch-files table tr.ng-leave.ng-leave-active {
  opacity: 0;
}

moloch-files table tr.ng-leave,
moloch-files table tr.ng-move.ng-move-active,
moloch-files table tr.ng-enter.ng-enter-active {
  opacity: 1;
}
