<div class="container-fluid container-files">
  <h3 id="files">
    <span class="fa fa-fw fa-list"></span>&nbsp;
    Files
    <div class="input-group input-group-sm pull-right header-input">
      <span class="input-group-addon">
        <span class="fa fa-search"></span>
      </span>
      <input type="text" class="form-control" ng-model="$ctrl.searchFiles" ng-model-options="{debounce:300}" ng-change="$ctrl.loadData()"
        placeholder="Search for files in the table below">
    </div>
  </h3>
  <table class="table table-condensed table-striped margined-top-xxxlg"
    ng-if="!$ctrl.error && $ctrl.files">
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="$ctrl.columnClick('num')">
            File Number
            <span ng-show="$ctrl.sortField == 'num' && !$ctrl.sortReverse" class="fa fa-sort-desc"></span>
            <span ng-show="$ctrl.sortField == 'num' && $ctrl.sortReverse" class="fa fa-sort-asc"></span>
            <span ng-show="$ctrl.sortField != 'num'" class="fa fa-sort"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="$ctrl.columnClick('node')">
            Node 
            <span ng-show="$ctrl.sortField == 'node' && !$ctrl.sortReverse" class="fa fa-sort-desc"></span>
            <span ng-show="$ctrl.sortField == 'node' && $ctrl.sortReverse" class="fa fa-sort-asc"></span>
            <span ng-show="$ctrl.sortField != 'node'" class="fa fa-sort"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="$ctrl.columnClick('name')">
            Name
            <span ng-show="$ctrl.sortField == 'name' && !$ctrl.sortReverse" class="fa fa-sort-desc"></span>
            <span ng-show="$ctrl.sortField == 'name' && $ctrl.sortReverse" class="fa fa-sort-asc"></span>
            <span ng-show="$ctrl.sortField != 'name'" class="fa fa-sort"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="$ctrl.columnClick('locked')">
            Locked
            <span ng-show="$ctrl.sortField == 'locked' && !$ctrl.sortReverse" class="fa fa-sort-desc"></span>
            <span ng-show="$ctrl.sortField == 'locked' && $ctrl.sortReverse" class="fa fa-sort-asc"></span>
            <span ng-show="$ctrl.sortField != 'locked'" class="fa fa-sort"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="$ctrl.columnClick('first')">
            First Date
            <span ng-show="$ctrl.sortField == 'first' && !$ctrl.sortReverse" class="fa fa-sort-desc"></span>
            <span ng-show="$ctrl.sortField == 'first' && $ctrl.sortReverse" class="fa fa-sort-asc"></span>
            <span ng-show="$ctrl.sortField != 'first'" class="fa fa-sort"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="$ctrl.columnClick('filesize')">
            File Number
            <span ng-show="$ctrl.sortField == 'filesize' && !$ctrl.sortReverse" class="fa fa-sort-desc"></span>
            <span ng-show="$ctrl.sortField == 'filesize' && $ctrl.sortReverse" class="fa fa-sort-asc"></span>
            <span ng-show="$ctrl.sortField != 'filesize'" class="fa fa-sort"></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
    <tbody>
      <tr class="animate-repeat"
        ng-repeat="file in $ctrl.filteredFiles = ($ctrl.files) track by file.id">
        <td class="no-wrap">{{file.num}}</td>
        <td class="no-wrap">{{file.node}}</td>
        <td class="no-wrap">{{file.name}}</td>
        <td class="no-wrap">{{file.locked}}</td>
        <td class="no-wrap">{{file.first * 1000 | date:'yyyy/MM/dd HH:mm:ss'}}</td>
        <td class="no-wrap">{{file.filesize}}</td>
      </tr>
      <tr ng-if="!$ctrl.filteredFiles.length">
        <td colspan="4" class="text-danger">
          <span class="fa fa-warning"></span>&nbsp;
          No results match your search
        </td>
      </tr>
    </tbody>
  </table>
</div>
