<div class="container-fluid margin-for-main-and-sub-navbar">

  <div class="sub-navbar">
    <span class="sub-navbar-title">
      <span class="fa-stack">
        <span class="fa fa-files-o fa-stack-1x"></span>
        <span class="fa fa-square-o fa-stack-2x"></span>
      </span>&nbsp;
      Files
    </span>
  </div>

  <div class="row">
  <!-- top pagination controls -->
    <div class="col-md-6">
      <moloch-pagination length="$ctrl.query.length"
        records-total="$ctrl.files.recordsTotal"
        records-filtered="$ctrl.files.recordsFiltered"
        current-page="$ctrl.currentPage"
        start="$ctrl.query.start"></moloch-pagination>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <div class="input-group input-group-sm pull-right header-input">
        <span class="input-group-addon">
          <span class="fa fa-search"></span>
        </span>
        <input type="text" class="form-control" ng-model="$ctrl.searchFiles"
          ng-model-options="{debounce:300}" ng-change="$ctrl.loadData()"
          placeholder="Search for files in the table below">
      </div>
    </div>
  </div>

  <table class="table table-condensed table-striped margined-top-xxxlg"
    ng-if="!$ctrl.error && $ctrl.files">
    <thead>
      <tr>
        <th ng-repeat="column in ::$ctrl.columns" class="cursor-pointer"
          ng-click="$ctrl.columnClick(column.sort)">
          {{::column.name}}
          <span ng-show="$ctrl.sortField === column.sort && !$ctrl.sortReverse" class="fa fa-sort-asc"></span>
          <span ng-show="$ctrl.sortField === column.sort && $ctrl.sortReverse" class="fa fa-sort-desc"></span>
          <span ng-show="$ctrl.sortField !== column.sort" class="fa fa-sort"></span>
        </th>
      </tr>
    </thead>
    <tbody>
    <tbody>
      <tr class="animate-repeat"
        ng-repeat="file in $ctrl.filteredFiles = ($ctrl.files.data) track by file.id">
        <td class="no-wrap">{{file.num}}</td>
        <td class="no-wrap">{{file.node}}</td>
        <td class="no-wrap">{{file.name}}</td>
        <td class="no-wrap">{{file.locked === 1 ? 'True' : 'False'}}</td>
        <td class="no-wrap"><span ng-if="::$ctrl.settings">{{file.first | timezoneDateString:$ctrl.settings.timezone}}</span></td>
        <td class="no-wrap">{{file.filesize}}</td>
      </tr>
      <tr ng-if="!$ctrl.filteredFiles.length">
        <td colspan="6" class="text-danger text-center">
          <span class="fa fa-warning"></span>&nbsp;
          No results match your search
        </td>
      </tr>
    </tbody>
  </table>
</div>
