<div class="margined-bottom">

  <div class="input-group input-group-sm">
    <span class="input-group-addon cursor-help"
      tooltip-placement="bottom-left"
      uib-tooltip="Search Expression">
      <span class="fa fa-search"></span>
    </span>
    <input caret-pos="$ctrl.caretPos" focus-input="$ctrl.focusInput"
      ng-model="$ctrl.query.value" ng-trim="false"
      ng-blur="$ctrl.onOffFocus()"
      ng-change="$ctrl.debounceExprChange()"
      ng-keydown="$ctrl.keydown($event);$event.stopPropagation();"
      type="text" placeholder="Search"
      class="form-control search-control" />
      <span ng-click="$ctrl.clear()" ng-if="$ctrl.query.value"
        class="fa fa-close text-muted clear-input cursor-pointer"></span>
  </div>

  <!-- results dropdown -->
  <ul id="typeahead-results" uib-dropdown-menu
    class="dropdown-menu typeahead-results"
    ng-show="$ctrl.query.value && $ctrl.results && $ctrl.results.length">
    <li ng-repeat="(key, value) in $ctrl.results track by key"
      ng-class="{'active':key === $ctrl.activeIdx}"
      ng-click="$ctrl.addToQuery(value)" class="cursor-pointer"
      uib-tooltip="{{::value.help}}" tooltip-placement="right"
      tooltip-append-to-body="true">
      <a>
        <strong ng-if="value.exp">{{::value.exp}}</strong>
        <strong ng-if="!value.exp">{{::value}}</strong>
        <span ng-if="value.friendlyName">- {{::value.friendlyName}}</span>
      </a>
    </li>
  </ul>

  <!-- error -->
  <ul class="dropdown-menu typeahead-results" uib-dropdown-menu
    ng-show="$ctrl.query.value && $ctrl.loadingError">
    <li><a><span class="text-danger">
      <span class="fa fa-warning"></span>&nbsp;
      Error: {{$ctrl.loadingError}}
    </span></a></li>
  </ul>

  <!-- loading -->
  <ul class="dropdown-menu typeahead-results" uib-dropdown-menu
    ng-show="$ctrl.query.value && $ctrl.loadingValues">
    <li><a>
      <span class="fa fa-spinner fa-spin"></span>&nbsp;
      Loading...
    </a></li>
  </ul>

</div>
