<form>

  <!-- actions dropdown -->
  <div class="btn-group btn-group-sm pull-right margined-left"
    uib-dropdown dropdown-append-to-body is-open="$ctrl.isopen">
    <button id="single-button" type="button" class="btn btn-theme-primary"
      uib-dropdown-toggle>
      <span class="fa fa-caret-down fa-lg"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right action-menu-dropdown"
      uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.exportPCAP()">
        <a>
          <span class="fa fa-fw fa-file-o"></span>&nbsp;
          Export PCAP
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.exportCSV()">
        <a>
          <span class="fa fa-fw fa-file-excel-o"></span>&nbsp;
          Export CSV
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.addTags()">
        <a>
          <span class="fa fa-fw fa-tags"></span>&nbsp;
          Add Tags
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer" has-permission="removeEnabled"
        ng-click="$ctrl.removeTags()">
        <a>
          <span class="fa fa-fw fa-trash-o"></span>&nbsp;
          Remove Tags
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer" has-permission="removeEnabled"
        ng-click="$ctrl.scrubPCAP()">
        <a>
          <span class="fa fa-fw fa-trash-o"></span>&nbsp;
          Scrub PCAP Storage
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer" has-permission="removeEnabled"
        ng-click="$ctrl.deleteSession()">
        <a>
          <span class="fa fa-fw fa-trash-o"></span>&nbsp;
          Delete SPI & PCAP
        </a>
      </li>
      <li ng-repeat="(key, value) in $ctrl.molochclusters track by key"
        ng-click="$ctrl.sendSession(key)">
        <a>
          <span class="fa fa-fw fa-paper-plane-o"></span>&nbsp;
          Send Session to {{::value.name}}
        </a>
      </li>
    </ul>
  </div> <!-- /actions dropdown -->

  <!-- views dropdown -->
  <div class="btn-group btn-group-sm pull-right margined-left"
    uib-dropdown is-open="$ctrl.viewsopen">
    <button type="button" class="btn btn-theme-secondary"
      ng-if="!$ctrl.view" tooltip-placement="left"
      uib-dropdown-toggle tooltip-append-to-body="true"
      uib-tooltip="Apply a view to the results. Currently, there is no view applied to these results.">
      <span class="fa fa-eye fa-lg"></span>
    </button>
    <button type="button" class="btn btn-theme-quaternary"
      ng-if="$ctrl.view" tooltip-placement="left"
      uib-dropdown-toggle tooltip-append-to-body="true"
      uib-tooltip="{{$ctrl.view}} view applied to these results. Click to change or remove this view.">
      <span class="fa fa-eye fa-lg"></span>&nbsp;
      {{$ctrl.view}}
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.createView()"
        uib-tooltip="Create a new view"
        tooltip-placement="left">
        <div><a>
          <span class="fa fa-plus-circle"></span>&nbsp;
          New View
        </a></div>
      </li>
      <li class="divider"></li>
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.setView(null)"
        ng-class="{'active':!$ctrl.view}"
        uib-tooltip="Apply no view"
        tooltip-placement="left">
        <div><a>None</a></div>
      </li>
      <li role="menuitem" class="cursor-pointer"
        ng-repeat="(key,val) in $ctrl.views track by key"
        ng-class="{'active':$ctrl.view === key}"
        uib-tooltip="Apply {{::key}} View ({{::val.expression}})"
        tooltip-placement="left">
        <div class="row">
          <div class="col-md-11"
            ng-click="$ctrl.setView(key)">
            <a>{{::key}}</a>
          </div>
          <div class="col-md-1">
            <button class="btn btn-xs btn-default pull-right"
              ng-click="$ctrl.deleteView(key)">
              <span class="fa fa-trash-o"></span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div> <!-- /views dropdown -->

  <!-- search button -->
  <a class="btn btn-sm btn-theme-tertiary pull-right margined-left"
    ng-click="$ctrl.applyParams()" tabindex="2">Search</a>

  <!-- search box typeahead -->
  <expression-typeahead enter-click="$ctrl.applyParams()">
  </expression-typeahead>

  <!-- time inputs -->
  <div class="form-inline" enter-click="$ctrl.applyParams()">
    <moloch-time timezone="{{::$ctrl.timezone}}"></moloch-time>
  </div> <!-- /time inputs -->

  <div class="small"> <!-- form message -->
    <toast message="$ctrl.message" type="$ctrl.messageType" done="$ctrl.messageDone()"></toast>
  </div>

  <!-- actions menu form -->
  <div class="row" ng-if="$ctrl.actionForm" enter-click>
    <hr class="action-form-separator">
    <div class="col-md-3" ng-if="$ctrl.showApplyButtons">
      <div class="btn-group">
        <label class="btn btn-sm btn-radio"
          ng-model="$ctrl.actionFormItemRadio"
          uib-btn-radio="'open'" ng-if="$ctrl.openSessions"
          uib-tooltip="Apply action for {{$ctrl.openSessions.length}} opened sessions"
          tooltip-placement="top-left" tooltip-append-to-body="true">
          Open Items
        </label>
        <label class="btn btn-sm btn-radio"
          ng-model="$ctrl.actionFormItemRadio"
          uib-btn-radio="'visible'" ng-if="$ctrl.numVisibleSessions"
          uib-tooltip="Apply action for {{[$ctrl.numVisibleSessions,$ctrl.numMatchingSessions] | min}} visible sessions"
          tooltip-placement="top-left" tooltip-append-to-body="true">
          Visible Items
        </label>
        <label class="btn btn-sm btn-radio"
          ng-model="$ctrl.actionFormItemRadio"
          uib-btn-radio="'matching'"
          uib-tooltip="Apply action for {{$ctrl.numMatchingSessions | commaString}} query matching sessions"
          tooltip-placement="top-left" tooltip-append-to-body="true">
          Matching Items
        </label>
      </div>
    </div>
    <div ng-class="{'col-md-9':$ctrl.showApplyButtons,'col-md-12':!$ctrl.showApplyButtons}">
      <session-tag ng-if="$ctrl.actionForm === 'add:tags'" add="true"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions"
        class="form-container small"></session-tag>
      <session-tag ng-if="$ctrl.actionForm === 'remove:tags'" add="false"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions"
        class="form-container small"></session-tag>
      <session-delete ng-if="$ctrl.actionForm === 'delete:session'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions"
        class="form-container small"></session-delete>
      <scrub-pcap ng-if="$ctrl.actionForm === 'scrub:pcap'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions"
        class="form-container small"></scrub-pcap>
      <session-send ng-if="$ctrl.actionForm === 'send:session'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions" cluster="$ctrl.cluster"
        class="form-container small"></session-send>
      <export-pcap ng-if="$ctrl.actionForm === 'export:pcap'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions" cluster="$ctrl.cluster"
        class="form-container small"></export-pcap>
      <export-csv ng-if="$ctrl.actionForm === 'export:csv'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions" cluster="$ctrl.cluster"
        fields="$ctrl.fields" class="form-container small"></export-csv>
      <create-view ng-if="$ctrl.actionForm === 'create:view'"
        expression="$ctrl.expression.value">
      </create-view>
    </div>
  </div> <!-- /actions menu form -->

</form>
