<form>

  <!-- actions dropdown -->
  <div class="btn-group btn-group-sm pull-right margined-left"
    uib-dropdown dropdown-append-to-body is-open="$ctrl.isopen">
    <button id="single-button" type="button" class="btn btn-theme-primary"
      uib-dropdown-toggle>
      <span class="fa fa-caret-down fa-lg"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right action-menu-dropdown"
      uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.exportPCAP()">
        <a>
          <span class="fa fa-fw fa-file-o"></span>&nbsp;
          Export PCAP
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.exportCSV()">
        <a>
          <span class="fa fa-fw fa-file-excel-o"></span>&nbsp;
          Export CSV
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.addTags()">
        <a>
          <span class="fa fa-fw fa-tags"></span>&nbsp;
          Add Tags
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer" has-permission="removeEnabled"
        ng-click="$ctrl.removeTags()">
        <a>
          <span class="fa fa-fw fa-trash-o"></span>&nbsp;
          Remove Tags
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer" has-permission="removeEnabled"
        ng-click="$ctrl.scrubPCAP()">
        <a>
          <span class="fa fa-fw fa-trash-o"></span>&nbsp;
          Scrub PCAP Storage
        </a>
      </li>
      <li role="menuitem" class="cursor-pointer" has-permission="removeEnabled"
        ng-click="$ctrl.deleteSession()">
        <a>
          <span class="fa fa-fw fa-trash-o"></span>&nbsp;
          Delete SPI & PCAP
        </a>
      </li>
      <li ng-repeat="(key, value) in $ctrl.molochclusters track by key"
        ng-click="$ctrl.sendSession(key)">
        <a>
          <span class="fa fa-fw fa-paper-plane-o"></span>&nbsp;
          Send Session to {{::value.name}}
        </a>
      </li>
    </ul>
  </div> <!-- /actions dropdown -->

  <!-- views dropdown -->
  <div class="btn-group btn-group-sm pull-right margined-left"
    uib-dropdown is-open="$ctrl.viewsopen">
    <button type="button" class="btn btn-theme-secondary"
      ng-if="!$ctrl.view" tooltip-placement="left"
      uib-dropdown-toggle tooltip-append-to-body="true"
      uib-tooltip="Apply a view to the results. Currently, there is no view applied to these results.">
      <span class="fa fa-eye fa-lg"></span>
    </button>
    <button type="button" class="btn btn-theme-quaternary"
      ng-if="$ctrl.view" tooltip-placement="left"
      uib-dropdown-toggle tooltip-append-to-body="true"
      uib-tooltip="{{$ctrl.view}} view applied to these results. Click to change or remove this view.">
      <span class="fa fa-eye fa-lg"></span>&nbsp;
      {{$ctrl.view}}
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.setView(null)"
        ng-class="{'active':!$ctrl.view}"
        uib-tooltip="Apply no view"
        tooltip-placement="left">
        <div><a>None</a></div>
      </li>
      <li role="menuitem" class="cursor-pointer"
        ng-repeat="(key,val) in $ctrl.views track by key"
        ng-class="{'active':$ctrl.view === key}"
        uib-tooltip="Apply {{::key}} View ({{::val.expression}})"
        tooltip-placement="left">
        <div class="row">
          <div class="col-md-11"
            ng-click="$ctrl.setView(key)">
            <a>{{::key}}</a>
          </div>
          <div class="col-md-1">
            <button class="btn btn-xs btn-default pull-right"
              ng-click="$ctrl.deleteView(key)">
              <span class="fa fa-trash-o"></span>
            </button>
          </div>
        </div>
      </li>
      <li class="divider"></li>
      <li role="menuitem" class="cursor-pointer"
        ng-click="$ctrl.createView()"
        uib-tooltip="Create a new view"
        tooltip-placement="left">
        <div><a>
          <span class="fa fa-plus-circle"></span>&nbsp;
          Create View
        </a></div>
      </li>
    </ul>
  </div> <!-- /views dropdown -->

  <!-- search button -->
  <a class="btn btn-sm btn-theme-tertiary pull-right margined-left"
    ng-click="$ctrl.change()">Search</a>

  <!-- search box typeahead -->
  <expression-typeahead query="$ctrl.expression" enter-click="$ctrl.change()">
  </expression-typeahead>

  <!-- time inputs -->
  <div class="form-inline" enter-click="$ctrl.change()">

    <!-- time range select -->
    <div class="form-group margined-bottom">
      <div class="input-group input-group-sm">
        <span class="input-group-addon cursor-help"
          tooltip-placement="top-left"
          uib-tooltip="Time Range">
          <span class="fa fa-clock-o"></span>
        </span>
        <select class="form-control time-range-control" convert-to-number
          ng-model="$ctrl.timeRange"
          ng-change="$ctrl.changeTimeRange()">
          <option value="1">Last hour</option>
          <option value="6">Last 6 hours</option>
          <option value="24">Last 24 hours</option>
          <option value="48">Last 48 hours</option>
          <option value="72">Last 72 hours</option>
          <option value="168">Last week</option>
          <option value="720">Last month</option>
          <option value="4380">Last 6 months</option>
          <option value="-1">All (careful)</option>
          <option value="0" disabled>Custom</option>
        </select>
      </div>
    </div> <!-- /time range select -->

    <!-- start time -->
    <div ng-if="$ctrl.timezone"
      class="form-group margined-bottom"
      ng-class="{'has-error':!$ctrl.startTime}">
      <div class="input-group input-group-sm">
        <span class="input-group-addon cursor-help"
          tooltip-placement="top"
          uib-tooltip="Beginning Time">
          Start
        </span>
        <input type="text" class="form-control date-control"
          uib-datepicker-popup="{{$ctrl.dateTimeFormat}}" epoch-date="{{::$ctrl.timezone}}"
          ng-model="$ctrl.startTime" is-open="$ctrl.startTimePopup.opened"
          close-text="Close" enter-click="$ctrl.changeDate()"
          ng-change="$ctrl.changeDate()"
          ng-model-options="{ debounce: 500 }"
          alt-input-formats="$ctrl.altInputFormats" />
        <div class="input-group-btn">
          <button type="button" class="btn btn-default"
            ng-click="$ctrl.startTimePopup.opened = !$ctrl.startTimePopup.opened">
            <span class="fa fa-calendar-o"></span>
          </button>
        </div>
      </div>
    </div> <!-- /start time -->

    <!-- stop time -->
    <div ng-if="$ctrl.timezone"
      class="form-group margined-bottom"
      ng-class="{'has-error':!$ctrl.startTime}">
      <div class="input-group input-group-sm">
        <span class="input-group-addon cursor-help"
          tooltip-placement="top"
          uib-tooltip="Ending Time">
          End
        </span>
        <input type="text" class="form-control date-control"
          uib-datepicker-popup="{{$ctrl.dateTimeFormat}}" epoch-date="{{::$ctrl.timezone}}"
          ng-model="$ctrl.stopTime" is-open="$ctrl.stopTimePopup.opened"
          close-text="Close" enter-click="$ctrl.changeDate()"
          ng-change="$ctrl.changeDate()"
          ng-model-options="{ debounce: 500 }"
          alt-input-formats="$ctrl.altInputFormats" />
        <div class="input-group-btn">
          <button type="button" class="btn btn-default"
            ng-click="$ctrl.stopTimePopup.opened = !$ctrl.stopTimePopup.opened">
            <span class="fa fa-calendar-o"></span>
          </button>
        </div>
      </div>
    </div> <!-- /stop time -->

    <!-- time bounding select -->
    <div class="form-group margined-bottom">
      <div class="input-group input-group-sm">
        <span class="input-group-addon cursor-help"
          tooltip-placement="top-left"
          uib-tooltip="Time Bounding">
          Bounding
        </span>
        <select class="form-control time-range-control"
          ng-model="$ctrl.timeBounding"
          ng-change="$ctrl.changeTimeBounding()">
          <option value="first">First Packet</option>
          <option value="last">Last Packet</option>
          <option value="both">Bounded</option>
          <option value="either">Session Overlaps</option>
          <option value="database">Database</option>
        </select>
      </div>
    </div> <!-- /time bounding select -->

    <!-- human readable time range -->
    <div class="margined-top margined-left-lg display-inline">
      <strong class="small text-theme-accent no-wrap">
        <span ng-if="$ctrl.deltaTime && !$ctrl.timeError">
          Time Range: {{$ctrl.deltaTime | readableTime}}
        </span>
        <span ng-if="$ctrl.timeError">
          <span class="fa fa-exclamation-triangle"></span>&nbsp;
          {{$ctrl.timeError}}
        </span>
      </strong>
    </div>

  </div> <!-- /time inputs -->

  <div class="small"> <!-- form message -->
    <toast message="$ctrl.message" type="$ctrl.messageType" done="$ctrl.messageDone()"></toast>
  </div>

  <!-- actions menu form -->
  <div class="row" ng-if="$ctrl.actionForm" enter-click>
    <hr class="action-form-separator">
    <div class="col-md-3" ng-if="$ctrl.showApplyButtons">
      <div class="btn-group">
        <label class="btn btn-sm btn-default"
          ng-model="$ctrl.actionFormItemRadio"
          uib-btn-radio="'open'" ng-if="$ctrl.openSessions"
          uib-tooltip="Apply action for {{$ctrl.openSessions.length}} opened sessions"
          tooltip-placement="top-left" tooltip-append-to-body="true">
          Open Items
        </label>
        <label class="btn btn-sm btn-default"
          ng-model="$ctrl.actionFormItemRadio"
          uib-btn-radio="'visible'" ng-if="$ctrl.numVisibleSessions"
          uib-tooltip="Apply action for {{[$ctrl.numVisibleSessions,$ctrl.numMatchingSessions] | min}} visible sessions"
          tooltip-placement="top-left" tooltip-append-to-body="true">
          Visible Items
        </label>
        <label class="btn btn-sm btn-default"
          ng-model="$ctrl.actionFormItemRadio"
          uib-btn-radio="'matching'"
          uib-tooltip="Apply action for {{$ctrl.numMatchingSessions | commaString}} query matching sessions"
          tooltip-placement="top-left" tooltip-append-to-body="true">
          Matching Items
        </label>
      </div>
    </div>
    <div ng-class="{'col-md-9':$ctrl.showApplyButtons,'col-md-12':!$ctrl.showApplyButtons}">
      <session-tag ng-if="$ctrl.actionForm === 'add:tags'" add="true"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions"
        class="form-container small"></session-tag>
      <session-tag ng-if="$ctrl.actionForm === 'remove:tags'" add="false"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions"
        class="form-container small"></session-tag>
      <session-delete ng-if="$ctrl.actionForm === 'delete:session'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions"
        class="form-container small"></session-delete>
      <scrub-pcap ng-if="$ctrl.actionForm === 'scrub:pcap'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions"
        class="form-container small"></scrub-pcap>
      <session-send ng-if="$ctrl.actionForm === 'send:session'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions" cluster="$ctrl.cluster"
        class="form-container small"></session-send>
      <export-pcap ng-if="$ctrl.actionForm === 'export:pcap'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions" cluster="$ctrl.cluster"
        class="form-container small"></export-pcap>
      <export-csv ng-if="$ctrl.actionForm === 'export:csv'"
        sessions="$ctrl.openSessions" apply-to="$ctrl.actionFormItemRadio"
        num-visible="$ctrl.numVisibleSessions" start="$ctrl.start"
        num-matching="$ctrl.numMatchingSessions" cluster="$ctrl.cluster"
        fields="$ctrl.fields" class="form-container small"></export-csv>
      <create-view ng-if="$ctrl.actionForm === 'create:view'"
        expression="$ctrl.expression.value">
      </create-view>
    </div>
  </div> <!-- /actions menu form -->

</form>
