<div class="alert alert-sm alert-{{$ctrl.type}} alert-dismissible"
  ng-if="$ctrl.visible">

  <span class="fa fa-check" ng-if="$ctrl.type === 'success'"></span>
  <span class="fa fa-info-circle" ng-if="$ctrl.type === 'info'"></span>
  <span class="fa fa-exclamation-triangle"
    ng-if="$ctrl.type === 'warning' || $ctrl.type === 'danger'"></span>

  &nbsp;{{$ctrl.message || 'undefined message'}}

  <button type="button" class="close" data-dismiss="alert"
    aria-label="Close" ng-click="$ctrl.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>