moloch-404 .center-area > img { z-index: 99; }

moloch-404 .center-area {
  display         : flex;
  align-items     : center;
  justify-content : center;
  text-align      : center;
  flex-direction  : column;
  min-height      : 75vh;
}

moloch-404 .well {
  margin-top: -6px;
  min-width : 25%;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.5);
}

moloch-404 .well > h2 {
  margin-top: 0;
  color     : var(--color-primary);
}
