<div class="margined-bottom-xxlg">

  <moloch-search num-matching-sessions="$ctrl.recordsFiltered"
    timezone="$ctrl.settings.timezone"></moloch-search>

  <form class="spigraph-form">
    <div class="form-inline">

      <!-- field select -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm" ng-if="$ctrl.fields">
          <span class="input-group-addon cursor-help"
            tooltip-placement="bottom-left"
            uib-tooltip="SPI Graph Field">
            SPI Graph:
          </span>
          <input type="text" ng-model="$ctrl.query.field"
            class="form-control field-typeahead"
            typeahead-min-length="0"
            typeahead-on-select="$ctrl.changeField()"
            typeahead-input-formatter="$ctrl.formatField($model)"
            uib-typeahead="field.dbField as field.exp for field in $ctrl.fields | filter:{exp:$viewValue}">
        </div>
      </div> <!-- /field select -->

      <!-- maxElements select -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon cursor-help"
            tooltip-placement="bottom"
            uib-tooltip="Max Elements Shown">
            Max Elements:
          </span>
          <select class="form-control" convert-to-number
            ng-model="$ctrl.query.size" ng-change="$ctrl.changeMaxElements()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
          </select>
        </div>
      </div> <!-- /min connections select -->

      <!-- sort select -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon cursor-help"
            tooltip-placement="bottom"
            uib-tooltip="Sort results by">
            Sort by:
          </span>
          <select class="form-control"
            ng-model="$ctrl.sortBy" ng-change="$ctrl.changeSortBy()">
            <option value="name">name</option>
            <option value="graph">graph</option>
          </select>
        </div>
      </div> <!-- /sort select -->

      <!-- refresh input -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon cursor-help"
            tooltip-placement="bottom"
            uib-tooltip="Refresh page every X seconds">
            Refresh every:
          </span>
          <select class="form-control" convert-to-number
            ng-model="$ctrl.refresh" ng-change="$ctrl.changeRefreshInterval()">
            <option value="0">0</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="60">60</option>
          </select>
          <span class="input-group-addon">
            seconds
          </span>
        </div>
      </div> <!-- /refresh input-->

      <strong class="small margined-top margined-left-lg text-theme-accent"
        ng-if="!$ctrl.error && $ctrl.recordsFiltered !== undefined">
        Showing {{$ctrl.recordsFiltered | number}} entries filtered from
        {{$ctrl.recordsTotal | number}} total entries
      </strong>

    </div> <!-- /form-inlne -->
  </form>

  <div class="spigraph-content no-overflow">

    <div ng-if="$ctrl.mapData && $ctrl.graphData"
      class="well well-sm margined-left margined-right margined-bottom-xxlg no-overflow">
      <div class="row margined-bottom-xxxlg">
        <moloch-graph-map open="{{$ctrl.openMaps}}" graph-type="{{::$ctrl.graphType}}"
          graph-data="$ctrl.graphData" map-data="$ctrl.mapData" primary="true"
          timezone="{{::$ctrl.settings.timezone}}">
        </moloch-graph-map>
      </div>
    </div>

    <div ng-repeat="item in $ctrl.items track by item.name"
      class="margined-top-lg margined-bottom spi-graph-item padded-top">
      <div class="row">
        <div class="col-md-12">
          <div class="spi-bucket margined-left-xxlg">
            <session-field value="{{::item.name}}" expr="{{::$ctrl.fieldObj.exp}}"
              parse="true" pull-left="true" session-btn="true">
            </session-field>
            <sup>({{::item.count | number}})</sup>
          </div>
        </div>
      </div>
      <div class="row padded-bottom-lg">
        <div class="col-md-12">
          <moloch-graph-map graph-data="item.graph" open="{{$ctrl.openMaps}}"
            map-data="item.map" graph-type="{{::$ctrl.graphType}}"
            timezone="{{::$ctrl.settings.timezone}}">
          </moloch-graph-map>
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.error || $ctrl.recordsFiltered === 0">
      <!-- no results -->
      <div class="info-area vertical-horizontal-center"
        ng-if="!$ctrl.error && !$ctrl.loading && $ctrl.recordsFiltered === 0">
        <span class="fa fa-3x text-muted-more fa-folder-open"></span>
        No results or none that match your search.
      </div> <!-- /no results -->

      <error ng-if="$ctrl.error" message="::$ctrl.error"></error>
    </div>

    <loading ng-if="$ctrl.loading"></loading>

  </div>

</div>
