// default pagination styles
select {
  &.page-select {
    width : 120px;
  }
}

.pagination-info {
  font-size : 1.2rem;
  color     : $color-gray-dark;
}

// for larger screens
@media (min-width: 768px) {
  .pagination {
    &.pagination-sm {
      margin: 0 0 -10px 0;
    }
  }

  // put pagination info with page control
  .pagination-info {
    border        : 1px solid #ddd;
    padding       : 8px 10px 6px;
    margin-left   : -6px;
    border-radius : 0 $px-sm $px-sm 0;
  }

  // put page number select with page control
  select {
    &.page-select {
      display       : inline-flex;
      height        : 30px;
      margin-bottom : $px-xs;
      margin-right  : -$px-md;
      padding-top   : $px-xs;
      padding-bottom: $px-xs;
      border-right  : none;
      border-radius : $px-sm $px-none $px-none $px-sm;
      border-color  : #ddd;
      -webkit-appearance: none;
    }
  }
}

// for smaller screens
@media (max-width: 767px) {
  .pagination {
    &.pagination-sm {
      margin: $px-sm 0;
    }
  }

  .pagination-info {
    display       : flex;
    margin-bottom : $px-sm;
  }
}
