<div>

  <!-- page size -->
  <select ng-model="$ctrl.length" ng-change="$ctrl.change()"
    ng-options="option.value as option.label for option in $ctrl.options | orderBy: 'value'"
    class="form-control page-select">
  </select> <!-- /page size -->

  <!-- pagination -->
  <ul uib-pagination boundary-links="true"
    ng-change="$ctrl.change()" rotate="true"
    total-items="$ctrl.recordsFiltered"
    items-per-page="$ctrl.length" max-size="5"
    ng-model="$ctrl.currentPage" class="pagination pagination-sm"
    previous-text="&lsaquo;" next-text="&rsaquo;"
    first-text="&laquo;" last-text="&raquo;">
  </ul> <!-- /pagination -->

  <!-- page info -->
  <span class="pagination-info cursor-help" tooltip-placement="top"
    uib-tooltip="filtered from {{$ctrl.recordsTotal | number:0}} total entries">
    Showing {{$ctrl.start + 1}} - {{$ctrl.start + $ctrl.length}}
    of {{$ctrl.recordsFiltered | number:0}} entries
  </span> <!-- /page info -->

</div>
