moloch-stats .container-fluid {
  margin-top: 90px;
}

moloch-stats .panel-heading {
  padding         : 0;
  background-color: var(--color-gray-light) !important;
}

moloch-stats .panel-title a.accordion-toggle {
  display         : block;
  padding         : 10px 15px;
  text-decoration : none;
}
moloch-stats .panel-body {
  padding   : 0;
  overflow  : hidden;
  overflow-x: auto;
}

moloch-stats #statsGraphOptions {
  position  : relative;
  top       : -10px;
  left      : 40%;
  margin    : 1px;
  font-size : xx-small;
  z-index   : 1;
}

moloch-stats table.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--color-gray-lighter);
}

moloch-stats table.table > tfoot > tr:first-child > td {
  border-top: 2px solid var(--color-gray-light);
}

moloch-stats form.stats-form {
  position: fixed;
  top     : 36px;
  left    : 0;
  right   : 0;
  z-index : 4;
  padding : var(--px-xlg) var(--px-lg) var(--px-md) var(--px-lg);
  background-color: var(--color-quaternary-lightest);

  -webkit-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
     -moz-box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
          box-shadow: var(--px-none) var(--px-none) var(--px-xlg) var(--px-sm) #333;
}
moloch-stats select {
  -webkit-appearance: none;
}

/* Cubism stuff -------------------- */
moloch-stats .axis path, moloch-stats .axis line {
  fill            : none;
  stroke          : var(--color-foreground);
  shape-rendering : crispEdges;
}

moloch-stats .axis {
  font: 10px sans-serif;
}

moloch-stats .axis text {
  -webkit-transition: fill-opacity 250ms linear;
  stroke : var(--color-foreground);
}

moloch-stats .axis path {
  display: none;
}

moloch-stats .axis line {
  stroke          : var(--color-foreground);
  shape-rendering : crispEdges;
}

moloch-stats .horizon {
  border-bottom : solid 1px var(--color-black);
  overflow      : hidden;
  position      : relative;
}

moloch-stats .horizon + .horizon {
  border-top: none;
}

moloch-stats .horizon canvas {
  display: block;
}

moloch-stats .horizon .title, moloch-stats .horizon .value {
  bottom      : 0;
  line-height : 30px;
  margin      : 0 6px;
  position    : absolute;
  text-shadow : 0 1px 0 var(--color-white);
  color       : var(--color-black);
  white-space : nowrap;
  font-weight : 600;
}

moloch-stats .horizon .title {
  left: 0;
}

moloch-stats .horizon .value {
  right: 0;
}

moloch-stats .rule {
  position: fixed;
  z-index : 3;
  bottom  : 0;
  top     : 0;
}

moloch-stats .line {
  background: var(--color-black);
  position  : absolute;
  opacity   : .4;
}
