<script src='cubism.v1.js'></script>
<script src='highlight.min.js'></script>

<div>

  <form class="stats-form">
    <div class="form-inline">
      <!-- graph type select -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon help-cursor"
            uib-tooltip="The type of graph data to display"
            tooltip-placement="bottom-left">
            Graph Type
          </span>
          <select ng-model="$ctrl.graphType" ng-change="$ctrl.changeGraphType()"
            class="form-control input-sm">
            <option value="deltaPacketsPerSec">Packets/Sec</option>
            <option value="deltaBytesPerSec">Bytes/Sec</option>
            <option value="deltaBitsPerSec">Bits/Sec</option>
            <option value="deltaSessionsPerSec">Sessions/Sec</option>
            <option value="deltaDroppedPerSec">Input Dropped/Sec</option>
            <option value="monitoring">Active Sessions</option>
            <option value="tcpSessions">Active TCP Sessions</option>
            <option value="udpSessions">Active UDP Sessions</option>
            <option value="icmpSessions">Active ICMP Sessions</option>
            <option value="freeSpaceM">Free Space MB</option>
            <option value="freeSpaceP">Free Space %</option>
            <option value="memory">Memory</option>
            <option value="memoryP">Memory %</option>
            <option value="cpu">CPU</option>
            <option value="diskQueue">Disk Queue</option>
            <option value="esQueue">ES Queue</option>
            <option value="deltaESDroppedPerSec">ES Dropped/Sec</option>
            <option value="packetQueue">Packet Queue</option>
            <option value="closeQueue">Closing Queue</option>
            <option value="needSave">Waiting Queue</option>
            <option value="fragsQueue">Fragments Queue</option>
            <option value="frags">Active Fragments</option>
            <option value="deltaFragsDroppedPerSec">Fragments Dropped/Sec</option>
            <option value="deltaOverloadDroppedPerS>c">Overload Dropped/Sec</option>
            <option value="deltaTotalDroppedPerSec">Total Dropped/Sec</option>
          </select>
        </div>
      </div> <!-- /graph type select -->

      <!-- graph interval select -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon help-cursor"
            uib-tooltip="Graph data bins and graph data refresh interval"
            tooltip-placement="bottom">
            Graph Interval
          </span>
          <select ng-model="$ctrl.graphInterval" ng-change="$ctrl.changeGraphInterval()"
            class="form-control input-sm">
            <option value="5">Seconds</option>
            <option value="60">Minutes</option>
            <option value="600">10 Minutes</option>
            <option value="0">None</option>
          </select>
        </div>
      </div> <!-- /graph interval select -->

      <!-- graph interval select -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon help-cursor"
            uib-tooltip="Data refresh interval for Node and Elasticsearch stats"
            tooltip-placement="bottom">
            Refresh Node/ES Data Every
          </span>
          <select ng-model="$ctrl.dataInterval" ng-change="$ctrl.changeDataInterval()"
            class="form-control input-sm">
            <option value="5000">5 seconds</option>
            <option value="15000">15 seconds</option>
            <option value="30000">30 seconds</option>
            <option value="60000">1 minute</option>
            <option value="600000">10 minutes</option>
            <option value="0">None</option>
          </select>
        </div>
      </div> <!-- /graph interval select -->

    </div> <!-- /form-inlne -->
  </form>

  <div class="container-fluid">

    <span class="fa fa-lg fa-question-circle-o pull-right margined-top-lg cursor-help"
      uib-tooltip="HINT: These graphs are 1440 pixels wide. Expand your browser window to at least 1500 pixels wide for best viewing."
      tooltip-placement="left"></span>

    <uib-tabset ng-if="!$ctrl.error">

      <uib-tab index="0" heading="Nodes" select="$ctrl.selectTab(0)">

        <uib-accordion close-others="false" ng-if="$ctrl.selectedTab === 0">

          <div class="row margined-top margined-bottom">
            <div class="col-md-6">
              <moloch-pagination length="$ctrl.query.length"
                records-total="$ctrl.stats.recordsTotal"
                records-filtered="$ctrl.stats.recordsFiltered"
                current-page="$ctrl.currentPage"
                start="$ctrl.query.start"></moloch-pagination>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm pull-right">
                <span class="input-group-addon">
                  <span class="fa fa-search"></span>
                </span>
                <input type="text" class="form-control" ng-model="$ctrl.query.filter"
                  ng-model-options="{debounce:400}" ng-change="$ctrl.searchForNodes()"
                  placeholder="Begin typing to search for nodes by name">
              </div>
            </div>
          </div>

          <!-- stats graphs -->
          <div uib-accordion-group class="panel-default" id="statsGraphPanel"
            is-open="$ctrl.graphsOpen">
            <uib-accordion-heading>
              <div ng-click="$ctrl.toggleGraphSection()">
                Graphs
                <span class="pull-right fa"
                  ng-class="{'fa-minus':$ctrl.graphsOpen, 'fa-plus':!$ctrl.graphsOpen}"></span>
              </div>
            </uib-accordion-heading>
            <div id="statsGraph" style="width: 1440px;"></div>
          </div> <!-- /stats graphs -->

          <!-- node stats table -->
          <div uib-accordion-group class="panel-default" id="nodeStatsPanel"
            is-open="$ctrl.nodeStatsOpen">
            <uib-accordion-heading>
              Node Stats
              <span class="pull-right fa"
                ng-class="{'fa-minus':$ctrl.nodeStatsOpen, 'fa-plus':!$ctrl.nodeStatsOpen}"></span>
            </uib-accordion-heading>

            <table class="table table-condensed margined-top-xxxlg text-right"
              ng-if="$ctrl.nodeStatsOpen">
              <thead class="small">
              <tr>
                <th ng-repeat="column in ::$ctrl.columns" class="cursor-pointer text-right"
                  ng-click="$ctrl.columnClick(column.sort)">
                  {{::column.name}}
                  <span ng-if="column.sort !== undefined">
                    <span ng-show="$ctrl.query.sortField === column.sort && !$ctrl.query.desc" class="fa fa-sort-asc"></span>
                    <span ng-show="$ctrl.query.sortField === column.sort && $ctrl.query.desc" class="fa fa-sort-desc"></span>
                    <span ng-show="$ctrl.query.sortField !== column.sort" class="fa fa-sort"></span>
                  </span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tbody>
              <tr class="animate-repeat" ng-if="$ctrl.stats.data"
                ng-repeat-start="stat in $ctrl.stats.data track by stat.id">
                <td class="no-wrap">
                  <a class="btn btn-sm btn-toggle"
                    ng-class="{'collapsed':!$ctrl.expandedNodeStats[stat.id], 'btn-theme-tertiary':!$ctrl.expandedNodeStats[stat.id], 'btn-danger':$ctrl.expandedNodeStats[stat.id]}"
                    ng-click="$ctrl.toggleStatDetail(stat)">
                    <span class="fa fa-close"></span>
                  </a>
                </td>
                <td class="no-wrap">{{stat.id}}</td>
                <td class="no-wrap">{{stat.currentTime | timezoneDateString:$ctrl.settings.timezone}}</td>
                <td class="no-wrap">{{stat.monitoring|number:0}}</td>
                <td class="no-wrap">{{stat.freeSpaceM*1000000|humanReadable}} ({{stat.freeSpaceP|number:1}}%)</td>
                <td class="no-wrap">{{stat.cpu/100.0|number:1}}%</td>
                <td class="no-wrap">{{stat.memory|humanReadable}} ({{stat.memoryP|number:1}}%)</td>
                <td class="no-wrap">{{stat.packetQueue|number:0}}</td>
                <td class="no-wrap">{{stat.deltaPacketsPerSec|number:0}}</td>
                <td class="no-wrap">{{stat.deltaBytesPerSec|humanReadable}}</td>
                <td class="no-wrap">{{stat.deltaSessionsPerSec|number:0}}</td>
                <td class="no-wrap">{{stat.deltaDroppedPerSec|number:0}}</td>
                <td class="no-wrap">{{stat.deltaOverloadDroppedPerSec|number:0}}</td>
                <td class="no-wrap">{{stat.deltaESDroppedPerSec|number:0}}</td>
              </tr>
              <tr ng-repeat-end ng-show="$ctrl.expandedNodeStats[stat.id]">
                <td colspan="{{::$ctrl.columns.length}}">
                  <div id="statsGraph-{{stat.id}}" style="width: 1440px;">
                  </div>
                </td>
              </tr>
              <tr ng-if="$ctrl.stats.data && !$ctrl.stats.data.length">
                <td colspan="{{::$ctrl.columns.length}}" class="text-danger text-center">
                  <span class="fa fa-warning"></span>&nbsp;
                  No results match your search
                </td>
              </tr>
              </tbody>
              <tfoot class="bold" ng-if="$ctrl.averageValues && $ctrl.totalValues">
              <tr>
                <td class="no-wrap"></td>
                <td class="no-wrap">Average</td>
                <td class="no-wrap"></td>
                <td class="no-wrap">{{$ctrl.averageValues.monitoring|number:0}}</td>
                <td class="no-wrap">{{$ctrl.averageValues.freeSpaceM*1000000|humanReadable}} ({{$ctrl.averageValues.freeSpaceP|number:1}}%)</td>
                <td class="no-wrap">{{$ctrl.averageValues.cpu/100.0|number:1}}%</td>
                <td class="no-wrap">{{$ctrl.averageValues.memory|humanReadable}} ({{$ctrl.averageValues.memoryP|number:1}}%)</td>
                <td class="no-wrap">{{$ctrl.averageValues.packetQueue|number:0}}</td>
                <td class="no-wrap">{{$ctrl.averageValues.deltaPacketsPerSec|number:0}}</td>
                <td class="no-wrap">{{$ctrl.averageValues.deltaBytesPerSec|humanReadable}}</td>
                <td class="no-wrap">{{$ctrl.averageValues.deltaSessionsPerSec|number:0}}</td>
                <td class="no-wrap">{{$ctrl.averageValues.deltaDroppedPerSec|number:0}}</td>
                <td class="no-wrap">{{$ctrl.averageValues.deltaOverloadDroppedPerSec|number:0}}</td>
                <td class="no-wrap">{{$ctrl.averageValues.deltaESDroppedPerSec|number:0}}</td>
              </tr>
              <tr>
                <td class="no-wrap"></td>
                <td class="no-wrap">Total</td>
                <td class="no-wrap"></td>
                <td class="no-wrap">{{$ctrl.totalValues.monitoring|number:0}}</td>
                <td class="no-wrap">{{$ctrl.totalValues.freeSpaceM*1000000|humanReadable}} ({{$ctrl.totalValues.freeSpaceP|number:1}}%)</td>
                <td class="no-wrap">{{$ctrl.totalValues.cpu/100.0|number:1}}%</td>
                <td class="no-wrap">{{$ctrl.totalValues.memory|humanReadable}} ({{$ctrl.totalValues.memoryP|number:1}}%)</td>
                <td class="no-wrap">{{$ctrl.totalValues.packetQueue|number:0}}</td>
                <td class="no-wrap">{{$ctrl.totalValues.deltaPacketsPerSec|number:0}}</td>
                <td class="no-wrap">{{$ctrl.totalValues.deltaBytesPerSec|humanReadable}}</td>
                <td class="no-wrap">{{$ctrl.totalValues.deltaSessionsPerSec|number:0}}</td>
                <td class="no-wrap">{{$ctrl.totalValues.deltaDroppedPerSec|number:0}}</td>
                <td class="no-wrap">{{$ctrl.totalValues.deltaOverloadDroppedPerSec|number:0}}</td>
                <td class="no-wrap">{{$ctrl.totalValues.deltaESDroppedPerSec|number:0}}</td>
              </tr>
              </tfoot>
            </table>

          </div>  <!-- /node stats table -->

        </uib-accordion>

      </uib-tab>

      <uib-tab index="1" heading="Elasticsearch" select="$ctrl.selectTab(1)">

        <moloch-es-stats ng-if="$ctrl.selectedTab === 1"
          update-interval="$ctrl.dataInterval">
        </moloch-es-stats>

      </uib-tab>

    </uib-tabset>

    <error ng-if="$ctrl.error" message="$ctrl.error"></error>

    <loading ng-if="$ctrl.loading"></loading>

  </div>

</div>
