<table class="table table-condensed table-striped margined-top-xxxlg"
  ng-if="!$ctrl.error && $ctrl.stats">
  <thead class="small">
    <tr>
      <th ng-repeat="column in :refreshShards:$ctrl.columns track by column.name"
      style="min-width:90px"
      class="hover-menu">
        {{:refreshShards:column.name}}
        <!-- column dropdown menu -->
        <div class="btn-group" has-permission="createEnabled" uib-dropdown>
          <button type="button" uib-dropdown-toggle class="btn btn-xs btn-default">
            <span class="fa fa-caret-down"></span>
          </button>
          <ul class="dropdown-menu cursor-pointer" uib-dropdown-menu>
            <li role="menuitem" ng-if="!column.nodeExcluded">
              <a ng-click="$ctrl.exclude('node', column.name)">
                Exclude node {{column.name}}
              </a>
            </li>
            <li role="menuitem" ng-if="column.nodeExcluded">
              <a ng-click="$ctrl.include('node', column.name)">
                Include node {{column.name}}
              </a>
            </li>
            <li role="menuitem" ng-if="!column.ipExcluded">
              <a ng-click="$ctrl.exclude('ip', column.ip)">
                Exclude IP {{column.ip}}
              </a>
            </li>
            <li role="menuitem" ng-if="column.ipExcluded">
              <a ng-click="$ctrl.include('ip', column.ip)">
                Include IP {{column.ip}}
              </a>
            </li>
          </ul>
        </div> <!-- /column dropdown menu -->
      </th>
    </tr>
  </thead>
  <tbody>
  <tbody>
    <tr class="animate-repeat"
      ng-repeat="stat in :refreshShards:$ctrl.stats.indices track by stat.name">
      <td class="no-wrap">{{:refreshShards:stat.name}}</td>
      <td ng-repeat="node in :refreshShards:$ctrl.nodes">
        <span ng-if=":refreshShards:stat.nodes[node]"
          class="badge cursor-help margined-right"
          ng-repeat="item in :refreshShards:stat.nodes[node] | orderBy:'shard'"
          ng-class="{'badge-primary':item.prirep === 'p'}"
          uib-tooltip-html="'<div><strong>IP:</strong> {{:refreshShards:item.ip}}</div><div><strong>State:</strong> {{:refreshShards:item.state}}</div><div><strong>Size:</strong> {{:refreshShards:item.store}}</div><div><strong>Documents:</strong> {{:refreshShards:item.docs}}</div><strong><div>Primary/Replicate:</strong> {{:refreshShards:item.prirep}}</div>'"
          tooltip-append-to-body="true"
          tooltip-placement="left">
          {{:refreshShards:item.shard}}
        </span>
      </td>
    </tr>
    <tr ng-if=":refreshShards:!$ctrl.stats.indices">
      <td colspan="6" class="text-danger">
        <span class="fa fa-warning"></span>&nbsp;
        No results match your search
      </td>
    </tr>
  </tbody>
</table>

<error ng-if="$ctrl.error" message="$ctrl.error"></error>
