<div class="row margined-top">
  <div class="col-md-12">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <span class="fa fa-search"></span>
      </span>
      <input type="text" class="form-control" ng-model="$ctrl.searchStats"
        ng-model-options="{debounce:300}" ng-change="$ctrl.loadData()"
        placeholder="Begin typing to search for ES stats (hint: this input accepts regex)">
    </div>
  </div>
</div>

<table class="table small table-condensed table-striped margined-top-xxxlg text-right"
  ng-if="!$ctrl.error && $ctrl.stats">
  <thead>
    <tr>
      <th ng-repeat="column in ::$ctrl.columns" class="cursor-pointer text-right"
        ng-click="$ctrl.columnClick(column.sort)">
        {{::column.name}}
        <span ng-if="column.sort !== undefined">
          <span ng-show="$ctrl.sortField === column.sort && !$ctrl.sortReverse" class="fa fa-sort-asc"></span>
          <span ng-show="$ctrl.sortField === column.sort && $ctrl.sortReverse" class="fa fa-sort-desc"></span>
          <span ng-show="$ctrl.sortField !== column.sort" class="fa fa-sort"></span>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="bold no-stripe" ng-if="$ctrl.filteredStats.length > 9">
      <td class="no-wrap">Average</td>
      <td class="no-wrap">{{$ctrl.averageValues.docs|number:0}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.storeSize|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.heapSize|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.load|number:2}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.cpu|number:1}}%</td>
      <td class="no-wrap">{{$ctrl.averageValues.read|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.write|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.searches|number:0}}</td>
    </tr>
    <tr class="bold no-stripe border-bottom-bold" ng-if="$ctrl.filteredStats.length > 9">
      <td class="no-wrap">Total</td>
      <td class="no-wrap">{{$ctrl.totalValues.docs|number:0}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.storeSize|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.heapSize|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.load|number:2}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.cpu|number:1}}%</td>
      <td class="no-wrap">{{$ctrl.totalValues.read|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.write|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.searches|number:0}}</td>
    </tr>
    <tr class="animate-repeat"
      ng-repeat="stat in $ctrl.filteredStats = ($ctrl.stats.data) track by stat.name">
      <td class="no-wrap hover-menu">{{stat.name}}
        <!-- column dropdown menu -->
        <div class="btn-group" uib-dropdown>
          <button type="button" uib-dropdown-toggle class="btn btn-xs btn-default">
            <span class="fa fa-caret-down"></span>
          </button>
          <ul class="dropdown-menu cursor-pointer" uib-dropdown-menu>
            <li role="menuitem" ng-if="!stat.nodeExcluded">
              <a ng-click="$ctrl.exclude('node', stat.name)">
                Exclude node {{stat.name}}
              </a>
            </li>
            <li role="menuitem" ng-if="stat.nodeExcluded">
              <a ng-click="$ctrl.include('node', stat.name)">
                Include node {{stat.name}}
              </a>
            </li>
            <li role="menuitem" ng-if="!stat.ipExcluded">
              <a ng-click="$ctrl.exclude('ip', stat.ip)">
                Exclude IP {{stat.ip}}
              </a>
            </li>
            <li role="menuitem" ng-if="stat.ipExcluded">
              <a ng-click="$ctrl.include('ip', stat.ip)">
                Include IP {{stat.ip}}
              </a>
            </li>
          </ul>
        </div> <!-- /column dropdown menu -->
      </td>
      <td class="no-wrap">{{stat.docs|number:0}}</td>
      <td class="no-wrap">{{stat.storeSize|humanReadable}}</td>
      <td class="no-wrap">{{stat.heapSize|humanReadable}}</td>
      <td class="no-wrap">{{stat.load|number:2}}</td>
      <td class="no-wrap">{{stat.cpu|number:1}}%</td>
      <td class="no-wrap">{{stat.read|humanReadable}}</td>
      <td class="no-wrap">{{stat.write|humanReadable}}</td>
      <td class="no-wrap">{{stat.searches|number:0}}</td>
    </tr>
    <tr ng-if="!$ctrl.filteredStats.length">
      <td colspan="{{::$ctrl.columns.length}}" class="text-danger text-center">
        <span class="fa fa-warning"></span>&nbsp;
        No results match your search
      </td>
    </tr>
  </tbody>
  <tfoot class="bold">
    <tr>
      <td class="no-wrap">Average</td>
      <td class="no-wrap">{{$ctrl.averageValues.docs|number:0}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.storeSize|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.heapSize|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.load|number:2}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.cpu|number:1}}%</td>
      <td class="no-wrap">{{$ctrl.averageValues.read|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.write|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.averageValues.searches|number:0}}</td>
    </tr>
    <tr>
      <td class="no-wrap">Total</td>
      <td class="no-wrap">{{$ctrl.totalValues.docs|number:0}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.storeSize|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.heapSize|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.load|number:2}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.cpu|number:1}}%</td>
      <td class="no-wrap">{{$ctrl.totalValues.read|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.write|humanReadable}}</td>
      <td class="no-wrap">{{$ctrl.totalValues.searches|number:0}}</td>
    </tr>
  </tfoot>
</table>

<error ng-if="$ctrl.error" message="$ctrl.error"></error>
