if (session.c1222)
  div.sessionDetailMeta.bold ANSI C12.22
  dl.sessionDetailMeta
    +arrayList(session.c1222, 'calledApTitle', 'Called AP Title', 'c1222.calledApTitle')
    +arrayList(session.c1222, 'callingApTitle', 'Calling AP Title', 'c1222.callingApTitle')
    +arrayList(session.c1222, 'callingApInvocationId', 'Calling AP Invocation ID', 'c1222.callingApInvocationId')
    +arrayList(session.c1222, 'securityMode', 'Security Mode', 'c1222.securityMode')
    +arrayList(session.c1222, 'responseControl', 'Response Control', 'c1222.responseControl')
