if (session.dns)
  div.sessionDetailMeta.bold DNS
  dl.sessionDetailMeta(suffix="dns")
    +ipArrayList(session.dns, "ip", "IPs", "dns")
    +arrayList(session.dns, 'host', "Hosts", "host.dns")
    +arrayList(session.dns, 'puny', "Puny", "dns.puny")
    +arrayList(session.dns, "nameserverHost","Name Servers","host.dns.nameserver")
    +ipArrayListDNS(session.dns, "nameserver","Name Server IPs","dns.nameserver")
    +arrayList(session.dns, "mailserverHost","Mail Servers","host.dns.mailserver")
    +ipArrayListDNS(session.dns, "mailserver","Mail Server IPs","dns.mailserver")
    +arrayList(session.dns, 'opcode', "Op Code", "dns.opcode")
    +arrayList(session.dns, 'status', "Status Code", "dns.status")
    +arrayList(session.dns, 'qt', "Query Type", "dns.query.type")
    +arrayList(session.dns, 'qc', "Query Class", "dns.query.class")
    if (Array.isArray(session.dns))
      each dns,i in session.dns
        div.sessionDetailMeta.bold Query #{dns.queryHost}
        dl.sessionDetailMeta(suffix=dns.queryHost)
          dt Query:
          dd
            +clickableLabel("dns.query.class", "Type")
            +clickableValue("dns.query.class", dns.qt)
            +clickableLabel("dns.query.class", "Class")
            +clickableValue("dns.query.class", dns.qc)
            +clickableLabel("dns.query.host", "Name")
            +clickableValue("dns.query.host", dns.queryHost)
            +clickableLabel("dns.opcode", "Op Code")
            +clickableValue("dns.opcode", dns.opcode)
            if (dns.status)
              +clickableLabel("dns.status", "Status Code")
              +clickableValue("dns.status", dns.status)
          if (dns.answers)
            each answer,j in dns.answers
              dt Answer:
              dd
                +clickableLabel("dns.answerType", "Type")
                +clickableValue("dns.answerType", answer.type)
                +clickableLabel("dns.answerClass", "Class")
                +clickableValue("dns.answerClass", answer.class)
                +clickableLabel("dns.answerTTL", "TTL")
                +clickableValue("dns.answerTTL", answer.ttl)
                if (answer.ip)
                  +clickableLabel("dns.answerIP", "IP")
                  +clickableValue("dns.answerIP", answer.ip)
                if (answer.cname)
                  +clickableLabel("dns.answerCNAME", "CNAME")
                  +clickableValue("dns.answerCNAME", answer.cname)
                if (answer.nameserver)
                  +clickableLabel("dns.answerNS", "NS")
                  +clickableValue("dns.answerNS", answer.nameserver)
                if (answer.exchange)
                  +clickableLabel("dns.answerMX", "MX")
                  +clickableValue("dns.answerMX", answer.exchange)
                if (answer.txt)
                  +clickableLabel("dns.answerTXT", "TXT")
                  +clickableValue("dns.answerTXT", answer.txt)
                if (answer.https)
                  +clickableLabel("dns.answerHTTPS", "HTTPS")
                  +clickableValue("dns.answerHTTPS", answer.https)
                if (answer.caa)
                  +clickableLabel("dns.answerCAA", "CAA")
                  +clickableValue("dns.answerCAA", answer.caa)
                if (answer.flags)
                  +clickableLabel("dns.answerFlags", "Flags")
                  +arrayPrint(answer, "flags", "dns.answerFlags")
