if (session.dns)
  div.sessionDetailMeta.bold DNS
  dl.sessionDetailMeta(suffix="dns")
    +ipArrayList(session.dns, "ip", "IPs", "dns")
    +arrayList(session.dns, 'host', "Hosts", "host.dns")
    +arrayList(session.dns, 'puny', "Puny", "dns.puny")
    +arrayList(session.dns, "nameserverHost","Name Servers","host.dns.nameserver")
    +ipArrayListDNS(session.dns, "nameserver","Name Server IPs","dns.nameserver")
    +arrayList(session.dns, "mailserverHost","Mail Servers","host.dns.mailserver")
    +ipArrayListDNS(session.dns, "mailserver","Mail Server IPs","dns.mailserver")
    +arrayList(session.dns, 'opcode', "Op Code", "dns.opcode")
    +arrayList(session.dns, 'status', "Status Code", "dns.status")
    +arrayList(session.dns, 'qt', "Query Type", "dns.query.type")
    +arrayList(session.dns, 'qc', "Query Class", "dns.query.class")
    each dns,i in session.dns
      div.sessionDetailMeta.bold Query #{dns.queryHost}
      dl.sessionDetailMeta(suffix=dns.queryHost)
        dt
          +clickableLabel("dns.query.class", "Query Type")
        dd
          +clickableValue("dns.query.class", dns.qt)
        dt
          +clickableLabel("dns.query.class", "Query Class")
        dd
          +clickableValue("dns.query.class", dns.qc)
        dt
          +clickableLabel("dns.opcode", "Op Code")
        dd
          +clickableValue("dns.opcode", dns.opcode)
        if (dns.status)
          dt
            +clickableLabel("dns.status", "Status Code")
          dd
            +clickableValue("dns.status", dns.status)
        if (dns.answers)
          each answer,j in dns.answers
            div.sessionDetailMeta.bold Answer #{answer.name}
            dl.sessionDetailMeta(suffix=answer.name)
              dt
                +clickableLabel("dns.answerType", "Answer Type")
              dd
                +clickableValue("dns.answerType", answer.type)
              dt
                +clickableLabel("dns.answerClass", "Answer Class")
              dd
                +clickableValue("dns.answerClass", answer.class)
              dt
                +clickableLabel("dns.answerTTL", "Answer TTL")
              dd
                +clickableValue("dns.answerTTL", answer.ttl)
              if (answer.ip)
                dt
                  +clickableLabel("dns.answerIP", "Answer IP")
                dd
                  +clickableValue("dns.answerIP", answer.ip)
              if (answer.cname)
                dt
                  +clickableLabel("dns.answerCNAME", "Answer CNAME")
                dd
                  +clickableValue("dns.answerCNAME", answer.cname)
              if (answer.nameserver)
                dt
                  +clickableLabel("dns.answerNS", "Answer NS")
                dd
                  +clickableValue("dns.answerNS", answer.nameserver)
              if (answer.exchange)
                dt
                  +clickableLabel("dns.answerMX", "Answer MX")
                dd
                  +clickableValue("dns.answerMX", answer.exchange)
              if (answer.txt)
                dt
                  +clickableLabel("dns.answerTXT", "Answer TXT")
                dd
                  +clickableValue("dns.answerTXT", answer.txt)
              if (answer.https)
                dt
                  +clickableLabel("dns.answerHTTPS", "Answer HTTPS")
                dd
                  +clickableValue("dns.answerHTTPS", answer.https)
              if (answer.caa)
                dt
                  +clickableLabel("dns.answerCAA", "Answer CAA")
                dd
                  +clickableValue("dns.answerCAA", answer.caa)
              if (answer.flags)
                +arrayList(answer, "flags", "Flags", "dns.answerFlags")