if (session.dns)
  div.sessionDetailMeta.bold DNS
  dl.sessionDetailMeta(suffix="dns")
    +ipArrayList(session.dns, "ip", "IPs", "dns")
    +arrayList(session.dns, 'host', "Hosts", "host.dns")
    +arrayList(session.dns, 'puny', "Puny", "dns.puny")
    +arrayList(session.dns, "nameserverHost","Name Servers","host.dns.nameserver")
    +ipArrayListDNS(session.dns, "nameserver","Name Server IPs","dns.nameserver")
    +arrayList(session.dns, "mailserverHost","Mail Servers","host.dns.mailserver")
    +ipArrayListDNS(session.dns, "mailserver","Mail Server IPs","dns.mailserver")
    +arrayList(session.dns, 'opcode', "Op Code", "dns.opcode")
    +arrayList(session.dns, 'status', "Status Code", "dns.status")
    +arrayList(session.dns, 'qt', "Query Type", "dns.query.type")
    +arrayList(session.dns, 'qc', "Query Class", "dns.query.class")
    if (session.dns.https)
      +arrayList(session.dns.https, 'alpn', "HTTPS ALPN", "dns.https.alpn")
      +arrayList(session.dns.https, 'port', "HTTPS Port", "dns.https.port")
      +ipArrayList(session.dns.https, "ip", "HTTPS IPs", "dns.https")
