if (user.emailSearch && (session.esub || session.esrc || session.edst || session.eua || session.eid || session.emv || session.ect || session.efn || session.emd5 || session.eip))
  div.sessionDetailMeta.bold Email
  dl.sessionDetailMeta(suffix="email")
    +ipArrayListPre(session, "eip", "IPs", "email")
    +arrayList(session, 'eho', "Hosts", "host.email")
    +arrayList(session, 'ehh', "Headers", "email.has-header")
    +arrayList(session, 'esub', "Subjects", "email.subject")
    +arrayList(session, 'esrc', "Senders", "email.src")
    +arrayList(session, 'edst', "Destinations", "email.dst")
    +arrayList(session, 'eua', "User Agents", "email.x-mailer")
    +arrayList(session, 'eid', "Message Ids", "email.message-id")
    +arrayList(session, 'emv', "Mime Versions", "email.mime-version")
    +arrayList(session, 'ect', "Content Types", "email.content-type")
    +arrayList(session, 'efn', "Filenames", "email.fn")
    +arrayList(session, 'emd5', "Attachment MD5s", "email.md5")
    +arrayList(session.email, "bodymagic-term", "Attachment libfile", "email.bodymagic")
    if (session.hdrs)
      each value,i in emailFields
        +arrayList(session.hdrs, "ehead-" + value.name, value.name + " Header", "email." + value.name)
