if (session.http)
  div.sessionDetailMeta.bold HTTP
  dl.sessionDetailMeta(suffix="http")
    +arrayList(session.http, "method", "Method", "http.method")
    +arrayList(session.http, "statuscode", "Status code", "http.statuscode")
    +arrayList(session.http, "host", "Hosts", "host.http")
    +arrayList(session.http, "useragent", "User Agents", "http.user-agent")
    +ipArrayList(session.http, "xffIp", "XFFs", "xff")
    +arrayList(session.http, "requestHeader", "Request Headers", "http.hasheader.src")
    +arrayList(session.http, "clientVersion", "Client Versions", "http.version.src")
    +arrayList(session.http, "responseHeader", "Resp Headers", "http.hasheader.dst")
    +arrayList(session.http, "serverVersion", "Server Versions", "http.version.dst")
    +arrayList(session.http, "md5", "Body MD5s", "http.md5")
    +arrayList(session.http, "sha256", "Body SHA256s", "http.sha256")
    +arrayList(session.http, "key", "QS Keys", "http.uri.key")
    +arrayList(session.http, "cookieKey", "Cookie Keys", "http.cookie.key")
    +arrayList(session.http, "user", "User", "http.user")
    +arrayList(session.http, "authType", "Auth Type", "http.authtype")
    +arrayList(session.http, "bodyMagic", "libfile content type", "http.bodymagic")
    if (session.http.requestHeader)
      each value,i in session.http.requestHeader
        if (session.http['request-' + value])
          +arrayList(session.http, "request-" + value, value + " Header", "http." + value)
    if (session.http.responseHeader)
      each value,i in session.http.responseHeader
        if (session.http['response-' + value])
          +arrayList(session.http, "response-" + value, value + " Header", "http." + value)
