if (session.ho || session.ua || session.hh1 || session.hh2 || session.xff)
  div.sessionDetailMeta.bold HTTP
  dl.sessionDetailMeta(suffix="http")
    +arrayList(session.http, "method-term", "Method", "http.method")
    +arrayList(session.http, "statuscode", "Status code", "http.statuscode")
    +arrayList(session, "ho", "Hosts", "host.http")
    +arrayList(session, "ua", "User Agents", "http.user-agent")
    +ipArrayListPre(session, "xff", "XFFs", "xff")
    +arrayList(session, "hh1", "Request Headers", "http.hasheader.src")
    +arrayList(session, "hsver", "Request Versions", "http.version.src")
    +arrayList(session, "hh2", "Resp Headers", "http.hasheader.dst")
    +arrayList(session, "hdver", "Resp Versions", "http.version.dst")
    +arrayList(session, "hmd5", "Body MD5s", "http.md5")
    +arrayList(session, "hkey", "QS Keys", "http.uri.key")
    +arrayList(session, "hckey-term", "Cookie Keys", "http.cookie.key")
    +arrayList(session, "huser-term", "User", "http.user")
    +arrayList(session, "hat-term", "Auth Type", "http.authtype")
    +arrayList(session.http, "bodymagic-term", "libfile content type", "http.bodymagic")
    if (session.hdrs)
      each value,i in reqFields
        +arrayList(session.hdrs, "hreq-" + value.name, value.name + " Header", "http." + value.name)
      each value,i in resFields
        +arrayList(session.hdrs, "hres-" + value.name, value.name + " Header", "http." + value.name)
