if (session.krb5)
  h4 krb5
  dl
    +stringList(session.krb5, "realm-term", "Realm", "krb5.realm")
    +stringList(session.krb5, "cname-term", "cname", "krb5.cname")
    +stringList(session.krb5, "sname-term", "sname", "krb5.sname")
