if (session.krb5)
  div.sessionDetailMeta.bold krb5
  dl.sessionDetailMeta
    +arrayList(session.krb5, "realm", "Realm", "krb5.realm")
    +arrayList(session.krb5, "cname", "cname", "krb5.cname")
    +arrayList(session.krb5, "sname", "sname", "krb5.sname")
