if (session.ldap)
  div.sessionDetailMeta.bold ldap
  dl.sessionDetailMeta
    +arrayList(session.ldap, "bindname", "BindNames", "ldap.bindname")
    +arrayList(session.ldap, "authtype", "AuthTypes", "ldap.authtype")
