if (session.mqtt)
  div.sessionDetailMeta.bold MQTT
  dl.sessionDetailMeta
    +arrayList(session.mqtt, 'version', 'Version', 'mqtt.version')
    +arrayList(session.mqtt, 'clientId', 'Client ID', 'mqtt.clientId')
    +arrayList(session.mqtt, 'type', 'Type', 'mqtt.type')
    +arrayList(session.mqtt, 'topic', 'Topic', 'mqtt.topic')
    +arrayList(session.mqtt, 'willTopic', 'Will Topic', 'mqtt.willTopic')
    +arrayList(session.mqtt, 'qos', 'QoS', 'mqtt.qos')
    +arrayList(session.mqtt, 'flags', 'Flags', 'mqtt.flags')
