if (session.mysql)
  div.sessionDetailMeta.bold mysql
  dl.sessionDetailMeta
    +stringList(session.mysql, "user", "Users", "mysql.user")
    +stringList(session.mysql, "version", "Versions", "mysql.ver")
