if (session.ocsfdns)
  each event in session.ocsfdns
    div.sessionDetailMeta.bold DNS #{event.query.hostname}
    dl.sessionDetailMeta(suffix="ocsfdns")
      dt
        +clickableLabel("ocsf.dns.hostname", "Hostname")
      dd
        +clickableValue("ocsf.dns.hostname", event.query.hostname)
      dt
        +clickableLabel("ocsf.dns.opcode", "Opcode")
      dd
        +clickableValue("ocsf.dns.opcode", event.query.opcode)
      dt
        +clickableLabel("ocsf.dns.queryType", "Query Type")
      dd
        +clickableValue("ocsf.dns.queryType", event.query.type)
      dt
        +clickableLabel("ocsf.dns.packetUID", "Query Packet UID")
      dd
        +clickableValue("ocsf.dns.packetUID", event.query.packet_uid)
      if (event.rcode)
        dt
          +clickableLabel("ocsf.dns.responseCode", "Response Code")
        dd
          +clickableValue("ocsf.dns.responseCode", event.rcode)
        if (event.answersCnt > 0)
          dt
            div Answers
          dd
            div.detail-field &nbsp; 
          each answer,i in event.answers
            dt
              div #{answer.rr_type}
            dd
              div.detail-field #{i}
            dt
              +clickableLabel("ocsf.dns.answerType", "Answer Type")
            dd
              +clickableValue("ocsf.dns.answerType", answer.type)
            dt
              +clickableLabel("ocsf.dns.answerClass", "Answer Class")
            dd
              +clickableValue("ocsf.dns.answerClass", answer.class)
            dt
              +clickableLabel("ocsf.dns.answerTTL", "Answer TTL")
            dd
              +clickableValue("ocsf.dns.answerTTL", answer.ttl)
            dt
              +clickableLabel("ocsf.dns.answerPacketUID", "Answer Packet UID")
            dd
              +clickableValue("ocsf.dns.answerPacketUID", answer.packet_uid)
            +arrayList(answer, 'flags', "Answer Flags", "ocsf.dns.answerFlags")
            if (answer.rdata)
              dt
                +clickableLabel("ocsf.dns.answerRDATA", "Answer RDATA")
              dd
                +clickableValue("ocsf.dns.answerRDATA", answer.rdata)
            if (answer.rr_name != event.query.hostname)
              dt
                +clickableLabel("ocsf.dns.answerRRName", "RR Name")
              dd
                +clickableValue("ocsf.dns.answerRRName", answer.rr_name)


