if (session.postgresql)
  div.sessionDetailMeta.bold postgresql
  dl.sessionDetailMeta
    +stringList(session.postgresql, "user", "Users", "postgresql.user")
    +stringList(session.postgresql, "db", "DBs", "postgresql.db")
    +stringList(session.postgresql, "app", "Applications", "postgresql.app")
