if (session.radius)
  h4 radius
  dl
    -console.log(session.radius)
    +arrayList(session.radius, "user-term", "User", "radius.user")
    +arrayList(session.radius, "mac-term", "Mac", "radius.mac")
    +ipArrayList(session.radius, "eip", "Endpoint IPs", "radius.endpoint-ip")
    +ipArrayList(session.radius, "fip", "Framed IPs", "radius.framed-ip")
