if (session.radius)
  div.sessionDetailMeta.bold radius
  dl.sessionDetailMeta
    +arrayList(session.radius, "user", "User", "radius.user")
    +arrayList(session.radius, "mac", "Mac", "radius.mac")
    +ipArrayList(session.radius, "endpointIp", "Endpoint IPs", "radius.endpoint-ip")
    +ipArrayList(session.radius, "framedIp", "Framed IPs", "radius.framed-ip")
