if (session.s7comm)
  div.sessionDetailMeta.bold S7comm
  dl.sessionDetailMeta
    +arrayList(session.s7comm, "rosctr", "ROSCTR", "s7comm.rosctr")
    +arrayList(session.s7comm, "func", "Function Codes", "s7comm.func")
    +arrayList(session.s7comm, "pduref", "PDU References", "s7comm.pduref")
    +arrayList(session.s7comm, "errorClass", "Error Classes", "s7comm.errorClass")
    +arrayList(session.s7comm, "errorCode", "Error Codes", "s7comm.errorCode")
    +arrayList(session.s7comm, "opcode", "S7comm-plus Opcodes", "s7comm.opcode")
