if (session.smbfn || session.smbsh)
  div.sessionDetailMeta.bold SMB
  dl.sessionDetailMeta(suffix="smb")
    +arrayList(session, "smbuser", "Users", "smb.user")
    +arrayList(session, "smbho", "Hosts", "host.smb")
    +arrayList(session, "smbdm", "Domains", "smb.domain")
    +arrayList(session, "smbsh", "Shares", "smb.share")
    +arrayList(session, "smbfn", "Files", "smb.fn")
    +arrayList(session, "smbos", "OS", "smb.os")
    +arrayList(session, "smbver", "Version", "smb.ver")
