if (session.ssh)
  div.sessionDetailMeta.bold SSH
  dl.sessionDetailMeta
    +arrayList(session.ssh, "key", "Host Keys", "ssh.key")
    +arrayList(session.ssh, "versionSrc", "Source versions ", "ssh.versionSrc")
    +arrayList(session.ssh, "versionDst", "Destination versions", "ssh.versionSrc")
    +arrayList(session.ssh, "hassh", "Hassh", "ssh.hassh")
    +arrayList(session.ssh, "hasshServer", "Hassh Server", "ssh.hasshServer")
