if (session.tls || session["tlsver-term"])
  h4.sessionDetailMeta.bold TLS
  dl.sessionDetailMeta
    +arrayList(session, "tlsver-term", "Version", "tls.version")
    +arrayList(session, "tlscipher-term", "Cipher", "tls.cipher")
    +arrayList(session, "tlssrcid-term", "Src Session Id", "tls.sessionid.src")
    +arrayList(session, "tlsdstid-term", "Dst Session Id", "tls.sessionid.dst")
    if (session.tls)
      each cert in session.tls
        dt Certificate
        dd
          - if (cert.sn)
            strong.medium Serial
            +clickableValue('cert.serial', cert.sn)
          if (cert.hash)
            |  [
            +clickableValue('cert.hash', cert.hash)
            | ]
          - if (cert.notBefore)
            strong.medium.margined-left-lg Not Before
            + clickableValue('cert.notbefore', cert.notBefore, true)
          - if (cert.notAfter)
            strong.medium Not After
            + clickableValue('cert.notafter', cert.notAfter, true)
          - if (cert.iCn && Array.isArray(cert.iCn))
            strong.medium Issuer Common
            each cn,i in cert.iCn
              +clickableValue('cert.issuer.cn', cn)
          - else if (cert.iCn)
            strong.medium Issuer Common
            +clickableValue('cert.issuer.cn', cert.iCn)
          - if (cert.iOn)
            strong.medium Issuer Org
            +clickableValue('cert.issuer.on', cert.iOn)
          - if (cert.sCn && Array.isArray(cert.sCn))
            strong.medium Subject Common
            each cn,i in cert.sCn
              +clickableValue('cert.subject.cn', cn)
          - else if (cert.sCn)
            strong.medium Subject Common
            +clickableValue('cert.subject.cn', cert.sCn)
          - if (cert.sOn)
            strong.medium Subject Org
            +clickableValue('cert.subject.on', cert.sOn)
          if (cert.alt)
            |  [
            each alt,i in cert.alt
              +clickableValue('cert.alt', alt)
            | ]
