<div class="container-fluid">

  <form>

    <!-- search input -->
    <span class="pull-right fa fa-lg fa-question-circle text-theme-primary help-cursor margined-top-lg"
      uib-tooltip="Tip: use ? to replace a single character and * to replace zero or more characters in your query"
      tooltip-placement="bottom-right"></span>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <span class="fa fa-search"></span>
      </span>
      <input type="text" class="form-control input-sm input-search"
        ng-model="$ctrl.searchHistory"
        ng-model-options="{debounce:400}" ng-change="$ctrl.loadData()"
        placeholder="Search for history in the table below">
    </div> <!-- /search input -->

    <div class="form-inline margined-top">
      <moloch-time timezone="{{::$ctrl.settings.timezone}}"
        hide-bounding="::true" hide-interval="::true"></moloch-time>
    </div>

  </form>

  <!-- paging -->
  <form class="history-nav">
    <div class="form-inline">
      <moloch-pagination length="$ctrl.query.length"
        records-total="$ctrl.history.recordsTotal"
        records-filtered="$ctrl.history.recordsFiltered"
        current-page="$ctrl.currentPage"
        start="$ctrl.query.start"></moloch-pagination>
    </div>
  </form> <!-- /paging -->

  <div class="row margin-for-main-and-sub-navbar">
    <div class="col-md-12">

      <table class="table small table-condensed table-striped margined-top-xxxxlg">
        <thead>
        <tr>
          <th width="90px;">
            <a class="btn btn-xs btn-primary margined-bottom-sm"
              uib-tooltip="Toggle column filters" tooltip-placement="bottom-left"
              ng-click="$ctrl.showColFilters = !$ctrl.showColFilters">
              <span class="fa fa-filter"></span>
            </a>
          </th>
          <th ng-repeat="column in ::$ctrl.columns" class="cursor-pointer"
            has-permission="{{::column.permission}}"
            ng-class="::{'no-wrap':column.nowrap}" ng-style="::{'width':column.width+'%'}">
            <input type="text"
              ng-if="column.filter && $ctrl.showColFilters"
              has-permission="{{::column.permission}}"
              ng-model-options="{debounce:400}"
              ng-model="$ctrl.filters[column.sort]"
              placeholder="Filter by {{::column.name}}"
              class="form-control input-sm input-filter"
              ng-change="$ctrl.filterTable(column.sort, $ctrl.filters[column.sort])">
            <div ng-if="column.hasOwnProperty('exists')"
              class="margined-right header-div">
              <input type="checkbox" class="checkbox"
                tooltip-placement="top-left"
                uib-tooltip="{{::column.name}} EXISTS!"
                ng-change="$ctrl.loadData()" ng-model="column.exists">
            </div>
            <div ng-click="$ctrl.columnClick(column.sort)"
              tooltip-placement="top-left" class="header-div"
              uib-tooltip="{{::column.help}}" tooltip-append-to-body="true">
              <span ng-if="::column.sort !== ''" ng-show="$ctrl.sortField === column.sort && !$ctrl.sortReverse" class="fa fa-sort-asc"></span>
              <span ng-if="::column.sort !== ''" ng-show="$ctrl.sortField === column.sort && $ctrl.sortReverse" class="fa fa-sort-desc"></span>
              <span ng-if="::column.sort !== ''" ng-show="$ctrl.sortField !== column.sort" class="fa fa-sort"></span>
              {{::column.name}}
            </div>
            <a ng-if="$ctrl.filters[column.sort]"
              tooltip-placement="top-left"
              uib-tooltip="The history is being filtered by {{::column.name}}. Click to display the filter."
              ng-click="$ctrl.showColFilters = true"
              class="margined-left">
              <span class="fa fa-filter"></span>
            </a>
          </th>
        </tr>
        </thead>
        <tbody ng-if="!$ctrl.error">
        <tr ng-if="$ctrl.history.data.length === 0">
          <td colspan="{{::$ctrl.colSpan}}" class="text-danger text-center">
            <span class="fa fa-warning"></span>&nbsp;
            <strong>No history or none that matches your search.</strong>
          </td>
        </tr>
        <tr class="animate-repeat"
          ng-repeat-start="log in $ctrl.history.data track by log.id">
          <td>
            <a class="btn btn-xs btn-toggle"
              ng-class="{'collapsed':!log.expanded, 'btn-theme-tertiary':!log.expanded, 'btn-danger':log.expanded}"
              ng-click="$ctrl.toggleLogDetail(log)">
              <span class="fa fa-close"></span>
            </a>
            <a class="btn btn-xs btn-warning"
              has-permission="createEnabled,removeEnabled"
              ng-click="$ctrl.deleteLog(log, $index)">
              <span class="fa fa-trash-o"></span>
            </a>
            <a class="btn btn-xs btn-info"
              ng-if="log.uiPage"
              tooltip-placement="right"
              uib-tooltip="Open this query on the {{::log.uiPage}} page"
              ng-href="{{::log.uiPage}}?{{::log.query}}">
              <span class="fa fa-folder-open"></span>
            </a>
          </td>
          <td>{{::log.timestamp | timezoneDateString:$ctrl.settings.timezone}}</td>
          <td><span ng-if="::log.range">{{::log.range*1000 | readableTime}}</span></td>
          <td has-permission="createEnabled">{{::log.userId}}</td>
          <td title="{{::log.queryTime}}" class="no-wrap">{{::log.queryTime}}ms</td>
          <td title="{{::log.api}}" class="no-wrap">{{::log.api}}</td>
          <td title="{{::log.expression}}" class="no-wrap">{{::log.expression}}</td>
          <td title="{{::log.view.expression}}" class="no-wrap">
            <span ng-if="::log.view">
              <strong>{{::log.view.name}}:</strong> {{::log.view.expression}}
            </span>
          </td>
        </tr>
        <tr ng-repeat-end ng-if="log.expanded">
          <td colspan="{{::$ctrl.colSpan}}">

            <dl class="dl-horizontal">
              <!-- count info -->
              <span ng-if="::log.recordsReturned !== undefined">
                <dt><h5>
                  Counts
                </h5></dt>
                <dd>&nbsp;</dd>
                <span ng-if="::log.recordsReturned !== undefined">
                  <dt>Records Returned</dt><dd>{{::log.recordsReturned}}</dd>
                </span>
                <span ng-if="::log.recordsFiltered !== undefined">
                  <dt>Records Filtered</dt><dd>{{::log.recordsFiltered}}</dd>
                </span>
                <span ng-if="::log.recordsTotal !== undefined">
                  <dt>Records Total</dt><dd>{{::log.recordsTotal}}</dd>
                </span>
              </span> <!-- /count info -->
              <!-- req body -->
              <span ng-if="::log.body">
                <dt><h5>
                  Request Body
                </h5></dt>
                <dd>&nbsp;</dd>
                <span ng-repeat="(key, value) in ::log.body">
                  <dt>{{::key}}</dt>
                  <dd>{{::value}}</dd>
                </span>
              </span> <!-- /req body -->
              <!-- query params -->
              <span ng-if="::log.query">
                <dt><h5>
                  Query parameters
                  <sup><span class="fa fa-info-circle text-theme-primary"></span></sup>
                </h5></dt>
                <dd>&nbsp;</dd>
                <span ng-repeat="(key, value) in ::log.queryObj">
                  <dt>{{::key}}</dt>
                  <dd>
                    {{::value}}
                    <span ng-if="key === 'view' && log.view && log.view.expression">
                      ({{::log.view.expression}})
                    </span>
                  </dd>
                </span>
                <div class="margined-top-lg"><em>
                  <strong>
                    <span class="fa fa-info-circle text-theme-primary"></span>&nbsp;
                    Parsed from:
                  </strong>
                  <span style="word-break:break-all;">{{::log.api}}?{{::log.query}}</span>
                </em></div>
              </span> <!-- /query params -->
            </dl>
            <!-- no info -->
            <div ng-if="::(!log.query && !log.body && log.recordsReturned === undefined)"
              class="margined-bottom-lg">
              <span class="fa fa-frown-o fa-lg"></span>&nbsp;
              <em>Sorry! There is no more information to show.</em>
            </div> <!-- no info -->
          </td>
        </tr>
        </tbody>
      </table>

      <loading ng-if="$ctrl.loading"></loading>

      <error ng-if="$ctrl.error" message="$ctrl.error"></error>

    </div>
  </div>

</div>
