<div class="container-fluid margin-for-main-and-sub-navbar">

  <div class="sub-navbar">
    <span class="sub-navbar-title">
      <span class="fa-stack">
        <span class="fa fa-history fa-stack-1x"></span>
        <span class="fa fa-square-o fa-stack-2x"></span>
      </span>&nbsp;
      History
    </span>
    <div class="pull-right small toast-container">
      <toast message="$ctrl.msg" type="$ctrl.msgType"
        done="$ctrl.messageDone()"></toast>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- top pagination controls -->
        <div class="col-md-7">
          <moloch-pagination length="$ctrl.query.length"
            records-total="$ctrl.history.recordsTotal"
            records-filtered="$ctrl.history.recordsFiltered"
            current-page="$ctrl.currentPage"
            start="$ctrl.query.start"></moloch-pagination>
        </div>
        <div class="col-md-5">
          <div class="input-group input-group-sm pull-right">
            <span class="input-group-addon">
              <span class="fa fa-search"></span>
            </span>
            <input type="text" class="form-control input-sm input-search"
              ng-model="$ctrl.searchHistory"
              ng-model-options="{debounce:400}" ng-change="$ctrl.loadData()"
              placeholder="Search for history in the table below">
          </div>
          <small class="help-block small pull-right" style="text-align:right;">
            <span class="fa fa-info-circle"></span>&nbsp;
            use ? to replace a single character and * to replace zero or more characters
          </small>
        </div>
      </div>

      <table class="table small table-condensed table-striped margined-top">
        <thead>
        <tr>
          <th width="90px;">
            <a class="btn btn-xs btn-primary margined-bottom-sm"
              uib-tooltip="Toggle column filters" tooltip-placement="bottom-left"
              ng-click="$ctrl.showColFilters = !$ctrl.showColFilters">
              <span class="fa fa-filter"></span>
            </a>
          </th>
          <th ng-repeat="column in ::$ctrl.columns" class="cursor-pointer"
            has-permission="{{::column.permission}}"
            ng-class="::{'no-wrap':column.nowrap}" ng-style="::{'width':column.width+'%'}">
            <input type="text"
              ng-if="column.filter && $ctrl.showColFilters"
              has-permission="{{::column.permission}}"
              ng-model-options="{debounce:400}"
              ng-model="$ctrl.filters[column.sort]"
              placeholder="Filter by {{::column.name}}"
              class="form-control input-sm input-filter"
              ng-change="$ctrl.filterTable(column.sort, $ctrl.filters[column.sort])">
            <div ng-if="column.hasOwnProperty('exists')"
              class="margined-right header-div">
              <input type="checkbox" class="checkbox"
                tooltip-placement="top-left"
                uib-tooltip="{{::column.name}} EXISTS!"
                ng-change="$ctrl.loadData()" ng-model="column.exists">
            </div>
            <div ng-click="$ctrl.columnClick(column.sort)"
              tooltip-placement="top-left" class="header-div"
              uib-tooltip="{{::column.help}}" tooltip-append-to-body="true">
              <span ng-if="::column.sort !== ''" ng-show="$ctrl.sortField === column.sort && !$ctrl.sortReverse" class="fa fa-sort-asc"></span>
              <span ng-if="::column.sort !== ''" ng-show="$ctrl.sortField === column.sort && $ctrl.sortReverse" class="fa fa-sort-desc"></span>
              <span ng-if="::column.sort !== ''" ng-show="$ctrl.sortField !== column.sort" class="fa fa-sort"></span>
              {{::column.name}}
            </div>
            <a ng-if="$ctrl.filters[column.sort]"
              tooltip-placement="top-left"
              uib-tooltip="The history is being filtered by {{::column.name}}. Click to display the filter."
              ng-click="$ctrl.showColFilters = true"
              class="margined-left">
              <span class="fa fa-filter"></span>
            </a>
          </th>
        </tr>
        </thead>
        <tbody ng-if="!$ctrl.error">
        <tr ng-if="$ctrl.history.data.length === 0">
          <td colspan="7" class="text-danger text-center">
            <span class="fa fa-warning"></span>&nbsp;
            <strong>No history or none that matches your search.</strong>
          </td>
        </tr>
        <tr class="animate-repeat"
          ng-repeat-start="log in $ctrl.history.data track by log.id">
          <td>
            <a class="btn btn-xs btn-toggle"
              ng-class="{'collapsed':!log.expanded, 'btn-theme-tertiary':!log.expanded, 'btn-danger':log.expanded}"
              ng-click="$ctrl.toggleLogDetail(log)">
              <span class="fa fa-close"></span>
            </a>
            <a class="btn btn-xs btn-warning"
              has-permission="createEnabled,removeEnabled"
              ng-click="$ctrl.deleteLog(log, $index)">
              <span class="fa fa-trash-o"></span>
            </a>
            <a class="btn btn-xs btn-info"
              ng-if="log.uiPage"
              tooltip-placement="right"
              uib-tooltip="Open this query on the {{::log.uiPage}} page"
              ng-href="{{::log.uiPage}}?{{::log.query}}">
              <span class="fa fa-folder-open"></span>
            </a>
          </td>
          <td>{{::log.timestamp | timezoneDateString:$ctrl.settings.timezone}}</td>
          <td><span ng-if="::log.range">{{::log.range*1000 | readableTime}}</span></td>
          <td has-permission="createEnabled">{{::log.userId}}</td>
          <td title="{{::log.queryTime}}" class="no-wrap">{{::log.queryTime}}ms</td>
          <td title="{{::log.api}}" class="no-wrap">{{::log.api}}</td>
          <td title="{{::log.expression}}" class="no-wrap">{{::log.expression}}</td>
          <td title="{{::log.view.expression}}" class="no-wrap">
            <span ng-if="::log.view">
              <strong>{{::log.view.name}}:</strong> {{::log.view.expression}}
            </span>
          </td>
        </tr>
        <tr ng-repeat-end ng-if="log.expanded">
          <td colspan="7">
            <div ng-if="::(log.query || log.recordsReturned !== undefined)">
              <dl class="dl-horizontal">
                <dt><h5>
                  Counts
                </h5></dt>
                <dd>&nbsp;</dd>
                <span ng-if="::log.recordsReturned !== undefined">
                  <dt>Records Returned</dt><dd>{{::log.recordsReturned}}</dd>
                </span>
                <span ng-if="::log.recordsFiltered !== undefined">
                  <dt>Records Filtered</dt><dd>{{::log.recordsFiltered}}</dd>
                </span>
                <span ng-if="::log.recordsTotal !== undefined">
                  <dt>Records Total</dt><dd>{{::log.recordsTotal}}</dd>
                </span>
                <dt><h5>
                  Query parameters
                  <sup><span class="fa fa-info-circle text-theme-primary"></span></sup>
                </h5></dt>
                <dd>&nbsp;</dd>
                <span ng-repeat="(key, value) in ::log.queryObj">
                  <dt>{{::key}}</dt>
                  <dd>
                    {{::value}}
                    <span ng-if="key === 'view' && log.view && log.view.expression">
                      ({{::log.view.expression}})
                    </span>
                  </dd>
                </span>
              </dl>
              <em>
              <strong>
                <span class="fa fa-info-circle text-theme-primary"></span>&nbsp;
                Parsed from:
              </strong>
              <span style="word-break:break-all;">{{::log.query}}</span>
              </em>
            </div>
            <div ng-if="::(!log.query && log.recordsReturned === undefined)">
              <span class="fa fa-frown-o fa-lg"></span>&nbsp;
              <em>Sorry! There is no more information to show.</em>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <loading ng-if="$ctrl.loading"></loading>

      <error ng-if="$ctrl.error" message="$ctrl.error"></error>

    </div>
  </div>

</div>
