<div class="cursor-help es-health"
  ng-mouseenter="$ctrl.tooltipVisible = true"
  ng-mouseleave="$ctrl.tooltipVisible = false">

  <span class="fa fa-info-circle fa-lg margined-left" ng-if="!$ctrl.error"
    ng-class="{'health-green':$ctrl.esHealth.status === 'green',
      'health-yellow':$ctrl.esHealth.status === 'yellow',
      'health-red':$ctrl.esHealth.status === 'red'}"></span>

  <span class="fa fa-exclamation-triangle fa-lg"
    ng-if="$ctrl.error"></span>

</div>

<div ng-if="$ctrl.tooltipVisible"
  class="tooltip es-health-tooltip bottom-left fade in">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    <div ng-if="!$ctrl.loading && !$ctrl.error">
      <strong>Elasticsearch</strong><br>
      ES Version: <strong>{{::$ctrl.esHealth.version}}</strong><br>
      DB Version: <strong>{{::$ctrl.esHealth.molochDbVersion}}</strong><br>
      Cluster: <strong>{{::$ctrl.esHealth.cluster_name}}</strong><br>
      Status: <strong>{{::$ctrl.esHealth.status}}</strong><br>
      Nodes: <strong>{{::$ctrl.esHealth.number_of_nodes}}</strong><br>
      Shards: <strong>{{::$ctrl.esHealth.active_shards}}</strong><br>
      Relocating Shards: <strong>{{::$ctrl.esHealth.relocating_shards}}</strong><br>
      Unassigned Shards: <strong>{{::$ctrl.esHealth.unassigned_shards}}</strong>
    </div>
    <div ng-if="$ctrl.error">
      {{::$ctrl.error}}
    </div>
  </div>
</div>
