es-health {
  .es-health-tooltip {
    top   : 44px;
    right : 14px;
  }

  .es-health      {
    display: inline-block;

    .fa {
      font-size   : 1.8em;
      line-height : .8em;
    }
  }

  .health-red     { color: #ff0000; }
  .health-yellow  { color: #ffff00; }
  .health-green   { color: #00aa00; }
}
