/* variables ================================= */
// pixels
$px-none:   0;          // 0px
$px-xs:     0.125rem;   // 2px
$px-sm:     .25rem;     // 4px
$px-md:     .5rem;      // 8px
$px-lg:     .75rem;     // 12px
$px-xlg:    1rem;       // 16px
$px-xxlg:   1.5rem;     // 24px
$px-xxxlg:  2rem;       // 32px
$px-xxxxlg: 3rem;       // 48px
$px-xxxxxlg:3.5rem;     // 56px

// colors
$color-white      : #FFF;
$color-gray       : #CCC;
$color-gray-dark  : #777;
$color-gray-light : #EEE;
$color-black      : #000;

$color-water        : #6FB5B5;
$color-water-dark   : #459292;
$color-water-light  : #A2D7D7;

$color-yellow       : #ECB30A;
$color-yellow-light : #FACA3D;
$color-yellow-dark  : #B98B02;

$color-green        : #079B72;
$color-green-light  : #28A482;
$color-green-dark   : #027958;

$color-blue         : #1F1FA5;
$color-blue-light   : #3E3EAF;
$color-blue-dark    : #151582;

$color-purple       : #830B9C;
$color-purple-light : #902BA5;
$color-purple-dark  : #66057A;



/* imports =================================== */
@import 'overrides';

@import '../components/navbar/navbar';
@import '../components/footer/footer';
@import '../components/loading/loading';
@import '../components/pagination/pagination';

@import './modules/help/help';
@import './modules/health/health';
@import './modules/search/styles/search';
@import './modules/search/styles/expression.typeahead';
@import './modules/session/styles/session.list';
@import './modules/session/styles/session.sticky';
@import './modules/session/styles/session.graph';
@import './modules/session/styles/session.actions';
@import './modules/session/styles/session.detail';
@import './modules/session/styles/session.map';
@import './modules/session/styles/session.field';
@import './modules/settings/settings';


/* appwide styles ============================ */
body {
  font-size: 16px;
}

// margins
.margined               { margin: $px-md; }
.margined-sm            { margin: $px-sm; }
.margined-lg            { margin: $px-lg; }
.margined-xlg           { margin: $px-xlg; }
.margined-xxlg          { margin: $px-xxlg; }
.margined-xxxlg         { margin: $px-xxxlg; }
.margined-xxxxlg        { margin: $px-xxxxlg; }
.margined-none          { margin: $px-none; }

.margined-top           { margin-top: $px-md; }
.margined-top-sm        { margin-top: $px-sm; }
.margined-top-lg        { margin-top: $px-lg; }
.margined-top-xlg       { margin-top: $px-xlg; }
.margined-top-xxlg      { margin-top: $px-xxlg; }
.margined-top-xxxlg     { margin-top: $px-xxxlg; }
.margined-top-xxxxlg    { margin-top: $px-xxxxlg; }
.margined-top-none      { margin-top: $px-none; }

.margined-bottom        { margin-bottom: $px-md; }
.margined-bottom-sm     { margin-bottom: $px-sm; }
.margined-bottom-lg     { margin-bottom: $px-lg; }
.margined-bottom-xlg    { margin-bottom: $px-xlg; }
.margined-bottom-xxlg   { margin-bottom: $px-xxlg; }
.margined-bottom-xxxlg  { margin-bottom: $px-xxxlg; }
.margined-bottom-xxxxlg { margin-bottom: $px-xxxxlg; }
.margined-bottom-none   { margin-bottom: $px-none; }

.margined-left          { margin-left: $px-md; }
.margined-left-sm       { margin-left: $px-sm; }
.margined-left-lg       { margin-left: $px-lg; }
.margined-left-xlg      { margin-left: $px-xlg; }
.margined-left-xxlg     { margin-left: $px-xxlg; }
.margined-left-xxxlg    { margin-left: $px-xxxlg; }
.margined-left-xxxxlg   { margin-left: $px-xxxxlg; }
.margined-left-none     { margin-left: $px-none; }

.margined-right         { margin-right: $px-md; }
.margined-right-sm      { margin-right: $px-sm; }
.margined-right-lg      { margin-right: $px-lg; }
.margined-right-xlg     { margin-right: $px-xlg; }
.margined-right-xxlg    { margin-right: $px-xxlg; }
.margined-right-xxxlg   { margin-right: $px-xxxlg; }
.margined-right-xxxxlg  { margin-right: $px-xxxxlg; }
.margined-right-none    { margin-right: $px-none; }

.margin-for-main-navbar   { margin-top: 50px; }
.margin-for-search-navbar {
  margin-top: 85px;

  @media (max-width: 992px) {
    margin-top: 120px;
  }

  @media (max-width: 768px) {
    margin-top: 0;
  }
}


// padding
.padded             { padding: $px-md; }
.padded-sm          { padding: $px-sm; }
.padded-lg          { padding: $px-lg; }
.padded-xlg         { padding: $px-xlg; }
.padded-none        { padding: $px-none; }

.padded-top         { padding-top: $px-md; }
.padded-top-sm      { padding-top: $px-sm; }
.padded-top-lg      { padding-top: $px-lg; }
.padded-top-xlg     { padding-top: $px-xlg; }
.padded-top-none    { padding-top: $px-none; }

.padded-bottom      { padding-bottom: $px-md; }
.padded-bottom-sm   { padding-bottom: $px-sm; }
.padded-bottom-lg   { padding-bottom: $px-lg; }
.padded-bottom-xlg  { padding-bottom: $px-xlg; }
.padded-bottom-none { padding-bottom: $px-none; }

.padded-left        { padding-left: $px-md; }
.padded-left-sm     { padding-left: $px-sm; }
.padded-left-lg     { padding-left: $px-lg; }
.padded-left-xlg    { padding-left: $px-xlg; }
.padded-left-none   { padding-left: $px-none; }

.padded-right       { padding-right: $px-md; }
.padded-right-sm    { padding-right: $px-sm; }
.padded-right-lg    { padding-right: $px-lg; }
.padded-right-xlg   { padding-right: $px-xlg; }
.padded-right-none  { padding-right: $px-none; }


// cursors
.cursor-help      { cursor: help; }
.help-cursor      { cursor: help; }

.cursor-pointer   { cursor: pointer; }
.pointer-cursor   { cursor: pointer; }

.cursor-crosshair { cursor: crosshair; }
.crosshair-cursor { cursor: crosshair; }


// text
.text-blue    { color: $color-blue; }
.text-green   { color: $color-green; }
.text-purple  { color: $color-purple; }
.text-yellow  { color: $color-yellow-dark; }

// lighter than muted text
.text-muted-more {
  color: lighten($color-gray, 5%);
}


// font sizes
.medium {
  font-size: 95%;
}
.large {
  font-size: 1.8rem;
}
.xlarge {
  font-size: 2rem;
}


// wrapping
.no-wrap {
  white-space: nowrap;
}


// displaying
.display-inline {
  display: inline;
}


// overflow
.no-overflow {
  overflow: hidden;
}
.no-overflow-x {
  overflow-x: hidden;
}
.no-overflow-y {
  overflow-y: hidden;
}


// buttons
.btn {
  &.btn-purple {
    color           : $color-white;
    background-color: $color-purple-light;
    border-color    : darken($color-purple-light, 8%);

    &:hover {
      background-color: darken($color-purple-light, 5%);
      border-color    : darken($color-purple-light, 12%);
    }
  }
  &.btn-blue {
    color           : $color-white;
    background-color: $color-blue-light;
    border-color    : darken($color-blue-light, 8%);

    &:hover {
      background-color: darken($color-blue-light, 5%);
      border-color    : darken($color-blue-light, 12%);
    }
  }
  &.btn-green {
    color           : $color-white;
    background-color: $color-green-light;
    border-color    : darken($color-green-light, 8%);

    &:hover {
      background-color: darken($color-green-light, 5%);
      border-color    : darken($color-green-light, 12%);
    }
  }
  &.btn-yellow {
    color           : $color-white;
    background-color: $color-yellow;
    border-color    : darken($color-yellow, 8%);

    &:hover {
      background-color: darken($color-yellow, 5%);
      border-color    : darken($color-yellow, 12%);
    }
  }
}


// labels
.label {
  // https://github.com/twbs/bootstrap/issues/13219
  display     : inline-block;
}


// small horizontal rule
.hr-small {
  margin-top:   $px-sm;
  margin-bottom:$px-xs;
}


// flex block to display text centered
// (horizontally and vertically) on the page
// note: takes up half of the page
.vertical-horizontal-center {
  min-height      : 50vh;
  display         : flex;
  align-items     : center;
  justify-content : center;
  text-align      : center;
}


// displays large text for important information
// note: must contain an inner div with the text
// example:
// <div class="info-area">
//   <div>Some important text!</div>
// </div>
.info-area {
  font-size   : $px-xxxlg;
  color       : $color-gray-dark;

  div {
    padding         : $px-xxxlg;
    border-radius   : $px-sm;
    background-color: $color-gray-light;
  }

  span.fa {
    display         : flex;
    justify-content : center;
  }
}


// transition for font awesome icon
// only works for rotating icons 45 degrees
.btn-toggle > {
  .fa {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin    : 50% 50%;
    transform-origin        : 50% 50%;
    -webkit-transition      : all 750ms;
    transition              : all 750ms;
  }
}

.btn-toggle.collapsed {
  .fa {
    -webkit-transform : rotate(-45deg);
    -ms-transform     : rotate(-45deg);
    transform         : rotate(-45deg);
  }
}


// small alert areas
.alert {
  &.alert-sm {
    padding       : 4px 35px 5px 8px;
    margin-top    : $px-md;
    margin-bottom : $px-sm;
  }
}



/* animations ================================ */
.animate-opacity {
  opacity           : 1;

  &.ng-enter {
    -webkit-transition: opacity 400ms linear;
    transition        : opacity 400ms linear;

    opacity           : 0;
  }

  &.ng-enter-active {
    opacity           : 1;
  }

  &.ng-leave {
    -webkit-transition: opacity 400ms linear;
    transition        : opacity 400ms linear;

    opacity           : 1;
  }

  &.ng-leave-active {
    opacity           : 0;
  }
}



/* responsive styles ========================= */
// responsive floats
@media (min-width: 1500px) {
  .pull-right-xlg {
    float: right;
  }
}
@media (min-width: 1200px) {
  .pull-right-lg {
    float: right;
  }
}
@media (min-width: 992px) {
  .pull-right-md {
    float: right;
  }
}
@media (min-width: 768px) {
  .pull-right-sm {
    float: right;
  }
}
.pull-right-xs {
  float: right;
}
