/* Bootstrap Overrides ======================= */

/* display labels inline with proper wrapping */
.label {
  /* https://github.com/twbs/bootstrap/issues/13219 */
  display: inline-block;
}

/* condense the table more! */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 1px 4px;
}

/* make stripes darker */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--color-gray-lighter);
}

/* make active table items darker */
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: var(--color-gray-lighter);
}

/* give nav-pills theme color */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color           : var(--color-white);
  background-color: var(--color-primary-dark);
}

/* git pagination theme color */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index         : 3;
  color           : var(--color-white);
  cursor          : default;
  background-color: var(--color-secondary-light);
  border-color    : var(--color-secondary);
}
