/* Bootstrap Overrides ======================= */

/* dark default buttons */
.btn.btn-default {
  color           : var(--color-foreground, #333);
  background-color: var(--color-background, #FFF);
  border-color    : var(--color-gray);
}
.btn.btn-default.active {
  color           : var(--color-foreground, #333);
  background-color: var(--color-gray-light);
  border-color    : var(--color-gray);
}
.btn.btn-default:hover {
  color           : #333;
  background-color: var(--color-gray);
  border-color    : var(--color-gray);
}


/* dark input group addon */
.input-group-addon {
  color           : var(--color-foreground, #555);
  background-color: var(--color-background, #EEE);
  border-color    : var(--color-gray);
}


/* give error text theme color */
.text-danger {
  color: var(--color-foreground-accent);
}


/* display labels inline with proper wrapping */
.label {
  /* https://github.com/twbs/bootstrap/issues/13219 */
  display: inline-block;
}


/* condense the table more! */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 1px 4px;
}

/* make stripes darker */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--color-gray-lighter);
}

/* make active table items darker */
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: var(--color-gray-lighter);
}


/* give nav-pills theme color */
.nav-pills > li > a {
  color: var(--color-foreground, #333);
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: var(--color-gray-light);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color           : var(--color-foreground, #FFF);
  background-color: var(--color-primary);
}


/* give pagination theme color */
.pagination > li > a {
  color           : var(--color-foreground);
  background-color: var(--color-background);
  border          : 1px solid var(--color-gray-light);
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color           : var(--color-gray-light);
  background-color: var(--color-background);
  border-color    : var(--color-gray-light);
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index         : 3;
  cursor          : default;
  color           : var(--color-foreground);
  background-color: var(--color-primary-lightest);
  border-color    : var(--color-gray-light);
}


/* display dropdown results in scrolling div */
input.field-typeahead + ul[uib-typeahead-popup] {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* give dropdowns theme color */
.dropdown-menu {
  background-color: var(--color-background, #FFF);
  border-color    : var(--color-gray-light);
}
.dropdown-menu > li > a {
  color: var(--color-foreground);
}

ul.dropdown-menu li:hover,
ul.dropdown-menu div li:hover,
ul.dropdown-menu > li > div:hover,
ul.dropdown-menu > li > div:focus {
  background-color: var(--color-gray-light);
}
ul.dropdown-menu li.active a,
ul.dropdown-menu > li.active > a,
ul.dropdown-menu div li.active,
ul.dropdown-menu > .active > div,
ul.dropdown-menu > .active > div:hover,
ul.dropdown-menu > .active > div:focus {
  background-color: var(--color-primary);
}
ul.dropdown-menu li.active a,
ul.dropdown-menu > li.active > a,
ul.dropdown-menu div li.active a,
ul.dropdown-menu > .active > div a,
ul.dropdown-menu > .active > div:focus a {
  color: #FFF !important;
}


/* give panels theme color */
.panel {
  background-color: var(--color-background, #FFF);
  border-color    : var(--color-gray-light);
}
.panel .panel-heading {
  color: var(--color-foreground, #333);
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top-color: var(--color-gray-light);
}


/* give wells theme color */
.well {
  background-color: var(--color-gray-lighter);
  border-color    : var(--color-gray-light);
}


/* give pres theme color */
pre {
  background-color: var(--color-gray-lighter);
  border-color    : var(--color-gray-light);
}
