<div class="container-fluid">

  <!-- TODO there are no "open sessions" all are open -->
  <moloch-search open-sessions="$ctrl.stickySessions"
    num-visible-sessions="$ctrl.query.length"
    num-matching-sessions="$ctrl.recordsFiltered"
    start="$ctrl.query.start" timezone="$ctrl.settings.timezone">
  </moloch-search>

  <!-- session visualizations -->
  <div class="row margin-for-search-navbar">
    <moloch-map ng-if="::($ctrl.mapData)" map-data="$ctrl.mapData"></moloch-map>
    <div class="col-md-12">
      <div ng-if="::($ctrl.graphData)">
        <session-graph graph-data="$ctrl.graphData"></session-graph>
      </div>
    </div>
  </div>

  <label class="label label-primary">
    Showing {{$ctrl.filtered}} entries filtered from
    {{$ctrl.total}} total entries
  </label>

  <div ng-if="!$ctrl.error">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" is-open="$ctrl.categoryObjects[category].isopen"
        ng-repeat="category in $ctrl.categoryList track by category">
        <uib-accordion-heading>
          <div ng-click="$ctrl.toggleCategory(category, $ctrl.categoryObjects[category].isopen)">
            <strong class="category-title">{{::category}}</strong>
            <sup ng-if="::$ctrl.protocols[category]">
              ({{::$ctrl.protocols[category]}})
            </sup>
            <span ng-if="::!$ctrl.protocols[category] && $ctrl.categoryObjects[category].protocols.length">
              -
              <span ng-repeat="protocol in ::$ctrl.categoryObjects[category].protocols track by protocol.name" class="protocol-value">
                <session-field value="{{::protocol.name}}" expr="protocols"
                   parse="false" pull-left="true">
                </session-field>
                <sup>({{::protocol.value}})</sup>
              </span>
            </span>
            <span class="pull-right margined-top-lg fa"
             ng-class="{'fa-minus': $ctrl.categoryObjects[category].isopen, 'fa-plus': !$ctrl.categoryObjects[category].isopen}"></span>
            <button class="btn btn-primary btn-sm pull-right margined-right-lg"
              ng-click="$ctrl.toggleAllValues(category, $event)">
              <span ng-if="!$ctrl.categoryObjects[category].showingAll">
                Load All
              </span>
              <span ng-if="$ctrl.categoryObjects[category].showingAll">
                Unload All
              </span>
            </button>
          </div>
        </uib-accordion-heading>
        <div ng-if="$ctrl.categoryObjects[category].isopen">
          <div class="btn-drawer">
            <div class="btn-group margined-right margined-bottom"
              uib-dropdown uib-tooltip="{{::field.help}}"
              ng-repeat="field in ::$ctrl.categoryObjects[category].fields | orderBy: 'friendlyName' track by $index">
              <button class="btn btn-xs btn-default field-btn"
                 ng-class="{'active':$ctrl.categoryObjects[category].spi[field.dbField].active}"
                 ng-click="$ctrl.toggleSpiData(field.dbField, field.group, true)">
                {{::field.friendlyName}}
              </button>
              <button class="btn btn-xs btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a class="cursor-pointer"
                    ng-click="$ctrl.openSpiGraph(field.dbField)">
                    Open {{::field.friendlyName}} SPI Graph
                  </a>
                </li>
                <li role="menuitem">
                  <a class="cursor-pointer"
                    ng-click="$ctrl.exportUnique(field.dbField, 0)">
                    Export Unique {{::field.friendlyName}}
                  </a>
                </li>
                <li role="menuitem">
                  <a class="cursor-pointer"
                    ng-click="$ctrl.exportUnique(field.dbField, 1)">
                    Export Unique {{::field.friendlyName}} with counts
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div ng-if="$ctrl.categoryObjects[category].spi" class="margined-top">
            <div ng-repeat="(key, value) in $ctrl.categoryObjects[category].spi track by key" class="spi-buckets"
              ng-if="value.active">
              <strong>{{value.field.friendlyName}}:</strong>&nbsp;
              <span ng-repeat="bucket in value.value.buckets track by $index">
                <div class="spi-bucket margined-left-sm no-wrap" ng-if="bucket.key || bucket.key === 0">
                  <session-field field="::value.field"
                    value="{{::bucket.key}}" expr="{{::value.field.exp}}"
                    parse="true" pull-left="true"
                    timezone="{{::$ctrl.settings.timezone}}">
                  </session-field>
                  <sup>({{bucket.doc_count}})</sup>
                </div>
              </span>
              <a ng-if="value.value.doc_count_error_upper_bound < value.value.sum_other_doc_count"
                ng-click="$ctrl.showMoreValues(value.field.dbField)"
                class="btn btn-link btn-xs" style="text-decoration:none;">
                more...
              </a>
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>
  </div>

  <loading ng-if="$ctrl.loading"></loading>

  <error ng-if="$ctrl.error" message="::$ctrl.error"></error>

</div>