<div class="container-fluid">

  <!-- TODO there are no "open sessions" all are open -->
  <moloch-search open-sessions="$ctrl.stickySessions"
    num-visible-sessions="$ctrl.query.length"
    num-matching-sessions="$ctrl.recordsFiltered"
    start="$ctrl.query.start" timezone="$ctrl.settings.timezone">
  </moloch-search>

  <!-- session visualizations -->
  <div class="row margin-for-search-navbar">
    <moloch-map ng-if="::($ctrl.mapData)" map-data="$ctrl.mapData"></moloch-map>
    <div class="col-md-12">
      <div ng-if="::($ctrl.graphData)">
        <session-graph graph-data="$ctrl.graphData"></session-graph>
      </div>
    </div>
  </div>

  <label class="label label-primary">
    Showing {{$ctrl.filtered}} entries filtered from
    {{$ctrl.total}} total entries
  </label>

  <div ng-if="!$ctrl.error">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" is-open="value.isopen"
        ng-repeat="(key, value) in $ctrl.categoryObjects">
        <uib-accordion-heading>
          <div ng-click="$ctrl.toggleCategory(key, value.isopen)">
            <strong class="category-title">{{::key}}</strong>
            <sup ng-if="::$ctrl.protocols[key]">
              ({{::$ctrl.protocols[key]}})
            </sup>
            <span ng-if="::!$ctrl.protocols[key] && value.protocols.length">
              -
              <span ng-repeat="protocol in value.protocols" class="protocol-value">
                <session-field value="{{::protocol.name}}" expr="protocols"
                   parse="false" pull-left="true">
                </session-field>
                <sup>({{::protocol.value}})</sup>
              </span>
            </span>
            <span class="pull-right fa"
             ng-class="{'fa-minus': value.isopen, 'fa-plus': !value.isopen}"></span>
          </div>
        </uib-accordion-heading>
        <div ng-if="value.isopen">
          <div class="btn-drawer">
            <a ng-repeat="field in ::value.fields | orderBy: 'friendlyName'"
              class="btn btn-sm btn-default margined-right margined-bottom"
              ng-class="{'active':value.spi[field.dbField].active}"
              ng-click="$ctrl.toggleSpiData(field.dbField, field.group)"
              uib-tooltip="{{::field.help}}">
              {{::field.friendlyName}}
            </a>
          </div>
          <div ng-if="value.spi" class="margined-top">
            <div ng-repeat="(key, value) in value.spi" class="spi-buckets"
              ng-if="value.active">
              <strong>{{value.field.friendlyName}}:</strong>&nbsp;
              <span ng-repeat="bucket in value.value.buckets">
                <div class="spi-bucket margined-left-sm no-wrap" ng-if="::bucket.key">
                  <session-field field="::value.field"
                    value="{{::bucket.key}}" expr="{{::value.field.exp}}"
                    parse="true" pull-left="true"
                    timezone="{{::$ctrl.settings.timezone}}">
                  </session-field>
                  <sup>({{bucket.doc_count}})</sup>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>
  </div>

  <loading ng-if="$ctrl.loading"></loading>

  <error ng-if="$ctrl.error" message="::$ctrl.error"></error>

</div>