moloch-spiview {

  .panel-heading {
    padding: 0;
    background-color: lighten($color-gray, 10%) !important;
  }

  .panel-title a.accordion-toggle { // make entire heading clickable
    display         : block;
    padding         : 10px 15px;
    text-decoration : none;

    .protocol-value > sup { margin-left: -8px; }
    strong.category-title { font-size: 2.3rem; }
  }


  .panel-body {
    // remove focus outlines in the panel
    *:focus { outline: none !important; }

    .btn-drawer-toggle {
      background-color: lighten($color-gray-light, 3%);
      margin-right    : -15px;
      margin-left     : -15px;
    }

    .btn-drawer {
      margin-top: -10px;

      .input-xs {
        height        : 22px;
        padding       : 2px 6px;
        font-size     : 12px;
        line-height   : 1.5;
        border-radius : 3px;
        vertical-align: top;
        width         : 300px;
      }

      .btn-container {
        margin-right: -15px;
        max-height  : 30px;
        overflow    : hidden;
      }

      &.expanded {
        .btn-container {
          max-height: 999px;
          overflow  : visible;
        }
      }
    }

    .btn-drawer {
      .field-btn {
        color: $color-gray-dark;
        &.active { color: $color-black; }
      }
    }

    .spi-buckets {
      margin-left   : -15px;
      margin-right  : -15px;
      padding-left  : 15px;
      padding-right : 15px;
      padding-top   : 5px;
      padding-bottom: 5px;

      &:nth-child(odd) {
        background-color: lighten($color-yellow-light, 32%);
      }
    }

    .spi-bucket {
      font-size : 85%;
      display   : inline-block;

      sup { margin-left: -10px; }
    }
  }

  // https://github.com/angular/angular.js/issues/8224
  .fa-spin.ng-animate { -webkit-animation: none 0s; }
}
