<div class="container-fluid">

  <!-- TODO there are no "open sessions" all are open -->
  <moloch-search open-sessions="$ctrl.stickySessions"
    num-visible-sessions="$ctrl.query.length"
    num-matching-sessions="$ctrl.recordsFiltered"
    start="$ctrl.query.start" timezone="$ctrl.settings.timezone">
  </moloch-search>

  <!-- session visualizations -->
  <div class="row margin-for-search-navbar">
    <moloch-map ng-if="::($ctrl.mapData)" map-data="$ctrl.mapData"></moloch-map>
    <div class="col-md-12">
      <div ng-if="::($ctrl.graphData)">
        <session-graph graph-data="$ctrl.graphData"></session-graph>
      </div>
    </div>
  </div>

  <label class="label label-primary">
    Showing {{$ctrl.filtered | number}} entries filtered from
    {{$ctrl.total | number}} total entries
  </label>

  <div ng-if="!$ctrl.error">

    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" is-open="$ctrl.categoryObjects[category].isopen"
        ng-repeat="category in ::$ctrl.categoryList track by category">
        <uib-accordion-heading>
          <div ng-click="$ctrl.toggleCategory(category, $ctrl.categoryObjects[category].isopen)">
            <strong class="category-title">{{::category}}</strong>
            <span ng-if="::$ctrl.categoryObjects[category].protocols">
                 -
              <span ng-repeat="(key, value) in ::$ctrl.categoryObjects[category].protocols track by key"
                class="protocol-value">
                <session-field value="{{::key}}" expr="protocols"
                   parse="false" pull-left="true">
                </session-field>
                <sup>({{value | number}})</sup>
              </span>
            </span>
            <span class="pull-right margined-top-lg fa"
             ng-class="{'fa-minus': $ctrl.categoryObjects[category].isopen, 'fa-plus': !$ctrl.categoryObjects[category].isopen}"></span>
            <button class="btn btn-info btn-sm pull-right margined-right-lg"
              ng-click="$ctrl.toggleAllValues(category, true, $event)">
              Load All
            </button>
            <button class="btn btn-info btn-sm pull-right margined-right-lg"
              ng-click="$ctrl.toggleAllValues(category, false, $event)">
              Unload All
            </button>
          </div>
        </uib-accordion-heading>
        <div ng-if="$ctrl.categoryObjects[category].isopen">
          <div class="btn-drawer">
            <div class="btn-group margined-right margined-bottom"
              uib-dropdown uib-tooltip="{{::field.help}}"
              ng-repeat="field in ::$ctrl.categoryObjects[category].fields | orderBy: 'friendlyName' track by $index">
              <button class="btn btn-xs btn-default field-btn"
                 ng-class="{'active':$ctrl.categoryObjects[category].spi[field.dbField].active}"
                 ng-click="$ctrl.toggleSpiData(field, true)">
                {{::field.friendlyName}}
              </button>
              <button class="btn btn-xs btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a class="cursor-pointer"
                    ng-click="$ctrl.openSpiGraph(field.dbField)">
                    Open {{::field.friendlyName}} SPI Graph
                  </a>
                </li>
                <li role="menuitem">
                  <a class="cursor-pointer"
                    ng-click="$ctrl.exportUnique(field.dbField, 0)">
                    Export Unique {{::field.friendlyName}}
                  </a>
                </li>
                <li role="menuitem">
                  <a class="cursor-pointer"
                    ng-click="$ctrl.exportUnique(field.dbField, 1)">
                    Export Unique {{::field.friendlyName}} with counts
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div ng-if="$ctrl.categoryObjects[category].spi" class="margined-top">
            <div ng-repeat="(key, value) in $ctrl.categoryObjects[category].spi track by key"
              class="spi-buckets" ng-if="value.active">
              <div class="btn-group" uib-dropdown>
                <button class="btn btn-xs btn-default" uib-dropdown-toggle>
                  <strong>{{::value.field.friendlyName}}</strong>&nbsp;
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                  <li role="menuitem">
                    <a class="cursor-pointer"
                      ng-click="$ctrl.openSpiGraph(value.field.dbField)">
                      Open {{::value.field.friendlyName}} SPI Graph
                    </a>
                  </li>
                  <li role="menuitem">
                    <a class="cursor-pointer"
                      ng-click="$ctrl.exportUnique(value.field.dbField, 0)">
                      Export Unique {{::value.field.friendlyName}}
                    </a>
                  </li>
                  <li role="menuitem">
                    <a class="cursor-pointer"
                      ng-click="$ctrl.exportUnique(value.field.dbField, 1)">
                      Export Unique {{::value.field.friendlyName}} with counts
                    </a>
                  </li>
                  <li role="menuitem">
                    <a class="cursor-pointer"
                      ng-click="$ctrl.toggleSpiData(value.field, true)">
                      Hide {{::value.field.friendlyName}}
                    </a>
                  </li>
                </ul>
              </div>
              <i class="small"
                ng-if="!value.loading && !value.error && !value.value.buckets.length">
                No data for this field
              </i>
              <span ng-repeat="bucket in value.value.buckets track by $index">
                <div class="spi-bucket margined-left-sm no-wrap" ng-if="bucket.key || bucket.key === 0">
                  <session-field field="::value.field"
                    value="{{::bucket.key}}" expr="{{::value.field.exp}}"
                    parse="true" pull-left="true"
                    timezone="{{::$ctrl.settings.timezone}}">
                  </session-field>
                  <sup>({{bucket.doc_count | number}})</sup>
                </div>
              </span>
              <a ng-if="value.count && value.count > 100"
                 ng-click="$ctrl.showValues(value, false)"
                 class="btn btn-link btn-xs" style="text-decoration:none;">
                ...less
              </a>
              <a ng-if="value.value.doc_count_error_upper_bound < value.value.sum_other_doc_count"
                ng-click="$ctrl.showValues(value, true)"
                class="btn btn-link btn-xs" style="text-decoration:none;">
                more...
              </a>
              <span ng-if="value.loading" class="fa fa-spinner fa-spin"></span>
              <span ng-if="value.error" class="text-danger">
                <span class="fa fa-exclamation-triangle"></span>&nbsp;
                {{::value.error}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>

  </div>

  <loading ng-if="$ctrl.loading"></loading>

  <error ng-if="$ctrl.error" message="$ctrl.error"></error>

</div>