[Unit]
Description=Arkime Parliament
After=network.target

[Service]
Type=simple
Restart=on-failure
StandardOutput=tty
EnvironmentFile=-BUILD_ARKIME_INSTALL_DIR/etc/parliament.env
# Modify BUILD_ARKIME_INSTALL_DIR/etc/parliament.env instead of ExecStart
ExecStart=BUILD_ARKIME_INSTALL_DIR/bin/node parliament.js -c BUILD_ARKIME_INSTALL_DIR/etc/parliament.ini ${OPTIONS}
WorkingDirectory=BUILD_ARKIME_INSTALL_DIR/parliament
# Logging
SyslogIdentifier=arkimeparliament
# Command these two lines if you want to use systemd journal
StandardOutput=append:BUILD_ARKIME_INSTALL_DIR/logs/parliament.log
StandardError=append:BUILD_ARKIME_INSTALL_DIR/logs/parliament.log

[Install]
WantedBy=multi-user.target
