[Unit]
Description=Moloch Capture
After=network.target

[Service]
Type=simple
Restart=on-failure
StandardOutput=tty
ExecStartPre=-/usr/sbin/ethtool -G MOLOCH_INTERFACE rx 4096 tx 4096
ExecStartPre=-/usr/sbin/ethtool -K MOLOCH_INTERFACE rx off tx off
ExecStartPre=-/usr/sbin/ethtool -K MOLOCH_INTERFACE sg off
ExecStartPre=-/usr/sbin/ethtool -K MOLOCH_INTERFACE tso off
ExecStartPre=-/usr/sbin/ethtool -K MOLOCH_INTERFACE ufo off
ExecStartPre=-/usr/sbin/ethtool -K MOLOCH_INTERFACE gso off
ExecStartPre=-/usr/sbin/ethtool -K MOLOCH_INTERFACE gro off
ExecStartPre=-/usr/sbin/ethtool -K MOLOCH_INTERFACE lro off
ExecStart=/bin/sh -c '/data/MOLOCH_NAME/bin/moloch-capture -c /data/MOLOCH_NAME/etc/config.ini >> /data/MOLOCH_NAME/logs/capture.log 2>&1'
WorkingDirectory=/data/MOLOCH_NAME
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
