[Unit]
Description=Moloch Viewer
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/bin/sh -c '/data/MOLOCH_NAME/bin/node viewer.js -c /data/MOLOCH_NAME/etc/config.ini 
WorkingDirectory=/data/MOLOCH_NAME/viewer

[Install]
WantedBy=multi-user.target
