[Unit]
Description=Moloch WISE
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/bin/sh -c '/data/MOLOCH_NAME/bin/node wiseService.js -c /data/MOLOCH_NAME/etc/wise.ini 
WorkingDirectory=/data/MOLOCH_NAME/wiseService

[Install]
WantedBy=multi-user.target
