[Unit]
Description=Moloch WISE
After=network.target

[Service]
Type=simple
Restart=on-failure
StandardOutput=tty
ExecStart=/bin/sh -c '/data/moloch/bin/node wiseService.js -c /data/moloch/etc/wise.ini >> /data/moloch/logs/wise.log 2>&1'
WorkingDirectory=/data/moloch/wiseService

[Install]
WantedBy=multi-user.target
