[Unit]
Description=Moloch Capture
After=network.target

[Service]
Type=simple
Restart=on-failure
StandardOutput=tty
ExecStartPre=-MOLOCH_INSTALL_DIR/bin/moloch_config_interfaces.sh
ExecStart=/bin/sh -c 'MOLOCH_INSTALL_DIR/bin/moloch-capture -c MOLOCH_INSTALL_DIR/etc/config.ini >> MOLOCH_INSTALL_DIR/logs/capture.log 2>&1'
WorkingDirectory=MOLOCH_INSTALL_DIR
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
