[Unit]
Description=Moloch WISE
After=network.target

[Service]
Type=simple
Restart=on-failure
StandardOutput=tty
ExecStart=/bin/sh -c 'MOLOCH_INSTALL_DIR/bin/node parliament.js -c MOLOCH_INSTALL_DIR/etc/parliament.json >> MOLOCH_INSTALL_DIR/logs/parliament.log 2>&1'
WorkingDirectory=MOLOCH_INSTALL_DIR/parliament

[Install]
WantedBy=multi-user.target
