moloch-users {
  pre { padding: 16px 0 0 0; }

  .container-users { margin-top: 72px; }

  hr {
    margin-top    : 32px;
    margin-bottom : 32px;
  }

  table {
    tr {
      max-height: 100px;

      // animations for filtering table contents
      &.ng-move, &.ng-enter, &.ng-leave {
        -webkit-transition: all 400ms linear;
           -moz-transition: all 400ms linear;
                transition: all 400ms linear;
      }

      &.ng-move, &.ng-enter,
      &.ng-leave.ng-leave-active {
        opacity   : 0;
      }

      &.ng-enter.ng-enter-active,
      &.ng-leave, &.ng-move.ng-move-active {
        opacity   : 1;
      }
    }
  }
}
