if (session.et)
  div.sessionDetailMeta.bold Emerging Threats
  dl.sessionDetailMeta
    +arrayList(session.et, "category-term", "Category", "emergingthreats.category")
    +arrayList(session.et, "score", "Score", "emergingthreats.score")

