<div>

  <moloch-search num-matching-sessions="$ctrl.recordsFiltered"
    timezone="$ctrl.settings.timezone"></moloch-search>

  <form class="connections-form">
    <div class="form-inline">
      <!-- query size select -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon cursor-help"
            tooltip-placement="bottom"
            uib-tooltip="Query Size">
            Query Size
          </span>
          <select class="form-control" convert-to-number
            ng-change="$ctrl.changeLength()"
            ng-model="$ctrl.query.length">
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1,000</option>
            <option value="5000">5,000</option>
            <option value="10000">10,000</option>
            <option value="50000">50,000</option>
            <option value="100000">100,000</option>
          </select>
        </div>
      </div> <!-- /query size select -->

      <span ng-if="$ctrl.fields">
        <!-- src select -->
        <div class="form-group margined-bottom">
          <div class="input-group input-group-sm">
            <span class="input-group-addon legend cursor-help"
              tooltip-placement="bottom"
              ng-style="{'background-color':$ctrl.primaryColor}"
              uib-tooltip="Select a field for the source nodes">
              Src:
            </span>
            <input type="text" ng-model="$ctrl.query.srcField"
              class="form-control field-typeahead"
              typeahead-min-length="0"
              typeahead-on-select="$ctrl.changeSrcField()"
              typeahead-input-formatter="$ctrl.formatField($model)"
              uib-typeahead="field.dbField as field.exp for field in $ctrl.fields | filter:{exp:$viewValue}">
          </div>
        </div> <!-- /src select -->

        <!-- dst select -->
        <div class="form-group margined-bottom">
          <div class="input-group input-group-sm">
            <span class="input-group-addon legend cursor-help"
              tooltip-placement="bottom"
              ng-style="{'background-color':$ctrl.tertiaryColor}"
              uib-tooltip="Select a field for the destination nodes">
              Dst:
            </span>
            <input type="text" ng-model="$ctrl.query.dstField"
              class="form-control field-typeahead"
              typeahead-min-length="0"
              typeahead-on-select="$ctrl.changeDstField()"
              typeahead-input-formatter="$ctrl.formatField($model)"
              uib-typeahead="field.dbField as field.exp for field in $ctrl.fields | filter:{exp:$viewValue}">
          </div>
        </div> <!-- /dst select -->
      </span>

      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon legend cursor-help"
            tooltip-placement="bottom"
            tooltip-append-to-body="true"
            style="border-radius:4px;"
            ng-style="{'background-color':$ctrl.secondaryColor}"
            uib-tooltip="This is the color of a node that is both a source and destination node">
            Src & Dst
          </span>
        </div>
      </div>

      <!-- min connections select -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon cursor-help"
            tooltip-placement="bottom"
            uib-tooltip="Min Connections">
            Min. Connections
          </span>
          <select class="form-control" convert-to-number
            ng-change="$ctrl.changeMinConn()"
            ng-model="$ctrl.query.minConn">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div> <!-- /min connections select -->

      <!-- node dist select -->
      <div class="form-group margined-bottom">
        <div class="input-group input-group-sm">
          <span class="input-group-addon cursor-help"
            tooltip-placement="bottom"
            uib-tooltip="Node distance in pixels">
            Node dist
          </span>
          <select class="form-control" convert-to-number
            ng-change="$ctrl.changeNodeDist()"
            ng-model="$ctrl.query.nodeDist">
            <option value="75">75</option>
            <option value="100">100</option>
            <option value="125">125</option>
            <option value="150">150</option>
            <option value="200">200</option>
            <option value="250">250</option>
          </select>
        </div>
      </div> <!-- /node dist select -->

      <button class="btn btn-default btn-sm"
        ng-click="$ctrl.unlock()">
        <span class="fa fa-unlock"></span>&nbsp;
        Unlock
      </button>

    </div> <!-- /form-inlne -->
  </form>

  <div class="network-container"
    ng-show="!$ctrl.error && $ctrl.recordsFiltered !== 0">
    <div id="network"></div>
    <div id="networkLabel"></div>
  </div>

  <loading ng-if="$ctrl.loading"></loading>

  <div class="margin-for-main-and-sub-navbar" ng-if="$ctrl.error">
    <error message="::$ctrl.error"></error>
  </div>

  <div class="margin-for-main-and-sub-navbar"
    ng-if="!$ctrl.error && !$ctrl.loading && !$ctrl.recordsFiltered">
    <noresults records-total="{{::$ctrl.recordsTotal}}"
      view="{{::$ctrl.query.view}}"></noresults>
  </div>

</div>
