<div class="row" enter-click="$ctrl.createView()">
  <div class="col-md-4">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        View Name
      </span>
      <input ng-model="$ctrl.viewName"
        maxlength="20" type="text" class="form-control"
        placeholder="Enter a (short) view name">
    </div>
  </div>
  <div class="col-md-7">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        Expression
      </span>
      <input ng-model="$ctrl.expression"
        type="text" class="form-control"
        placeholder="Enter a query expression">
      <span class="input-group-btn">
        <button class="btn btn-theme-tertiary" ng-click="$ctrl.createView()"
          ng-class="{'disabled':$ctrl.loading}">
          <span ng-if="!$ctrl.loading">
            <span class="fa fa-plus-circle"></span>&nbsp;
            Create View
          </span>
          <span ng-if="$ctrl.loading">
            <span class="fa fa-spinner fa-spin"></span>&nbsp;
            Creating View(s)
          </span>
        </button>
      </span>
    </div>
    <p ng-if="$ctrl.error" class="small text-danger margined-bottom-none">
      <span class="fa fa-exclamation-triangle"></span>&nbsp;
      {{$ctrl.error}}
    </p>
  </div>
  <div class="col-md-1">
    <div class="btn btn-sm btn-warning pull-right"
         ng-click="$ctrl.cancel()">
      <span class="fa fa-ban"></span>&nbsp;
      cancel
    </div>
  </div>
</div>
