<div class="container-fluid margin-for-main-and-sub-navbar">

  <div class="sub-navbar">
    <span class="sub-navbar-title">
      <span class="fa-stack">
        <span class="fa fa-users fa-stack-1x"></span>
        <span class="fa fa-square-o fa-stack-2x"></span>
      </span>&nbsp;
      Users
    </span>
    <button class="pull-right btn btn-sm btn-theme-tertiary btn-header"
      ng-click="$ctrl.goToNewUserForm()">
      <span class="fa fa-plus-circle"></span>&nbsp;
      New User
    </button>
    <div class="pull-right small toast-container">
      <toast message="$ctrl.msg" type="$ctrl.msgType"
        done="$ctrl.messageDone()"></toast>
    </div>
  </div>

  <div class="row">
    <!-- top pagination controls -->
    <div class="col-md-6">
      <moloch-pagination length="$ctrl.query.length"
        records-total="$ctrl.users.recordsTotal"
        records-filtered="$ctrl.users.recordsFiltered"
        current-page="$ctrl.currentPage"
        start="$ctrl.query.start"></moloch-pagination>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <div class="input-group input-group-sm pull-right header-input">
        <span class="input-group-addon">
          <span class="fa fa-search"></span>
        </span>
        <input type="text" class="form-control input-sm" ng-model="$ctrl.searchUsers"
          ng-model-options="{debounce:300}" ng-change="$ctrl.loadData()"
          placeholder="Search for users in the table below">
      </div>
    </div>
  </div>

  <loading ng-if="$ctrl.loading"></loading>

  <error ng-if="$ctrl.error" message="$ctrl.error"></error>

  <table class="table table-condensed table-striped margined-top-xxxlg"
    ng-if="$ctrl.users">
    <thead>
      <tr>
        <th ng-repeat="column in ::$ctrl.columns" class="cursor-pointer"
          ng-class="::{'no-wrap':column.nowrap}"
          ng-click="$ctrl.columnClick(column.sort)" tooltip-placement="top-left"
          uib-tooltip="{{::column.help}}" tooltip-append-to-body="true">
          <span ng-if="::column.sort !== ''" ng-show="$ctrl.sortField === column.sort && !$ctrl.sortReverse" class="fa fa-sort-asc"></span>
          <span ng-if="::column.sort !== ''" ng-show="$ctrl.sortField === column.sort && $ctrl.sortReverse" class="fa fa-sort-desc"></span>
          <span ng-if="::column.sort !== ''" ng-show="$ctrl.sortField !== column.sort" class="fa fa-sort"></span>
          {{::column.name}}
        </th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr class="animate-repeat"
        ng-repeat="user in $ctrl.filteredUsers = ($ctrl.users.data) track by user.userId">
        <td class="no-wrap">{{user.userId}}</td>
        <td class="no-wrap">
          <input class="form-control input-sm" type="text" ng-model="user.userName" ng-change="$ctrl.userChanged(user);" ng-model-options="{debounce:300}">
        </td>
        <td class="no-wrap">
          <input class="form-control input-sm" type="text" ng-model="user.expression" ng-change="$ctrl.userChanged(user);" ng-model-options="{debounce:300}">
        </td>
        <td class="no-wrap"><input type="checkbox" ng-model="user.enabled" ng-change="$ctrl.userChanged(user);"></td>
        <td class="no-wrap"><input type="checkbox" ng-model="user.createEnabled" ng-change="$ctrl.userChanged(user);"></td>
        <td class="no-wrap"><input type="checkbox" ng-model="user.webEnabled" ng-change="$ctrl.userChanged(user);"></td>
        <td class="no-wrap"><input type="checkbox" ng-model="user.headerAuthEnabled" ng-change="$ctrl.userChanged(user);"></td>
        <td class="no-wrap"><input type="checkbox" ng-model="user.emailSearch" ng-change="$ctrl.userChanged(user);"></td>
        <td class="no-wrap"><input type="checkbox" ng-model="user.removeEnabled" ng-change="$ctrl.userChanged(user);"></td>
        <td class="no-wrap">
          <a class="btn btn-sm btn-theme-primary"
            ng-href="settings?userId={{user.userId}}"
            uib-tooltip="Settings for {{user.userId}}">
            <span class="fa fa-gear"></span>
          </a>
          <a class="btn btn-sm btn-theme-secondary"
            ng-href="history?userId={{user.userId}}"
            uib-tooltip="History for {{user.userId}}">
            <span class="fa fa-history"></span>
          </a>
          <a class="btn btn-sm btn-danger"
            ng-click="$ctrl.deleteUser(user)"
            uib-tooltip="Delete {{user.userId}}">
            <span class="fa fa-trash-o"></span>
          </a>
        </td>
      </tr>
      <tr ng-if="$ctrl.searchUsers !== undefined && !$ctrl.filteredUsers.length && $ctrl.users.data.length > 0">
        <td colspan="10" class="text-danger text-center">
          <span class="fa fa-warning"></span>&nbsp;
          <strong>No results match your search</strong>
        </td>
      </tr>
      <tr ng-if="$ctrl.users.data.length === 0">
        <td colspan="10" class="text-danger text-center">
          <span class="fa fa-warning"></span>&nbsp;
          <strong>No users or none that match your search. Create one by filling out the form below.</strong>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">

        <div class="row" id="newUser"> <!-- new user form -->

          <div class="col-sm-8">
            <div class="row margined-bottom-xlg">
              <div class="col-sm-9 col-sm-offset-3">
                <h3>New User</h3>
              </div>
            </div>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="userid" class="col-sm-3 control-label">User ID</label>
                <div class="col-sm-9">
                  <input id="userid" class="form-control input-sm" type="text"
                    ng-model="$ctrl.newuser.userId" focus-input="$ctrl.focusInput">
                </div>
              </div>
              <div class="form-group">
                <label for="username" class="col-sm-3 control-label">User Name</label>
                <div class="col-sm-9">
                  <input id="username" class="form-control input-sm" type="text"
                    ng-model="$ctrl.newuser.userName">
                </div>
              </div>
              <div class="form-group">
                <label for="expression" class="col-sm-3 control-label">Forced Expression</label>
                <div class="col-sm-9">
                  <input id="expression" class="form-control input-sm" type="text"
                    ng-model="$ctrl.newuser.expression">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                  <input id="password" class="form-control input-sm" type="password"
                    ng-model="$ctrl.newuser.password">
                </div>
              </div>
              <div>
              <button class="btn btn-sm btn-theme-tertiary pull-right margined-top"
                ng-click="$ctrl.createUser()">
                <span class="fa fa-plus-circle"></span>&nbsp;
                Create
              </button>
              <span ng-if="$ctrl.createError"
                class="pull-right alert alert-sm alert-danger margined-right-xxlg">
                <span class="fa fa-exclamation-triangle"></span>&nbsp;
                {{$ctrl.createError}}
              </span>
              </div>
            </form>
          </div>

          <div class="col-sm-4">
            <div class="row margined-bottom-xlg">
              <div class="col-sm-12"><h3>&nbsp;</h3></div>
            </div>
            <form class="form-horizontal">
              <div class="form-group form-group-sm">
                <div class="col-sm-offset-1 col-sm-11">
                  <div class="checkbox">
                    <label tooltip-placement="left"
                      uib-tooltip="Is the account currently enabled for anything?">
                      <input type="checkbox" ng-model="$ctrl.newuser.enabled">
                      Enabled
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-offset-1 col-sm-11">
                  <div class="checkbox">
                    <label tooltip-placement="left"
                      uib-tooltip="Can create new accounts and change the settings for other accounts">
                      <input type="checkbox" ng-model="$ctrl.newuser.createEnabled">
                      Admin
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-offset-1 col-sm-11">
                  <div class="checkbox">
                    <label tooltip-placement="left"
                      uib-tooltip="Can access the web interface. When off only APIs can be used">
                      <input type="checkbox" ng-model="$ctrl.newuser.webEnabled">
                      Web Interface
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-offset-1 col-sm-11">
                  <div class="checkbox">
                    <label tooltip-placement="left"
                      uib-tooltip="Can login using the web auth header. This setting doesn\'t disable the password so it should be scrambled">
                      <input type="checkbox" ng-model="$ctrl.newuser.headerAuthEnabled">
                      Web Auth Header
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-offset-1 col-sm-11">
                  <div class="checkbox">
                    <label tooltip-placement="left"
                      uib-tooltip="Can perform email searches">
                      <input type="checkbox" ng-model="$ctrl.newuser.emailSearch">
                      Email Search
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-offset-1 col-sm-11">
                  <div class="checkbox">
                    <label tooltip-placement="left"
                      uib-tooltip="Can delete tags or delete/scrub pcap data">
                      <input type="checkbox" ng-model="$ctrl.newuser.removeEnabled">
                      Can Remove Data
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div> <!-- /new user form -->

      </div>
    </div>
  </div>

</div>
